
@{
    ViewData["Title"] = "Contratos - Ambiente - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contratos Ambiente</h2>
<link rel="import" href="~/elements/contracts/contract_list.html">

<x-contractlist _areaid="2" _archived="@ViewBag.Archived" _contractno="@ViewBag.ContractNo"></x-contractlist>


