
@{
    ViewData["Title"] = "Folha De Horas - Ambiente - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Folha De Horas Ambiente</h1>
<link rel="import" href="~/elements/folhasdehoras/folhadehora_list.html">

<x-folhadehoralist _areaid="1" _folhadehoraid="@ViewBag.FolhaDeHorasNo" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))' _estado="0" _validacao="0" _integracaoajuda="0" _integracaokms="0"></x-folhadehoralist>