
@{
    ViewData["Title"] = "RequisicoesHistorico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/elements/prerequesitions/history_requesitions.html">
<h1 class="title">Histórico Requisições - Ambiente</h1>

<x-historyreq _areaid="2" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-historyreq>
