
@{
    ViewData["Title"] = "DiarioProjeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />

<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-checkbox/vaadin-checkbox.html">

<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">

<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-date-picker.html" />
<link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html" />

<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box-behavior.html" />

<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />

<link rel="import" href="~/elements/comboboxs/MovementTypeList.html" />
<link rel="import" href="~/elements/comboboxs/ProjectTypeList.html" />
<link rel="import" href="~/elements/comboboxs/ProjectList.html" />

<h1 class="title">Avença Fixa</h1>

<x-avencafixa></x-avencafixa>
<dom-module id="x-avencafixa">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />

        <style>
            input[readonly] {
                border: 2px solid transparent;
            }

            input {
                font: inherit;
            }

            .editGrid paper-input {
                max-width: 200px !important;
                font-size: 13px !important;
            }
        </style>

        <iron-ajax url="/Contratos/GetAllAvencaFixa" last-response="{{result}}" id="ajax_getall" method="post" auto handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/Contratos/GenerateInvoice" last-response="{{invoiceGen}}" id="ajax_generate" method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/Contratos/CountInvoice" last-response="{{invoiceCount}}" id="ajax_count" method="post" handle-as="json" content-type="application/json"></iron-ajax>

        <div class="subMenu">
            <paper-button class="tablinks" on-tap="_generateInvoice"><i class="fa fa-clipboard" aria-hidden="true"></i> Gerar Fatura</paper-button>
            <paper-button class="tablinks" on-tap="_count"><i class="fa fa-align-right" aria-hidden="true"></i> Contabilizar</paper-button>
        </div>

        <h2 class="separator">Autorizar Faturação Contratos</h2>

        <vaadin-grid id="avencaFixaTable" aria-label="Tabela Avença Fixa" items="[[result]]" class="editGrid">
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="contractNo">Nº Contrato</vaadin-grid-sorter>
                    <vaadin-grid-filter path="contractNo"></vaadin-grid-filter>
                </template>
                <template>
                    {{item.contractNo}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="description">Descrição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="description"></vaadin-grid-filter>
                </template>
                <template>
                    {{item.description}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="clientNo">Nº Cliente</vaadin-grid-sorter>
                    <vaadin-grid-filter path="clientNo"></vaadin-grid-filter>
                </template>
                <template>
                   {{item.clientNo}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="clientName">Nome Cliente</vaadin-grid-sorter>
                    <vaadin-grid-filter path="clientName"></vaadin-grid-filter>
                </template>
                <template>
                    {{item.clientName}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="invoiceValue">Valor da Fatura</vaadin-grid-sorter>
                    <vaadin-grid-filter path="invoiceValue"></vaadin-grid-filter>
                </template>
                <template>
                    {{item.invoiceValue}}€
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="numberOfInvoices">Nº Faturas a Emitar</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numberOfInvoices"></vaadin-grid-filter>
                </template>
                <template>
                    {{item.numberOfInvoices}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="invoiceTotal">Total a Faturar</vaadin-grid-sorter>
                    <vaadin-grid-filter path="invoiceTotal"></vaadin-grid-filter>
                </template>
                <template>
                   {{item.invoiceTotal}}€
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="contractValue">Valor do Contrato</vaadin-grid-sorter>
                    <vaadin-grid-filter path="contractValue"></vaadin-grid-filter>
                </template>
                <template>
                    {{item.contractValue}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="valueToInvoice">Valor por Faturar</vaadin-grid-sorter>
                    <vaadin-grid-filter path="valueToInvoice"></vaadin-grid-filter>
                </template>
                <template>
                    {{item.valueToInvoice}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="billedValue">Valor Faturado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="billedValue"></vaadin-grid-filter>
                </template>
                <template>
                   {{item.billedValue}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="regionCode">Cód. Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="regionCode"></vaadin-grid-filter>
                </template>
                <template>
                   [[_parseRegionCode({{item.regionCode}})]]
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="functionalAreaCode">Cód. Área Funcional</vaadin-grid-sorter>
                    <vaadin-grid-filter path="functionalAreaCode"></vaadin-grid-filter>
                </template>
                <template>
                    [[_parseFuncAreaCode({{item.functionalAreaCode}})]]
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="responsabilityCenterCode">Cód. Centro Responsabilidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="responsabilityCenterCode"></vaadin-grid-filter>
                </template>
                <template>
                    [[_parseRepCenterCode({{item.responsabilityCenterCode}})]]
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="nextInvoiceDate">Data Próxima Fatura</vaadin-grid-sorter>
                    <vaadin-grid-filter path="nextInvoiceDate"></vaadin-grid-filter>
                </template>
                <template>
                    {{item.nextInvoiceDate}}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
        
        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right"></paper-toast>
    </template>

    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-avencafixa',
                properties: {

                },

                openToast: function (message) {
                    this.$.ToastMessage.text = message;
                    this.$.ToastMessage.open();
                },

                _generateInvoice: function () {
                    this.$.ajax_generate.body = JSON.stringify(this.result);
                    this.$.ajax_generate.generateRequest();
                    this.$.avencaFixaTable.clearCache();

                },

                _count: function () {
                    this.$.ajax_count.body = JSON.stringify(this.result);
                    this.$.ajax_count.generateRequest();
                    this.$.avencaFixaTable.clearCache();
                },

                _parseRegionCode: function (param)
                {
                    if (param != undefined) {
                        var sel = this.CBRegions.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return "";
                },

                _parseFuncAreaCode: function (param)
                {
                    if (param != undefined) {
                        var sel = this.CBFunctionalAreas.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return "";

                },

                _parseRepCenterCode: function (param)
                {
                    if (param != undefined) {
                        var sel = this.CBResponsabilityCenterCodes.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return "";

                }
            });
        });
    </script>
</dom-module>

