
@{
    ViewData["Title"] = "Diário de Projeto - PO - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Diário de Projeto</h1>


<link rel="import" href="~/elements/projects/project_diary.html">

<x-projectdiary paramprojno="@ViewBag.ProjectNo" _areaid="6" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-projectdiary>
