@model Hydra.Such.Data.Database.ProcedimentosCcp

@{
    ViewData["Title"] = "Pedido Simplificado " + ViewBag.Historic + ViewBag.No; ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@if (ViewBag.No == "")
    {
        <h2>Criar Procedimento</h2>
    }
    else
    {
        <h2>Pedido Simplificado</h2>
    }*@

<link rel="import" href="~/elements/ccp/procedimento_detail_simplificado.html" />

<x-procedimentodetails _isHistoric="@ViewBag.ifHistoric" _procedimentoid="@ViewBag.No" _procedimentotypeid="2"></x-procedimentodetails>