@model Hydra.Such.Data.Database.ProcedimentosCcp

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<link rel="import" href="~/elements/ccp/prodecimento_detail.html" />

<x-procedimentodetails></x-procedimentodetails>
