@model IEnumerable<Hydra.Such.Data.Database.ProcedimentosCcp>

@{
    ViewData["Title"] = "Pedidos Simplificados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h2>Lista Pedidos Simplificados</h2>
    <p></p>*@
<link rel="import" href="~/elements/ccp/procedimentos_list.html" />

<x-procedimentoslist _procedimentotypeid="2"></x-procedimentoslist>
