@model IEnumerable<Hydra.Such.Data.Database.ProcedimentosCcp>

@{
    ViewData["Title"] = "Quadro de Bordo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Quadro de Bordo</h2>
<p></p>*@

<link rel="import" href="~/elements/ccp/quadro_bordo.html" />

<x-quadrobordo></x-quadrobordo>
