<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hydra.Such.NavApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Hydra.Such.NavApi.Properties.Settings>
            <setting name="Hydra_Such_NavApi_WSCreateProject_WSJob_Service"
                serializeAs="String">
                <value>http://10.101.1.13:7047/DynamicsNAV100/WS/CRONUS%20Portugal%20Ltd./Page/WSJob</value>
            </setting>
        </Hydra.Such.NavApi.Properties.Settings>
    </applicationSettings>
</configuration>