
@{
    ViewData["Title"] = "Detalhes Cliente " + @ViewBag.No;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@if (ViewBag.No == "" || ViewBag.No == null)
{
    <h1 class="title">Criar Cliente</h1>
}
else
{
    <h1 class="title">Cliente @ViewBag.No</h1>
}*@

<link rel="import" href="/elements/clients/client_details.html">

<x-clientdetails _no="@ViewBag.No" _areaid="4" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-clientdetails>
