
@{
    if (ViewBag.Option == "historico")
    {
        ViewData["Title"] = "Histórico Requisições Simplificadas";
    }
    else if (ViewBag.Option == "registar")
    {
        ViewData["Title"] = "Requisições Simplificadas para Registar";
    }
    else
    {
        ViewData["Title"] = "Requisições Simplificadas";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />

<x-simplifiedreq></x-simplifiedreq>
<dom-module id="x-simplifiedreq">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        <iron-ajax method="post" handle-as="json" content-type="application/json" last-response="{{SimplifiedRequisitions}}" id="grid_datasource" url="/RequisicoesSimplificadas/SimplifiedRequisitionsPage"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetRequisitionsStatus" last-response="{{GetRequisitionsStatus}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>

        <div class="marginSpace" id="ddmarginSpace">
            <template is="dom-if" if="{{ _permissions.delete }}">
                <paper-button class="btnSave" raised on-tap="_redirectToNewForm"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Criar</paper-button>
            </template>
        </div>

        <vaadin-grid id="gridrequisitionsimple" aria-label="gridrequisitionsimple" items="[[SimplifiedRequisitions]]" class="grid" active-item="{{activeItem}}" multi-sort="true">
            <vaadin-grid-column width="100px">
                <template class="header">
                    <vaadin-grid-sorter path="requisitionNo">Nº</vaadin-grid-sorter>
                    <vaadin-grid-filter path="requisitionNo" />
                </template>
                <template>
                    {{item.requisitionNo}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="status">Estado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="status" />
                </template>
                <template>
                    [[_parseStatus(item.status)]]
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="100px">
                <template class="header">
                    <vaadin-grid-sorter path="requisitionDate">Data Requisição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="requisitionDate" />
                </template>
                <template>
                    {{item.requisitionDate}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <vaadin-grid-sorter path="requisitionTime">Hora Requisição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="requisitionTime" />
                </template>
                <template>
                    {{item.requisitionTime}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <vaadin-grid-sorter path="locationCode">Cód. Localização</vaadin-grid-sorter>
                    <vaadin-grid-filter path="locationCode" />
                </template>
                <template>
                    {{item.locationCode}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <vaadin-grid-sorter path="regionCode">Cód. Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="regionCode" />
                </template>
                <template>
                    {{item.regionCode}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <vaadin-grid-sorter path="functionalAreaCode">Cód. Area</vaadin-grid-sorter>
                    <vaadin-grid-filter path="functionalAreaCode" />
                </template>
                <template>
                    {{item.functionalAreaCode}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <vaadin-grid-sorter path="responsabilityCenterCode">Cód. Centro Responsabilidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="responsabilityCenterCode" />
                </template>
                <template>
                    {{item.responsabilityCenterCode}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <vaadin-grid-sorter path="projectNo">Nº Projeto</vaadin-grid-sorter>
                    <vaadin-grid-filter path="projectNo" />
                </template>
                <template>
                    {{item.projectNo}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <vaadin-grid-sorter path="observations">Observações</vaadin-grid-sorter>
                    <vaadin-grid-filter path="observations" />
                </template>
                <template>
                    {{item.observations}}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

    </template>
    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-simplifiedreq',
                properties: {
                    activeItem: {
                        observer: '_onRowSelected'
                    },
                    _filterActive: {
                        type: Boolean,
                        value: true
                    }
                },

                ready: function () {
                    var option="@ViewBag.Option";
                    if (option =="registar") {
                        this.$.ddmarginSpace.style.display = 'none';
                        this.$.grid_datasource.body = JSON.stringify(option);
                    }
                    else if (option == "historico") {
                        this.$.ddmarginSpace.style.display = 'none';
                        this.$.grid_datasource.body = JSON.stringify(option);
                    }
                    this.$.grid_datasource.generateRequest();

                    var _this = this;
                    $(window).resize(function () {
                        _this.fixGridToBottom();
                    });
                    $(window).trigger('resize');
                },
                fixGridToBottom: function () {
                    var grid_el = $(this.$.gridrequisitionsimple);
                    var parentHeight = $(this).offsetParent().height();
                    var offsetTop = $(this).offset().top;
                    var height = parentHeight - offsetTop;
                    grid_el.height(height);
                },
                _onRowSelected: function (item) {
                    if (item != null) {
                        window.location.href = "/RequisicoesSimplificadas/Detalhes/" + item.requisitionNo;
                    }
                },
                _redirectToNewForm: function (item) {
                    if (item != null) {
                        window.location.href = "/RequisicoesSimplificadas/Detalhes";
                    }
                },
                _parseStatus: function (param) {
                    if (param != undefined) {

                        var sel = this.GetRequisitionsStatus.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return "";
                }
            });
        });
    </script>
</dom-module>

