
@{
    ViewData["Title"] = "FichaTecnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="/lib/paper-tabs-master/paper-tab.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/iron-pages-master/iron-pages.html" />
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/such-textarea/such-textarea.html">
<link rel="import" href="/lib/paper-input/paper-input.html" />
<link rel="import" href="/lib/input-picker-pattern/input-picker-pattern.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-date-picker.html" />
<link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box-behavior.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="~/elements/comboboxs/MovementTypeList.html" />
<link rel="import" href="~/elements/comboboxs/ProjectTypeList.html" />
<link rel="import" href="~/elements/comboboxs/ProjectList.html" />
<link rel="import" href="~/lib/vaadin-upload/vaadin-upload.html" />
<link rel="import" href="/lib/such-textarea/such-textarea.html">

<h1 class="title">Cabeçalho Ficha Técnica</h1>
<x-recordtechnical></x-recordtechnical>
<dom-module id="x-recordtechnical">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <paper-toast id="ToastError" style="background-color:red" duration="4000" horizontalAlign="right"></paper-toast>
        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right"></paper-toast>

        <iron-ajax url="/PopulateDropdowns/GetLocations" last-response="{{CBLocations}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetMeasureUnits" last-response="{{CBOMeasureUnit}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetCookingTechnique" last-response="{{CBOCookingTechnique}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetClassificationFilesTechniques" last-response="{{CboClassificationFilesTechniques}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetLinesRecTechnicPlatesType" last-response="{{CbotLinesRecTecPlatesType}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetLinesRecordTechnicalOfPlatesCode" id="ajax_CboCode" last-response="{{CboCode}}" method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/Nutricao/FichasTecnicasPratos/GetAllProceduresConfection" id="ajax_GridProcedConfec" last-response="{{GridProceduresConfection}}" method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/Nutricao/FichasTecnicasPratos/GetAllRecTecPlatesBYPlate" id="ajax_GetAllRecTecPlat" last-response="{{GetAllRecTecPlatResult}}" on-response="_GetRecTecPlatResponse" method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/Nutricao/FichasTecnicasPratos/CreateRecordTechnicalOfPlates" id="createRecTec_ajax" last-response="{{CreateResult}}" on-response="_CreateResponse" method="post" handle-as="json" content-type="application/json"></iron-ajax>

        


        <paper-tabs fit-container no-slide autoselect autoselect-delay="0" selected="{{selected}}">
            <paper-tab>Geral</paper-tab>
            <paper-tab>Classificação</paper-tab>
            <paper-tab>Observações</paper-tab>
            <paper-tab>Confeção</paper-tab>
            <paper-tab>Alergénios</paper-tab>
            <paper-tab>Imagem</paper-tab>
        </paper-tabs>
        <iron-pages selected="{{selected}}">
            <!--Geral-->
            <div>
                <div class="row">
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{RecTecPlatValue}}" maxlength="20" id="plateNoid" name="plateNoName" label="Nº" disabled> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{recTecNameValue}}" maxlength="20" id="recordTechnicalNameid" name="recTecName" label="Nome Ficha Técnica"> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-combo-box value="{{CodMeasureUnitValue}}" id="piCodeMeasurementUnit" name="piCodeMeasurementUnit" items="[[CBOMeasureUnit]]" item-value-path="id" item-label-path="value" label="Cód. Unidade Medida">
                            <template>
                                <table width="200px">
                                    <tr>
                                        <td width="40%">[[item.id]]</td>
                                        <td width="60%"> <b>[[item.value]]</b></td>
                                    </tr>
                                </table>
                            </template>
                        </vaadin-combo-box>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-combo-box value="{{LocalizationsValue}}" items="[[CBLocations]]" id="_CBLocalizations" item-value-path="id" item-label-path="value" label="Cod. Localização">
                            <template>
                                <table width="200px">
                                    <tr>
                                        <td width="40%">[[item.id]]</td>
                                        <td width="60%"> <b>[[item.value]]</b></td>
                                    </tr>
                                </table>
                            </template>
                        </vaadin-combo-box>
                    </div>
                </div>
                <div class="row break_clear">
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{TPreparationValue}}" maxlength="20" id="TimePreparationid" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" name="TimePreparationName" label="Tempo Preparação">  <div slot="suffix">min.</div></vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-combo-box value="{{CookingTechniqueValue}}" items="[[CBOCookingTechnique]]" id="_CookingTechnique" item-value-path="id" item-label-path="value" label="Técnica Culinária">
                            <template>
                                <table width="200px">
                                    <tr>
                                        <td width="40%">[[item.id]]</td>
                                        <td width="60%"> <b>[[item.value]]</b></td>
                                    </tr>
                                </table>
                            </template>
                        </vaadin-combo-box>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{GroupValue}}" maxlength="20" id="Groupid" name="GroupName" label="Grupo"> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{EpochValue}}" maxlength="20" id="Epochid" name="EpochName" label="Época"> </vaadin-text-field>
                    </div>
                </div>
                <div class="row break_clear">
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{DosesNoValue}}" maxlength="20" id="DosesNoId" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" name="DosesNoName" label="Número de doses"> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{PreparTempValue}}" maxlength="20" id="PreparationTemperatureId" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" name="PreparationTemperatureName" label="Temperatura Preparação"> <div slot="suffix">°C</div> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{FinalTempConfectValue}}" maxlength="20" id="FinalTemperatureConfectionId" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" name="FinalTemperatureConfectionName" label="Temperatura final Confeção"><div slot="suffix">°C</div> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{ServeTempValue}}" maxlength="20" id="ServeTemperatureId" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" name="ServeTemperatureName" label="Temperatura a Servir"><div slot="suffix">°C</div> </vaadin-text-field>
                    </div>
                </div>
            </div>
            <!--Classificação-->
            <div>
                <div class="row">
                    <div class="col-lg-3">
                        <vaadin-combo-box value="{{ClassFt1Value}}" items="[[CboClassificationFilesTechniques]]" id="_ClassFilesTec1" item-value-path="id" item-label-path="value" label="Class.FT.1">
                            <template>
                                <table width="200px">
                                    <tr>
                                        <td width="40%">[[item.id]]</td>
                                        <td width="60%"> <b>[[item.value]]</b></td>
                                    </tr>
                                </table>
                            </template>
                        </vaadin-combo-box>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-combo-box value="{{ClassFt2Value}}" items="[[CboClassificationFilesTechniques]]" id="_ClassFilesTec2" item-value-path="id" item-label-path="value" label="Class.FT.2">
                            <template>
                                <table width="200px">
                                    <tr>
                                        <td width="40%">[[item.id]]</td>
                                        <td width="60%"> <b>[[item.value]]</b></td>
                                    </tr>
                                </table>
                            </template>
                        </vaadin-combo-box>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{ClassFt3Value}}" maxlength="20" id="ClassFt3id" name="ClassFt3Name" label="Class.FT.3"> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{ClassFt4Value}}" maxlength="20" id="ClassFt4id" name="ClassFt4Name" label="Class.FT.4"> </vaadin-text-field>
                    </div>
                </div>
                <div class="row break_clear">
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{ClassFt5Value}}" maxlength="20" id="ClassFt5id" name="ClassFt5Name" label="Class.FT.5"> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{ClassFt6Value}}" maxlength="20" id="ClassFt6id" name="ClassFt6Name" label="Class.FT.6"> </vaadin-text-field>
                    </div>
                    <div class="col-lg-3">
                        <vaadin-text-field value="{{ClassFt7Value}}" maxlength="20" id="ClassFt7id" name="ClassFt7Name" label="Class.FT.7"> </vaadin-text-field>
                    </div>
                </div>
            </div>
            <!--Observações-->
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <such-textarea value="{{NotesValue}}" rows="5" id="Notes" name="Notes" label="Observações"> </such-textarea>
                    </div>
                </div>
            </div>
            <!--Confeção-->
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <vaadin-grid id="gridConfection_request" aria-label="ProfileModelsTabel" items="[[GridProceduresConfection]]" class="grid" active-item="{{_SelectedLine}}">
                            <vaadin-grid-column width="160px" resizable hidden>
                                <template class="header">
                                    <vaadin-grid-sorter path="TechnicalSheetNo">No. Ficha Técnica </vaadin-grid-sorter>
                                    <vaadin-grid-filter path="TechnicalSheetNo" />
                                </template>
                                <template>
                                    {{item.TechnicalSheetNo}}
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="160px" resizable>
                                <template class="header">
                                    <vaadin-grid-sorter path="actionNo">Ação</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="actionNo" />
                                </template>
                                <template>
                                    {{item.actionNo}}
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="160px" resizable>
                                <template class="header">
                                    <vaadin-grid-sorter path="description">Descrição</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="description" />
                                </template>
                                <template>
                                    {{item.description}}
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="160px" resizable>
                                <template class="header">
                                    <vaadin-grid-sorter path="orderNo">No. Ordem</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="orderNo" />
                                </template>
                                <template>
                                    {{item.orderNo}}
                                </template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                </div>
            </div>
            <!--Alergénios-->
            <div>
                <div>
                    <div class="row">
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{WithGlutenChecked}}" id="WithGlutenId">Cereais que contêm glúten</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedCrustaceansChecked}}" id="BasedCrustaceansId">Prod. à base de crustáceos</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedEggsChecked}}" id="BasedEggsId">Prod. à base de ovos</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedFishChecked}}" id="BasedFishId">Prod. à base de peixes</vaadin-checkbox>
                        </div>
                    </div>
                    <div class="row break_clear">
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedPeanutsChecked}}" id="BasedPeanutsId">Prod. à base de amendoins</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedSoyChecked}}" id="BasedSoyId">Prod. à base de soja</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedMilkChecked}}" id="BasedMilkId">Prod. à base de leite</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedFruitShardShellChecked}}" id="BasedFruitShardShellId">Prod. à base de frutos de casca rija</vaadin-checkbox>
                        </div>
                    </div>
                    <div class="row break_clear">
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedCeleryChecked}}" id="BasedCeleryId">Prod. à base de aipo</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedMustardChecked}}" id="BasedMustardId">Prod. à base de mostarda</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedSesameSeedsChecked}}" id="BasedSesameSeedsId">Prod. à base de sementes de sésamo</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedLupineChecked}}" id="BasedLupineId">Prod. à base de tremoço</vaadin-checkbox>
                           </div>
                    </div>
                    <div class="row break_clear">
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedMolluscsChecked}}" id="BasedMolluscsId">Prod. à base de moluscos</vaadin-checkbox>
                        </div>
                        <div class="col-lg-3 alignPoga">
                            <vaadin-checkbox checked="{{BasedSulfSulphChecked}}" id="BasedSulfurDioxideAndSulphitesId">Dióxido de enxofre e sulfitos em concentração superior a 10 mg/kg ou 10 mg/l</vaadin-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <!--Imagem-->
        <div>
            <div class="imgcenter">
                <div class="imgcenter">
                    @*<input id="ifile" type="file">
                    <cpol-image output-data='{{result}}'></cpol-image>
                    <paper-button on-tap='_exe'>Process</paper-button>
                    <img src$='[[_computeBlob(hasil)]]'>*@
                    @*<img src="{{ LocalImage }}" alt="" width="310" height="310">*@
                    <cpol-image output-data="{{LocalImage}}"></cpol-image>
                    <input type="file" name="filename" id="myFile" on-change="_btnUpload">
                </div>
            </div>
           
        </div>
        </iron-pages>
        <div class="row" hidden="{{ !_CreateOnly }}">
            <div class="col-lg-2 alignPoga">
                <paper-button class="btnSave" on-tap="_add"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Criar</paper-button>
            </div>
        </div>
        <div id="PreRequiLinesPanel" class="panel panel-default" hidden="{{ _CreateOnly }}">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Linhas Fichas Técnicas</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-combo-box items="[[CbotLinesRecTecPlatesType]]" id="LineTypeid" on-value-changed="_LineTypeChange" item-value-path="id" item-label-path="value" value="" label="Tipo">
                                        <template>
                                            <table width="200px">
                                                <tr>
                                                    <td width="40%">[[item.id]]</td>
                                                    <td width="60%"> <b>[[item.value]]</b></td>
                                                </tr>
                                            </table>
                                        </template>
                                    </vaadin-combo-box>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-combo-box items="[[CboCode]]" id="Codeid" on-value-changed="_CodeChange" item-value-path="id" item-label-path="id" value="" label="Código">
                                        <template>
                                            <table width="200px">
                                                <tr>
                                                    <td width="40%">[[item.id]]</td>
                                                    <td width="60%"> <b>[[item.value]]</b></td>
                                                </tr>
                                            </table>
                                        </template>
                                    </vaadin-combo-box>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" id="Descriptionid" name="DescriptionName" label="Descrição"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Quantityid" name="QuantityName" label="Quantidade"> </vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-combo-box id="UnitMeasureCodeid" name="UnitMeasureCodeid" items="[[CBOMeasureUnit]]" item-value-path="id" value="" item-label-path="value" label="Cód. Unidade Medida">
                                        <template>
                                            <table width="200px">
                                                <tr>
                                                    <td width="40%">[[item.id]]</td>
                                                    <td width="60%"> <b>[[item.value]]</b></td>
                                                </tr>
                                            </table>
                                        </template>
                                    </vaadin-combo-box>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="QuantityOfProductionid" name="QuantityOfProductionName" label="Quantidade de Produto"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="EnergeticValueid" name="EnergeticValueName" label="Valor Energético"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Proteinsid" name="ProteinsName" label="Proteínas"> </vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="HydratesOfCarbontid" name="HydratesOfCarbontName" label="Hidratos de Carbono"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Lipidsid" name="LipidsName" label="Lípidos"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Fibersid" name="FibersName" label="Fibras"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="ExpectedCostPriceid" name="ExpectedCostPriceName" label="Preço Custo Esperado"> <div slot="suffix">€</div></vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="CurrentCostPriceid" name="CurrentCostPriceName" label="Preço Custo Atual"> <div slot="suffix">€</div></vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="TimeExpectedCostPriceid" name="TimeExpectedCostPriceName" label="TPreço Custo Esperado"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="TimeCurrentCostPriceid" name="TimeCurrentCostPriceName" label="TPreço Custo Atual"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-combo-box items="[[CBLocations]]" id="LocalizationCodeid" item-value-path="id" item-label-path="value" value="" label="Cod. Localização">
                                        <template>
                                            <table width="200px">
                                                <tr>
                                                    <td width="40%">[[item.id]]</td>
                                                    <td width="60%"> <b>[[item.value]]</b></td>
                                                </tr>
                                            </table>
                                        </template>
                                    </vaadin-combo-box>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="ProteinsByQuantityid" name="ProteinsByQuantityName" label="Proteínas por Quantidade"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="GlicansByQuantityid" name="GlicansByQuantityName" label="Glícidos por Quantidade"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="LipidsByQuantityid" name="LipidsByQuantityName" label="Lípidos por Quantidade"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="FibersByQuantityid" name="FibersByQuantityName" label="Fibras por Quantidade"> </vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="EnergeticValue2id" name="EnergeticValue2Name" label="Valor Energético 2"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="VitaminAid" name="VitaminAName" label="Vitamina A"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="VitaminDid" name="VitaminDName" label="Vitamina D"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Cholesterolid" name="CholesterolName" label="Colesterol"> </vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Sodiumid" name="SodiumName" label="Sódio"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Potassiumid" name="PotassiumName" label="Potássio"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Calciumid" name="CalciumName" label="Cálcio"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Ironid" name="IronName" label="Ferro"> </vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Edivelid" name="EdivelName" label="Edivel"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="VitaminAByQuantityid" name="VitaminAByQuantityName" label="Vitamina A por Quantidade"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="VitaminDByQuantityid" name="VitaminDByQuantityName" label="Vitamina D por Quantidade"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="CholesterolByQuantityid" name="CholesterolByQuantityName" label="Colesterol por Quantidade"> </vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="SodiumByQuantityid" name="SodiumByQuantityName" label="Sódio por Quantidade"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="PotassiumByQuantityid" name="PotassiumByQuantityName" label="Potásio por Quantidade"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="IronByQuantityid" name="IronByQuantityName" label="Ferro por Quantidade"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="CalciumByQuantityid" name="CalciumByQuantityName" label="Cálcio por Quantidade"> </vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="SaturatedFattyAcidsid" name="SaturatedFattyAcidsName" label="Ácidos Gordos Saturados"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="Sugarcaneid" name="TSugarcaneName" label="Açucares"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="saltid" name="saltName" label="Sal"> </vaadin-text-field>
                                </div>
                                <div class="col-lg-3">
                                    <vaadin-text-field value="" maxlength="20" pattern="^[0-9]\d*(\.\d+)?$" class="alignRight" id="QuantityPlatesid" name="QuantityPlatesName" label="Quantidade Prato"> </vaadin-text-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <such-textarea rows="5" value="" id="Preparationid" name="PreparationName" label="Preparação"> </such-textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
<script>
    document.addEventListener('WebComponentsReady', function () {
        Polymer({
            is: 'x-recordtechnical',
            properties: {
                selected: {
                    type: Number,
                    value: 0
                },
                _CreateOnly: {
                    type: Boolean,
                    value: false
                },
                RecTecPlatValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                recTecNameValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                CodMeasureUnitValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                LocalizationsValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                TPreparationValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                CookingTechniqueValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                GroupValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                EpochValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                DosesNoValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                PreparTempValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                FinalTempConfectValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                ServeTempValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                ClassFt1Value: {
                    type: String,
                    notify: true,
                    value: ""
                },
                ClassFt2Value: {
                    type: String,
                    notify: true,
                    value: ""
                },
                ClassFt3Value: {
                    type: String,
                    notify: true,
                    value: ""
                },
                ClassFt4Value: {
                    type: String,
                    notify: true,
                    value: ""
                },
                ClassFt5Value: {
                    type: String,
                    notify: true,
                    value: ""
                },
                ClassFt6Value: {
                    type: String,
                    notify: true,
                    value: ""
                },
                ClassFt7Value: {
                    type: String,
                    notify: true,
                    value: ""
                },
                NotesValue: {
                    type: String,
                    notify: true,
                    value: ""
                },
                LocalImage: {
                    type: String,
                    notify: true,
                    value: ""
                },
                WithGlutenChecked: {
                type: Boolean,
                value: false
                },
                BasedCrustaceansChecked: {
                    type: Boolean,
                    value: false
                },
                BasedEggsChecked: {
                    type: Boolean,
                    value: false
                },
                BasedFishChecked: {
                    type: Boolean,
                    value: false
                },
                BasedPeanutsChecked: {
                    type: Boolean,
                    value: false
                },
                BasedSoyChecked: {
                    type: Boolean,
                    value: false
                },
                BasedMilkChecked: {
                    type: Boolean,
                    value: false
                },
                BasedFruitShardShellChecked: {
                    type: Boolean,
                    value: false
                },
                BasedCeleryChecked: {
                    type: Boolean,
                    value: false
                },
                BasedMustardChecked: {
                    type: Boolean,
                    value: false
                },
                BasedSesameSeedsChecked: {
                    type: Boolean,
                    value: false
                },
                BasedLupineChecked: {
                    type: Boolean,
                    value: false
                },
                BasedMolluscsChecked: {
                    type: Boolean,
                    value: false
                },
                BasedSulfSulphChecked: {
                    type: Boolean,
                    value: false
                }
            },
            _btnUpload: function (e) {
                debugger;
                var file = this.$.myFile.files[0].name;
                //this.$.coba.processImageFile(file);
                //var file = this.$.myFile.value.split("fakepath");
                //file = "/images/" + file[1].substring(1);
                this.LocalImage = file;

            },
            _openToast: function (message) {
                this.$.ToastMessageSuccess.text = message;
                this.$.ToastMessageSuccess.open();
            },
            _openToastError: function (message) {
                this.$.ToastMessageError.text = message;
                this.$.ToastMessageError.open();
            },
            ready: function () {
                var RecTecPlatId = @Html.Raw(Json.Serialize(ViewBag.RecTecPlatesId));
                if (RecTecPlatId != "" && RecTecPlatId != null) {
                    this.RecTecPlatValue = RecTecPlatId;
                    this.$.ajax_GridProcedConfec.body = JSON.stringify(RecTecPlatId);
                    this.$.ajax_GridProcedConfec.generateRequest();
                    this.$.ajax_GetAllRecTecPlat.body = JSON.stringify(RecTecPlatId);
                    this.$.ajax_GetAllRecTecPlat.generateRequest();
                } else {
                    this._CreateOnly = true;
                }
            },
            _LineTypeChange: function (e) {
                if (e.detail.value != null && e.detail.value != "") {
                    this.$.ajax_CboCode.body = JSON.stringify(e.detail.value);
                    this.$.ajax_CboCode.generateRequest();
                }
            },
            _CodeChange: function (e) {
                if (e.detail.value != null && e.detail.value != "") {
                    var sel = this.CboCode.find(x => x.id == e.detail.value).value;
                    if (sel != "") {
                        this.$.Descriptionid.value = sel;
                    }
                }
            },
            _add() {
                var newRecTec = {
                    plateNo: this.RecTecPlatValue,
                    unitMeasureCode: this.CodMeasureUnitValue,
                    recordTechnicalName: this.recTecNameValue,
                    localizationCode: this.LocalizationsValue,
                    preparationTime: this.TPreparationValue,
                    technicalCooking: this.CookingTechniqueValue,
                    group: this.GroupValue,
                    epoch: this.EpochValue,
                    dosesNo: this.DosesNoValue,
                    preparationTemperature: this.PreparTempValue,
                    finalTemperatureConfection: this.FinalTempConfectValue,
                    serveTemperature: this.ServeTempValue,
                    classFt1: this.ClassFt1Value,
                    classFt2: this.ClassFt2Value,
                    classFt3: this.ClassFt3Value,
                    classFt4: this.ClassFt4Value,
                    classFt5: this.ClassFt5Value,
                    classFt6: this.ClassFt6Value,
                    classFt7: this.ClassFt7Value,
                    observations: this.NotesValue,
                    withGluten: this.WithGlutenChecked,
                    basedCrustaceans: this.BasedCrustaceansChecked,
                    basedEggs: this.BasedEggsChecked,
                    basedFish: this.BasedFishChecked,
                    basedPeanuts: this.BasedPeanutsChecked,
                    basedSoy: this.BasedSoyChecked,
                    basedMilk: this.BasedMilkChecked,
                    basedFruitShardShell: this.BasedFruitShardShellChecked,
                    basedCelery: this.BasedCeleryChecked,
                    basedMustard: this.BasedMustardChecked,
                    basedSesameSeeds: this.BasedSesameSeedsChecked,
                    basedLupine: this.BasedLupineChecked,
                    basedMolluscs: this.BasedMolluscsChecked,
                    basedSulfurDioxeAndSulphites: this.BasedSulfSulphChecked
                    //classFt8: this.recTecNameValue,
                    //image: this.recTecNameValue,
                    //variationPriceCost: this.recTecNameValue,
                    //centerResponsibilityCode: this.recTecNameValue,
                    //description: this.recTecNameValue,
                    //state: this.recTecNameValue,
                };
                this.$.createRecTec_ajax.body = JSON.stringify(newRecTec);
                this.$.createRecTec_ajax.generateRequest();
            },
            _GetRecTecPlatResponse: function (GetAllRecTecPlatResult) {
                if (GetAllRecTecPlatResult != null) {
                    if (this.GetAllRecTecPlatResult.length > 0) {
                        this.recTecNameValue = this.GetAllRecTecPlatResult[0].recordTechnicalName;
                        this.CodMeasureUnitValue = this.GetAllRecTecPlatResult[0].unitMeasureCode;
                        this.LocalizationsValue = this.GetAllRecTecPlatResult[0].localizationCode;
                        this.TPreparationValue = this.GetAllRecTecPlatResult[0].preparationTime;
                        this.CookingTechniqueValue = this.GetAllRecTecPlatResult[0].technicalCooking;
                        this.GroupValue = this.GetAllRecTecPlatResult[0].group;
                        this.EpochValue = this.GetAllRecTecPlatResult[0].epoch;
                        this.DosesNoValue = this.GetAllRecTecPlatResult[0].dosesNo;
                        this.PreparTempValue = this.GetAllRecTecPlatResult[0].preparationTemperature;
                        this.FinalTempConfectValue = this.GetAllRecTecPlatResult[0].finalTemperatureConfection;
                        this.ServeTempValue = this.GetAllRecTecPlatResult[0].serveTemperature;
                        this.ClassFt1Value = this.GetAllRecTecPlatResult[0].classFt1;
                        this.ClassFt2Value = this.GetAllRecTecPlatResult[0].classFt2;
                        this.ClassFt3Value = this.GetAllRecTecPlatResult[0].classFt3;
                        this.ClassFt4Value = this.GetAllRecTecPlatResult[0].classFt4;
                        this.ClassFt5Value = this.GetAllRecTecPlatResult[0].classFt5;
                        this.ClassFt6Value = this.GetAllRecTecPlatResult[0].classFt6;
                        this.ClassFt7Value = this.GetAllRecTecPlatResult[0].classFt7;
                        this.NotesValue = this.GetAllRecTecPlatResult[0].observations;
                        this.WithGlutenChecked = this.GetAllRecTecPlatResult[0].withGluten;
                        this.BasedCrustaceansChecked = this.GetAllRecTecPlatResult[0].basedCrustaceans;
                        this.BasedEggsChecked = this.GetAllRecTecPlatResult[0].basedEggs;
                        this.BasedFishChecked = this.GetAllRecTecPlatResult[0].basedFish;
                        this.BasedPeanutsChecked = this.GetAllRecTecPlatResult[0].basedPeanuts;
                        this.BasedSoyChecked = this.GetAllRecTecPlatResult[0].basedSoy;
                        this.BasedMilkChecked = this.GetAllRecTecPlatResult[0].basedMilk;
                        this.BasedFruitShardShellChecked = this.GetAllRecTecPlatResult[0].basedFruitShardShell;
                        this.BasedCeleryChecked = this.GetAllRecTecPlatResult[0].basedCelery;
                        this.BasedMustardChecked = this.GetAllRecTecPlatResult[0].basedMustard;
                        this.BasedSesameSeedsChecked = this.GetAllRecTecPlatResult[0].basedSesameSeeds;
                        this.BasedLupineChecked = this.GetAllRecTecPlatResult[0].basedLupine;
                        this.BasedMolluscsChecked = this.GetAllRecTecPlatResult[0].basedMolluscs;
                        this.BasedSulfSulphChecked = this.GetAllRecTecPlatResult[0].basedSulfurDioxeAndSulphites;
                    } 
                }
            }
        });
    });
</script>
</dom-module>