
@{
    ViewData["Title"] = "Apoio - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Apoio</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("Projetos", "Apoio")" image="projects1.png" title="Projetos"></x-submenu>
    <x-submenu link="@Url.Action("DiarioProjeto", "Projetos")" image="projects1.png" title="Diário Projetos"></x-submenu>
    <x-submenu link="@Url.Action("AutorizacaoFaturacao", "Projetos")" image="projects1.png" title="Autorização Faturação"></x-submenu>
    <x-submenu link="@Url.Action("Administracao", "Apoio")" image="auxiliary1.png" title="Administração"></x-submenu>
</ul>


