
@{
    ViewData["Title"] = "Oportunidades - Apoio - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Oportunidades Ambiente</h1>
<link rel="import" href="~/elements/oportunities/oportunities_list.html">

<x-oportunitieslist _areaid="5" _archived="@ViewBag.Archived" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))' _contractno="@ViewBag.ContractNo"></x-oportunitieslist>
