
@{
    ViewData["Title"] = "RequisicoesPendentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/elements/prerequesitions/pending_requesitions.html">
<h1 class="title">Requisições Pendentes - Apoio</h1>

<x-pendingreq _areaid="5" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-pendingreq>
