
@{
    ViewData["Title"] = "Viaturas - Apoio - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Viaturas</h2>

<link rel="import" href="~/elements/viaturas/viaturas_list.html">

<x-viaturaslist _areaid="5"></x-viaturaslist>