
@{
    ViewData["Title"] = "Detalhes Proposta - Internacionalizações - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/elements/contracts/proposal_details.html">

@if (ViewBag.ContractNo == "")
{
    <h2>Criar nova proposta</h2>
}
else
{
    <h1 class="title">Proposta @ViewBag.ContractNo</h1>
}


<x-proposalsdetails _contractno="@ViewBag.ContractNo" _versionno="@ViewBag.VersionNo" _areaid="8" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-proposalsdetails>