
@{
    ViewData["Title"] = "Projetos - Internacionalizações - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projetos Internacionalizações</h2>
<link rel="import" href="~/elements/projects/project_list.html">

<x-projectlist _areaid="8" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-projectlist>