
@{
    ViewData["Title"] = "RequisicoesPendentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/elements/prerequesitions/pending_requesitions.html">
<h1 class="title">Requisições Pendentes - Compras</h1>

<x-pendingreq _areaid="10" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))' ></x-pendingreq>

