.signature {
  text-align: left;
  line-height: 1.2em;
  height: 100%;
}

.signature-pad {
  //display: inline-block;
  //position: relative;
  //left: 50%;
  //top: 50%;
  //transform: translate3d(-50%, -50%, 0);
  //border: solid;

  &__wrapper {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    display: none;

    &--open {
      display: block;
      opacity: 1;
      z-index: 1000;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

  }

  &__close {
    &__wrapper {
      position: absolute;
      z-index: 100;
      top: 15px;
      right: 15px;
      display: inline-block;
    }
  }

  &__actions {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 16px 35px 40px 35px;
    margin: 0;
    text-align: right;

    > button {
      &:first-of-type {
        margin-right: 15px;
      }
    }
  }
}