
@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Folha de Horas FH0001</h2>


<link rel="import" href="~/elements/folhasdehoras/folhadehora_details.html">

<x-folhadehoradetails _folhadehoraid="FH0001" _areaid="1"></x-folhadehoradetails>