
@{
    ViewData["Title"] = "Detalhes Folha de Horas - Engenharia - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.FolhaDeHorasNo == "")
{
    <h2>Criar nova Folha de Horas</h2>
}
else
{
    <h2>Folha de Horas @ViewBag.FolhaDeHorasNo</h2>
}


<link rel="import" href="/elements/folhasdehoras/folhadehora_details.html">

<x-folhadehoradetails _folhadehoraid="@ViewBag.FolhaDeHorasNo" _areaid="1" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-folhadehoradetails>
