
@{
    ViewData["Title"] = "Contratos - Internacional - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Contratos Internacional</h1>

<link rel="import" href="~/elements/contracts/contract_list.html">

<x-contractlist _areaid="8" _archived="@ViewBag.Archived"  _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))' _contractno="@ViewBag.ContractNo"></x-contractlist>

