<?xml version="1.0"?>
<!-- 
    Observação: como alternativa à edição manual desse arquivo, você pode usar a 
    ferramenta de administração da Web para definir configurações para o seu aplicativo. Use
    a opção Website->Asp.Net Configuration no Visual Studio.
    Uma lista completa de configurações e comentários pode ser encontrada em 
    machine.config.comments geralmente localizado em
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>



    <connectionStrings>
        <add name="ReportConnectionString" connectionString="Data Source=10.101.1.10\SQLNAVDEV;Initial Catalog=PlataformaOperacionalSUCH;Persist Security Info=True;User ID=such_portal_user;Password=SuchPW.2K17"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.6.1">

        <buildProviders>
          <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </buildProviders>

        <assemblies>
          <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
          <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        </assemblies>
      </compilation>

      <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      </httpHandlers>
    </system.web>

    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <handlers>
        <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode"  type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </handlers>
    </system.webServer>

</configuration>
