.pivot-table {
  &__text-field {

  }

  .sorting-blocked {
    &:hover {
      .MuiTableSortLabel-icon {
        opacity: 0 !important;
      }
    }

    .MuiTableSortLabel-root:hover {
      .MuiTableSortLabel-icon {
        opacity: 0 !important;
      }
    }
  }

  .MuiTableSortLabel-root:hover {
    &:before {
      opacity: 0 !important;
    }
  }
}

.unsigned-om {
  border-radius: 7px;
  background: #384552 !important;
  display: inline-block;
  color: white;
  font-weight: 400;
  font-size: 10px;
  padding: 0 8px;
  line-height: 1.9em;
  position: relative;
  top: 7px;
}