@{
    ViewData["Title"] = "Gestão Requisições";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-selection-column.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-active-item-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-selection-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-date-picker.html" />
<link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box-behavior.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="~/elements/comboboxs/MovementTypeList.html" />
<link rel="import" href="~/elements/comboboxs/ProjectTypeList.html" />
<link rel="import" href="~/elements/comboboxs/ProjectList.html" />

<!--ACORDEÃO-->
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-item.html">

<!--start ColumnToggle-->
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/iron-icons/iron-icons.html" />
<link rel="import" href="/lib/iron-behaviors/iron-button-state.html" />
<link rel="import" href="/lib/paper-menu-button/paper-menu-button.html" />
<!--end ColumnToggle-->

<x-request></x-request>

<dom-module id="x-request">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        <custom-style>
            <style is="custom-style">
                input[readonly] {
                    border: 2px solid transparent;
                }

                input {
                    font: inherit;
                }

                .grid {
                    font-size: 13px;
                }

                    .grid input {
                        border: none;
                        padding-left: 5px;
                    }

                paper-input {
                    max-width: 200px !important;
                }

                .opacity05 {
                    opacity: 0.5;
                }

                .grid-header {
                    background: white;
                    border: 1px solid var(--divider-color, rgba(0, 0, 0, 0.08));
                }

                /*ACORDEÃO*/
                paper-collapse-item {
                    --paper-item: {
                    padding: 0 0;
                };
                    --paper-collapse-item-header: {
                    padding: 0 15px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-bottom: solid #ddd 1px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;

                };
                }

                .panel-body {
                    padding-top: 0px !important;
                }

                .panel-heading {
                    padding: 0 !important;
                }
            </style>
        </custom-style>

        <iron-ajax url="/GestaoRequisicoes/GetValidatedRequisitions"
                   id="ajax_getgrid"
                   last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   on-response="_getgridResponse"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/GestaoRequisicoes/ExportToExcel_GestaoRequisicoes"
                   last-response="{{export}}"
                   id="ajax_Export"
                   method="post"
                   handle-as="json"
                   on-response="_exportEXCELResponse"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/GestaoRequisicoes/CloseRequisition"
                   last-response="{{closeRequisitionResult}}"
                   id="ajax_closeRequisition"
                   method="post"
                   handle-as="json"
                   on-response="_closeRequisitionResponse"
                   content-type="application/json">
        </iron-ajax>




        <iron-ajax url="/PopulateDropdowns/GetRequestStatus" id="ajax_getstatus" auto last-response="{{resultstatus}}" method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetRegionCode" last-response="{{RegionData}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetResponsabilityCenterCode" last-response="{{ResponsabilityCenterData}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetFunctionalAreaCode" last-response="{{FunctionalAreaCodeData}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetLocalMarketRegions" last-response="{{LocalMarketRegions}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>

        <paper-collapse-item class="panel-heading" header="Filtros" opened>
            <div class="grid-header" id="gridheader">
                <div class="panel-body">
                    <div class="row break_clear">
                        <div class="col-sm-2">
                            <vaadin-text-field id="pesquisaNoRequisicao" name="pesquisaNoRequisicao" label="Filtrar por Nº Requisição:" value="" title="Filtrar por Nº Requisição:"></vaadin-text-field>
                        </div>

                        <div class="col-sm-2">
                            <vaadin-date-picker id="pesquisaData" name="pesquisaData" label="Filtrar a partir de:" value="{{ pesquisadate }}" title="Filtrar a partir de:"></vaadin-date-picker>
                        </div>

                        <div class="col-sm-2 alignPoga">
                            <paper-button raised id="btnUpdate" class="btnSave" on-tap="_search"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Pesquisar</paper-button>
                        </div>
                    </div>
                </div>
            </div>
        </paper-collapse-item>

        <div class="subMenu">
            <paper-button class="tablinks" on-tap="_goBack" title="Voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</paper-button>
            <paper-button id="btnExport" class="tablinks" on-tap="_exportEXCEL" title="Exportar para Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Exportar</paper-button>

            <!--start ColumnToggle-->
            <paper-menu-button class="column-toggle" no-animations id="gridOpcaoGeral">
                <paper-icon-button icon="view-column" slot="dropdown-trigger" alt="Colunas"></paper-icon-button>
                <div class="list-group" slot="dropdown-content">
                    <template is="dom-repeat" items="[[ _toArray(_columns)]]" id="columnsList">
                        <a href="javascript:void(0);" on-tap="_toggleColumn" data-item$="[[item]]" class$="list-group-item [[ _getColumnItemClass( item.key ) ]]">
                            {{ item.value.label }}
                        </a>
                        <hr />
                    </template>
                </div>
            </paper-menu-button>
            <!--end ColumnToggle-->

            <paper-button id="btnFechar" class="tablinks" on-tap="_closeRequisition" title="Fechar" hidden="{{ !_permissions.update }}"><i class="fa fa-close" aria-hidden="true"></i>&nbsp; Fechar Requisições</paper-button>
        </div>

        <vaadin-grid column-reordering-allowed id="gridrequest" selected-items={{selectedItems}} active-item="{{selectedItem}}" aria-label="ProfileModelsTabel" items="[[result]]" class="editGrid">
            <vaadin-grid-selection-column id="selectColumn" width="3%" resizable hidden="{{ !_permissions.update }}">
            </vaadin-grid-selection-column>

            <vaadin-grid-column width="3%" resizable>
                <template class="header">
                </template>
                <template>
                    <center>
                        <paper-button class="btnSave tableBtn" on-tap="_showRequisition" title="Ver Requisição"><i class="fa fa-info" aria-hidden="true"></i></paper-button>
                    </center>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.requisitionNo.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="requisitionNo">Nº Requisição </vaadin-grid-sorter>
                    <vaadin-grid-filter path="requisitionNo" value="[[filter.requisitionNo]]" />
                </template>
                <template>
                    {{item.requisitionNo}}
                </template>

            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.state.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="stateText">Estado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="stateText" value="[[filter.state]]" />
                </template>
                <template>
                    {{item.stateText}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.validationDateText.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="validationDateText">Data Validação</vaadin-grid-sorter>
                    <vaadin-grid-filter path="validationDateText" value="[[filter.validationDateText]]" />
                </template>
                <template>
                    {{item.validationDateText}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.urgent.hidden }}">
                <template class="header">
                    Urgente
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.urgent}}" disabled></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            @*<vaadin-grid-column width="160px" resizable hidden$="{{ _columns.buyCash.hidden }}">
                    <template class="header">
                        Compra a Dinheiro
                    </template>
                    <template>
                        <vaadin-checkbox checked="{{item.buyCash}}" disabled></vaadin-checkbox>
                    </template>
                </vaadin-grid-column>*@

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.alreadyPerformed.hidden }}">
                <template class="header">
                    Trabalho já executado
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.alreadyPerformed}}" disabled></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.requestNutrition.hidden }}">
                <template class="header">
                    Requisição Nutrição
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.requestNutrition}}" disabled></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.localMarket.hidden }}">
                <template class="header">
                    Mercado Local
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.localMarket}}" disabled></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.pedirOrcamento.hidden }}">
                <template class="header">
                    Pedir Orçamento
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.pedirOrcamento}}" disabled></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.attachment.hidden }}">
                <template class="header">
                    Anexo(s)
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.attachment}}" disabled></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.budget.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="budget">Orçamento</vaadin-grid-sorter>
                    <vaadin-grid-filter path="budget" value="[[filter.budget]]" />
                </template>
                <template>
                    {{item.budget}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.localMarketRegion.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="localMarketRegion">Região Mercado Local</vaadin-grid-sorter>
                    <vaadin-grid-filter path="localMarketRegion" value="[[filter.localMarketRegion]]" />
                </template>
                <template>
                    [[ _getLocalMarketRegionDescription(item.localMarketRegion) ]]
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.localMarketDate.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="localMarketDate">Data Mercado Local</vaadin-grid-sorter>
                    <vaadin-grid-filter path="localMarketDate" value="[[filter.localMarketDate]]" />
                </template>
                <template>
                    [[ _parseDateFormat(item.localMarketDate)]]
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.projectNo.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="projectNo">Nº Projeto</vaadin-grid-sorter>
                    <vaadin-grid-filter path="projectNo" value="[[filter.projectNo]]" />
                </template>
                <template>
                    {{item.projectNo}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.clientCode.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="clientCode">Cliente Nº</vaadin-grid-sorter>
                    <vaadin-grid-filter path="clientCode" value="[[filter.clientCode]]" />
                </template>
                <template>
                    {{item.clientCode}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.clientName.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="clientName">Cliente Nome</vaadin-grid-sorter>
                    <vaadin-grid-filter path="clientName" value="[[filter.clientName]]" />
                </template>
                <template>
                    {{item.clientName}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.regionCode.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="regionCode">Código Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="regionCode" value="[[filter.regionCode]]" />
                </template>
                <template>
                    @*[[ _parseregion(item.regionCode)]]*@
                    {{item.regionCode}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.functionalAreaCode.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="functionalAreaCode">Código Área Funcional</vaadin-grid-sorter>
                    <vaadin-grid-filter path="functionalAreaCode" value="[[filter.functionalAreaCode]]" />
                </template>
                <template>
                    @*[[ _parseArea(item.functionalAreaCode)]]*@
                    {{item.functionalAreaCode}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.centerResponsibilityCode.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="centerResponsibilityCode">Código Centro Responsabilidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="centerResponsibilityCode" value="[[filter.centerResponsibilityCode]]" />
                </template>
                <template>
                    @*[[ _parsecenterRespons(item.centerResponsibilityCode)]]*@
                    {{item.centerResponsibilityCode}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.localCode.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="localCode">Código Localização</vaadin-grid-sorter>
                    <vaadin-grid-filter path="localCode" value="[[filter.localCode]]" />
                </template>
                <template>
                    {{item.localCode}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.comments.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="comments">Observações</vaadin-grid-sorter>
                    <vaadin-grid-filter path="comments" value="[[filter.comments]]" />
                </template>
                <template>
                    {{item.comments}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.marketInquiryNo.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="marketInquiryNo">Nº Consulta Mercado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="marketInquiryNo" value="[[filter.marketInquiryNo]]" />
                </template>
                <template>
                    {{item.marketInquiryNo}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.orderNo.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="orderNo">Nº Encomenda</vaadin-grid-sorter>
                    <vaadin-grid-filter path="orderNo" value="[[filter.orderNo]]" />
                </template>
                <template>
                    {{item.orderNo}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.stockReplacement.hidden }}">
                <template class="header">
                    Reposição Stock
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.stockReplacement}}" disabled></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            @*<vaadin-grid-column width="160px" resizable hidden$="{{ _columns.reclamation.hidden }}">
                    <template class="header">
                        Reclamação
                    </template>
                    <template>
                        <vaadin-checkbox checked="{{item.reclamation}}" disabled></vaadin-checkbox>
                    </template>
                </vaadin-grid-column>*@

            @*<vaadin-grid-column width="160px" resizable hidden$="{{ _columns.requestReclaimNo.hidden }}">
                    <template class="header">
                        <vaadin-grid-sorter path="requestReclaimNo">Nº Requisição Reclamada</vaadin-grid-sorter>
                        <vaadin-grid-filter path="requestReclaimNo" value="[[filter.requestReclaimNo]]" />
                    </template>
                    <template>
                        {{item.requestReclaimNo}}
                    </template>
                </vaadin-grid-column>*@

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.requisitionDate.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="requisitionDate">Data requisição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="requisitionDate" value="[[filter.requisitionDate]]" />
                </template>
                <template>
                    [[ _parseDateFormat(item.requisitionDate)]]
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.createUser.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="createUser">Utilizador Criação</vaadin-grid-sorter>
                    <vaadin-grid-filter path="createUser" value="[[filter.createUser]]" />
                </template>
                <template>
                    {{item.createUser}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable hidden$="{{ _columns.estimatedValue.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="estimatedValue">Valor Estimado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="estimatedValue" value="[[filter.estimatedValue]]" />
                </template>
                <template>
                    {{item.estimatedValue}}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>
    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-request',
                properties: {
                    _permissions: {
                        type: Array,
                        value: @Html.Raw(Json.Serialize(ViewBag.UPermissions)),
                    },
                    _filterActive: {
                        type: Boolean,
                        value: true
                    },
                    selectedItems: {
                        type: Array,
                    },
                    pesquisadate: {
                        type: String,
                        value: @Html.Raw(Json.Serialize(ViewBag.PesquisaDate)),
                    },
                    _columns: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },
                    /*FILTROS*/
                    filter: {
                        type: Object,
                        value: {},
                    },
                },
                ready: function () {
                    this.$.pesquisaData.value = this.pesquisadate;

                    //if (!this.Flag) {
                        //this.result = null;
                        //this.$.ajax_getgrid.body = JSON.stringify({ "pesquisadata": this.$.pesquisaData.value, "pesquisaNoRequisicao": this.$.pesquisaNoRequisicao.value });
                        //this.$.ajax_getgrid.generateRequest();
                        //this.$.gridrequest.clearCache();
                    //}
                    //this.Flag = true;

                    /*FILTROS*/
                    window.handleGridListColumnsOrder(this.$.gridrequest, 'gestaorequisicoes-index');
                    window.grid = this.$.gridrequest;
                    window._this = this;

                    /*ColumnToggle*/
                    this._startColumnToggle();

                    var _this = this;
                    $(window).resize(function () {
                        _this.fixGridToBottom();
                    });
                    $(window).trigger('resize');
                },

                observers: [
                    '_onCacheLoaded(resultstatus,RegionData,FunctionalAreaCodeData,ResponsabilityCenterData,LocalMarketRegions)'
                ],
                _onCacheLoaded: function (resultstatus, RegionData, FunctionalAreaCodeData, ResponsabilityCenterData, LocalMarketRegions) {
                    this.$.pesquisaData.value = this.pesquisadate;

                    //if (!this.Flag) {
                    //    this.result = null;
                    //    this.$.ajax_getgrid.body = JSON.stringify({ "pesquisadata": this.$.pesquisaData.value, "pesquisaNoRequisicao": this.$.pesquisaNoRequisicao.value });
                    //    this.$.ajax_getgrid.generateRequest();
                    //    this.$.gridrequest.clearCache();
                    //}
                    //this.Flag = true;

                    /*FILTROS*/
                    window.handleGridListColumnsOrder(this.$.gridrequest, 'gestaorequisicoes-index');
                    window.grid = this.$.gridrequest;
                    window._this = this;

                    /*ColumnToggle*/
                    this._startColumnToggle();

                    var _this = this;
                    $(window).resize(function () {
                        _this.fixGridToBottom();
                    });
                    $(window).trigger('resize');
                },
                fixGridToBottom: function () {
                    var grid_el = $(this.$.gridrequest);
                    var parentHeight = $(this).offsetParent().height();
                    var offsetTop = $(this).offset().top;
                    var height = parentHeight - offsetTop - 150;
                    grid_el.height(height);
                },
                _parsestate: function (param1) {
                    if (param1 != undefined) {
                        if (this.resultstatus != null) {
                            var array = this.resultstatus;
                            if (param1 != undefined) {
                                return array.find(x => x.id == param1).value;
                            }
                        }
                    }
                    return "";

                },
                _rowSelected: function (item) {
                    if (item != null) {
                        /*FILTROS*/
                        var filters = {};
                        this.$.gridrequest._filters.map(function (value, index) {
                            filters[value.path] = value.value;
                        });
                        window.setGridFilter('gestaorequisicoes-index', filters || {});

                        window.location.href = "/GestaoRequisicoes/LinhasRequisicao/" + item.requisitionNo;
                    }
                },
                /*FILTROS*/
                created: function () {
                    this.filter = window.getGridFilter('gestaorequisicoes-index');
                },

                _parseregion: function (param) {
                    if (param != undefined && this.RegionData != undefined) {
                        var sel = this.RegionData.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return "";

                },
                _parseArea: function (param) {
                    if (param != undefined && this.FunctionalAreaCodeData != undefined) {
                        var sel = this.FunctionalAreaCodeData.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return "";

                },
                _parseDateFormat: function (date) {
                    if (date != null && date != "") {
                        var Date = date.split("T");
                        if (Date != "" && Date != undefined) {
                            var x = Date[0].split("-");
                            return x[2] + "-" + x[1] + "-" + x[0];
                        }
                    }
                },
                _parsecenterRespons: function (param) {
                    if (param != undefined && this.ResponsabilityCenterData != undefined) {
                        var sel = this.ResponsabilityCenterData.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return "";
                },
                _getLocalMarketRegionDescription: function (param) {
                    if (param != undefined && this.LocalMarketRegions != undefined) {
                        var sel = this.LocalMarketRegions.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return "";
                },

                openToastSuccess: function (message) {
                    this.$.ToastMessageSuccess.text = message;
                    this.$.ToastMessageSuccess.open();
                },
                openToastError: function (message) {
                    this.$.ToastMessageError.text = message;
                    this.$.ToastMessageError.open();
                },

                _search: function () {
                    this.result = null;
                    this.$.ajax_getgrid.body = JSON.stringify({ "pesquisadata": this.$.pesquisaData.value, "pesquisaNoRequisicao": this.$.pesquisaNoRequisicao.value });
                    this.$.ajax_getgrid.generateRequest();
                    this.$.gridrequest.clearCache();
                },

                _getgridResponse: function () {
                    this.openToastSuccess("Dados atualizados.");
                },

                _exportEXCEL: function() {
                    var result = this.$.gridrequest._filter(this.result);
                    if (result != null && result.length > 0) {
                        if (result.length <= 7500) {
                            result[0].ColunasEXCEL = this._columns;

                            this.$.ajax_Export.body = JSON.stringify(result);
                            this.$.ajax_Export.generateRequest();
                        }
                        else {
                            this.openToastError("Reduza o Nº de Linhas a Exportar, aplicando novos filtros.");
                        }
                    }
                },

                _exportEXCELResponse: function (e) {
                    var FileName = this.export;
                    location.href = '../GestaoRequisicoes/ExportToExcelDownload_GestaoRequisicoes?sFileName=' + FileName;
                },

                /*start - ColumnToggle*/
                _startColumnToggle: function () {
                    var columns = {
                        "requisitionNo": { hidden: false, label: "Nº Requisição" },
                        "state": { hidden: false, label: "Estado" },
                        "validationDateText": { hidden: false, label: "Data Validação" },
                        "urgent": { hidden: false, label: "Urgente" },
                        "alreadyPerformed": { hidden: false, label: "Trabalho já executado" },
                        "requestNutrition": { hidden: false, label: "Requisição Nutrição" },
                        "localMarket": { hidden: false, label: "Mercado Local" },
                        "pedirOrcamento": { hidden: false, label: "Pedir Orçamento" },
                        "attachment": { hidden: false, label: "Anexo(s)" },
                        "budget": { hidden: false, label: "Orçamento" },
                        "localMarketRegion": { hidden: false, label: "Região Mercado Local" },
                        "localMarketDate": { hidden: false, label: "Data Mercado Local" },
                        "projectNo": { hidden: false, label: "Nº Projeto" },
                        "clientCode": { hidden: false, label: "Cliente Nº" },
                        "clientName": { hidden: false, label: "Cliente Nome" },
                        "regionCode": { hidden: false, label: "Código Região" },
                        "functionalAreaCode": { hidden: false, label: "Código Área Funcional" },
                        "centerResponsibilityCode": { hidden: false, label: "Código Centro Responsabilidade" },
                        "localCode": { hidden: false, label: "Código Localização" },
                        "comments": { hidden: false, label: "Observações" },
                        "marketInquiryNo": { hidden: false, label: "Nº Consulta Mercado" },
                        "orderNo": { hidden: false, label: "Nº Encomenda" },
                        "stockReplacement": { hidden: false, label: "Reposição Stock" },
                        "requisitionDate": { hidden: false, label: "Data requisição" },
                        "createUser": { hidden: false, label: "Utilizador Criação" },
                        "estimatedValue": { hidden: false, label: "Valor Estimado" }

                    };

                    if (localStorage["request.ToggleColumn"]) {
                        var keys = Object.keys(columns);
                        var storedColumns = JSON.parse(localStorage["request.ToggleColumn"]);
                        for (var i = 0; i < keys.length; i++) {
                            columns[keys[i]] = storedColumns[keys[i]];
                        }
                    };
                    this._columns = columns;
                },
                _toggleColumn: function (event) {
                    var columnIndex = JSON.parse(event.target.dataset.item).key;
                    event.path[0].classList.toggle("selected");
                    this.set('_columns.' + columnIndex + '.hidden', (!this._columns[columnIndex].hidden));
                    if (typeof (Storage) !== "undefined") {
                        localStorage["request.ToggleColumn"] = JSON.stringify(this._columns);
                    }
                },
                _getColumnItemClass: function (columnIndex) {
                    return !this._columns[columnIndex].hidden ? "selected" : "";
                },
                _toArray: function (obj) {
                    return Object.keys(obj).map(function (key) {
                        return {
                            key: key,
                            value: obj[key]
                        };
                    });
                },
                /* end - ColumnToggle */

                _goBack: function (e) {
                    window.history.back();
                },

                _closeRequisition: function (e) {
                    if (this.selectedItems != null && this.selectedItems != "") {
                        if (this.result != null || this.result != undefined || this.result.length != 0) {
                            this.$.ajax_closeRequisition.body = JSON.stringify(this.selectedItems);
                            this.$.ajax_closeRequisition.generateRequest();
                        }
                        else {
                            this.openToastError("Não existem Requisições para Fechar.");
                        }
                    }
                    else {
                        this.openToastError("Não selecionou Requisições para fechar.");
                    }



                    this.selectedItems = [];
                },
                _closeRequisitionResponse: function () {
                    if (this.closeRequisitionResult == null || this.closeRequisitionResult == undefined || this.closeRequisitionResult.eReasonCode != 1) {
                        this.openToastError(this.closeRequisitionResult.eMessage);
                    }
                    else {
                        this.openToastSuccess(this.closeRequisitionResult.eMessage);

                        this.result = null;
                        this.$.ajax_getgrid.body = JSON.stringify({ "pesquisadata": this.$.pesquisaData.value, "pesquisaNoRequisicao": this.$.pesquisaNoRequisicao.value });
                        this.$.ajax_getgrid.generateRequest();
                        this.$.gridrequest.clearCache();
                    }
                },

                _showRequisition: function (e) {
                    if (e != null) {
                        var requisition = e.model.item.requisitionNo;

                        if (requisition != null) {
                            /*FILTROS*/
                            var filters = {};
                            this.$.gridrequest._filters.map(function (value, index) {
                                filters[value.path] = value.value;
                            });
                            window.setGridFilter('gestaorequisicoes-index', filters || {});

                            window.location.href = "/GestaoRequisicoes/LinhasRequisicao/" + requisition;
                        }
                    }
                },
            });
        });

    </script>
</dom-module>
