
@{
    ViewData["Title"] = "ObjetosDeServico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-input/paper-input.html" />
<link rel="import" href="~/lib/paper-checkbox-master/paper-checkbox.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<h1 class="title">Objetos De Serviço</h1>
<x-service-objects></x-service-objects>
<dom-module id="x-service-objects">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="~/css/main.css"/>

        <style>
            input[readonly] {
                border: 2px solid transparent;
            }

            input {
                font: inherit;
            }
            paper-input {
                max-width: 200px !important;
            }
        </style>
        @*POPULATE GRID*@
        <iron-ajax url="/TabelasAuxiliares/GetServiceObjectsData"
                   last-response="{{result}}"
                   method="post"
                   auto
                   on-response="_updateResponse"
                   handle-as="json"
                   id="ajax_update"
                   content-type="application/json"></iron-ajax>
        <iron-form id="formGeral">
            <form>
                <h2 class="separator">Novo Registo</h2>
                <table class="table inlineForm">
                    <tr>
                        <td width="20%"><paper-input id="piDescription" type="text" name="description" required label="Descrição" maxlength="20"></paper-input></td>
                        <td width="10%"><paper-checkbox id="pcBlocked">Bloqueado</paper-checkbox></td>
                        <td width="20%"><paper-input id="piDescription" type="text" name="description" required label="Descrição"></paper-input></td>
                        <td ><paper-button raised id="btnAddNew" class="btnSave" on-tap="_createAccessProfile">Novo</paper-button></td>
                    </tr>
                </table>
            </form>
        </iron-form>
        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right"></paper-toast>
    </template>
    <script>
        document.addEventListener('WebComponentsReady',
            function() {
                Polymer({
                    is: 'x-service-objects'
                });
            });
    </script>
</dom-module>


