@{
    ViewData["Title"] = "Receção de Faturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="/lib/paper-tabs-master/paper-tab.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/iron-pages-master/iron-pages.html" />
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="/lib/paper-dialog/paper-dialog.html" />
<link rel="import" href="/lib/paper-dialog-behavior/paper-dialog-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-active-item-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-selection-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-selection-column.html" />
<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/such-textarea/such-textarea.html">
<link rel="import" href="/lib/such-dropdown-menu/such-dropdown-menu.html" />





@*<link rel="import" href="/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />

<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-active-item-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-selection-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-selection-column.html" />

<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html" />
<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/paper-input/paper-input.html" />
<link rel="import" href="/lib/paper-checkbox-master/paper-checkbox.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/datetime-picker-master/date-picker.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/such-dropdown-menu/such-dropdown-menu.html" />
<link rel="import" href="/lib/paper-dialog/paper-dialog.html" />
<link rel="import" href="/lib/paper-dialog-behavior/paper-dialog-behavior.html" />
<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-text-field/vaadin-text-field.html">*@

<!--start ColumnToggle-->
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/iron-icons/iron-icons.html" />
<link rel="import" href="/lib/iron-behaviors/iron-button-state.html" />
<link rel="import" href="/lib/paper-menu-button/paper-menu-button.html" />
<!--end ColumnToggle-->

<x-rececaofaturas _rfperfil="@ViewBag.RFPerfil" _RFPerfilVisualizacao="@ViewBag._RFPerfilVisualizacao"></x-rececaofaturas>

<dom-module id="x-rececaofaturas">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <custom-style>
            <style is="custom-style">
                input[readonly] {
                    border: 2px solid transparent;
                }

                input {
                    font: inherit;
                }

                .grid {
                    font-size: 13px;
                }

                    .grid input {
                        border: none;
                        padding-left: 5px;
                    }

                paper-input {
                    max-width: 200px !important;
                }
            </style>
        </custom-style>
        <iron-ajax auto url="/PopulateDropdowns/GetBillingReceptionStates" last-response="{{ States }}" method="get" handle-as="json" content-type="application/json"></iron-ajax>

        <iron-ajax url="/Faturacao/GetBillingReceptions"
                   auto
                   last-response="{{BillingReceptions}}"
                   method="post"
                   handle-as="json"
                   id="grid_databound_ajax"
                   content-type="application/json">
        </iron-ajax>
        <iron-ajax url="/Faturacao/GetBillingReceptionsPendingExcept"
                   last-response="{{ BillingReceptions }}"
                   id="getPending_ajax"
                   method="get"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>
        <iron-ajax url="/Faturacao/GetBillingReceptionsHistory"
                   last-response="{{ BillingReceptions }}"
                   id="getHistory_ajax"
                   method="get"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>
        <iron-ajax url="/Faturacao/GetBillingReceptionsPending"
                   last-response="{{ BillingReceptions }}"
                   id="getPendingTotal_ajax"
                   method="get"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>
        <iron-ajax url="/Faturacao/GetBillingReceptionsPending"
                   last-response="{{ getViewResponse }}"
                   id="getPendingTotal1_ajax"
                   method="get"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>
        <iron-ajax auto url="/PopulateDropdowns/GetUtilizadoresByArea" last-response="{{ Users }}" method="get" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/Faturacao/ExportToExcel_RececaoFaturas"
                   last-response="{{export}}"
                   id="ajax_Export"
                   method="post"
                   handle-as="json"
                   on-response="_exportEXCELResponse"
                   content-type="application/json">
        </iron-ajax>
        <iron-ajax url="/Faturacao/UpdateBillingList"
                   id="updateDestination"
                   last-response="{{ updateDestinItem }}"
                   on-response="_updateDestinationResponse"
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <div class="subMenu">
            <template is="dom-if" if="{{ _permissions.create }}">
                <paper-button class="tablinks" on-tap="_create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Criar Nova</paper-button>
            </template>
            <such-dropdown-menu on-value-changed="_provisioningOptionSelected" title="Opções" items='[[ _provisioningMenuItems ]]' "></such-dropdown-menu>
            <paper-button class="tablinks" on-tap="_showPending"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Ver Pendentes</paper-button>
            <paper-button class="tablinks" on-tap="_showPendingAreas"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Pendentes Áreas</paper-button>
            <paper-button class="tablinks" on-tap="_showHistory"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Ver Histórico</paper-button>
            <paper-button id="btnExport" class="tablinks" on-tap="_exportEXCEL" title="Exportar para Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Exportar</paper-button>

            <!--start ColumnToggle-->
            <paper-menu-button class="column-toggle" no-animations id="gridOpcaoGeral">
                <paper-icon-button icon="view-column" slot="dropdown-trigger" alt="Colunas"></paper-icon-button>
                <div class="list-group" slot="dropdown-content">
                    <template is="dom-repeat" items="[[ _toArray(_columns)]]" id="columnsList">
                        <a href="javascript:void(0);" on-tap="_toggleColumn" data-item$="[[item]]" class$="list-group-item [[ _getColumnItemClass( item.key ) ]]">
                            {{ item.value.label }}
                        </a>
                        <hr />
                    </template>
                </div>
            </paper-menu-button>
            <!--end ColumnToggle-->
        </div>

        <vaadin-grid id="grdgrdBillingReceptions" aria-label="grdBillingReceptions" items="[[BillingReceptions]]" class="grid" active-item="{{activeItem}}" multi-sort="true">
            <vaadin-grid-column resizable hidden$="{{ _columns.id.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="id">Nº</vaadin-grid-sorter>
                    <vaadin-grid-filter path="id" />
                </template>
                <template>
                    {{item.id}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.tipoDocumentoDescricao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="tipoDocumentoDescricao">Tipo de Documento</vaadin-grid-sorter>
                    <vaadin-grid-filter path="tipoDocumentoDescricao" />
                </template>
                <template>
                    {{item.tipoDocumentoDescricao}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.estado.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="estadoDescricao">Estado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="estadoDescricao" />
                </template>
                <template>
                    {{ item.estadoDescricao }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.dataRececao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="dataRececao">Data de Receção</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataRececao" />
                </template>
                <template>
                    {{item.dataRececao}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codFornecedor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codFornecedor">Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codFornecedor" />
                </template>
                <template>
                    {{item.codFornecedor}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.numDocFornecedor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="numDocFornecedor">Núm. Doc. Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numDocFornecedor" />
                </template>
                <template>
                    {{item.numDocFornecedor}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.dataDocFornecedor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="dataDocFornecedor">Data Doc. Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataDocFornecedor" />
                </template>
                <template>
                    {{item.dataDocFornecedor}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.numEncomenda.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="numEncomenda">Núm. Encomenda</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numEncomenda" />
                </template>
                <template>
                    {{item.numEncomenda}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.numEncomendaManual.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="numEncomendaManual">Núm. Encomenda Manual</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numEncomendaManual" />
                </template>
                <template>
                    {{item.numEncomendaManual}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.valorEncomendaOriginal.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="valorEncomendaOriginal">Valor Encomenda Original</vaadin-grid-sorter>
                    <vaadin-grid-filter path="valorEncomendaOriginal" />
                </template>
                <template>
                    {{item.valorEncomendaOriginal}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.quantidadeEncomenda.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="quantidadeEncomenda">Quantidade Encomenda</vaadin-grid-sorter>
                    <vaadin-grid-filter path="quantidadeEncomenda" />
                </template>
                <template>
                    {{item.quantidadeEncomenda}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.quantidadeRecebida.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="quantidadeRecebida">Quantidade Recebida</vaadin-grid-sorter>
                    <vaadin-grid-filter path="quantidadeRecebida" />
                </template>
                <template>
                    {{item.quantidadeRecebida}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.valorRecebidoNaoContabilizado.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="valorRecebidoNaoContabilizado">Valor Recebido não Contabilizado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="valorRecebidoNaoContabilizado" />
                </template>
                <template>
                    {{item.valorRecebidoNaoContabilizado}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.valor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="valor">Valor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="valor" />
                </template>
                <template>
                    {{item.valor}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codRegiao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codRegiao">Cód. Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codRegiao" />
                </template>
                <template>
                    {{item.codRegiao}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codAreaFuncional.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codAreaFuncional">Cód. Área Funcional</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codAreaFuncional" />
                </template>
                <template>
                    {{item.codAreaFuncional}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codCentroResponsabilidade.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codCentroResponsabilidade">Cód. Centro Responsabilidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codCentroResponsabilidade" />
                </template>
                <template>
                    {{item.codCentroResponsabilidade}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codLocalizacao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codLocalizacao">Cód. Localização</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codLocalizacao" />
                </template>
                <template>
                    {{item.codLocalizacao}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.local.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="local">Local</vaadin-grid-sorter>
                    <vaadin-grid-filter path="local" />
                </template>
                <template>
                    {{ item.local }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.numAcordoFornecedor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="numAcordoFornecedor">Núm. Acordo Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numAcordoFornecedor" />
                </template>
                <template>
                    {{ item.numAcordoFornecedor }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.destinatario.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="destinatario">Destinatario</vaadin-grid-sorter>
                    <vaadin-grid-filter path="destinatario" />
                </template>
                <template>
                    {{ item.destinatario }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.areaPendente.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="areaPendente">Àrea Pendente</vaadin-grid-sorter>
                    <vaadin-grid-filter path="areaPendente" />
                </template>
                <template>
                    {{ item.areaPendente }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.dataUltimaInteracao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="dataUltimaInteracao">Data Última Interação</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataUltimaInteracao" />
                </template>
                <template>
                    {{ item.dataUltimaInteracao }}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
        <paper-dialog id="dialogViewHist_Pending" class="dialgoBox" modal>
            <div class="row break_clear">
                <div class="col-sm-3">
                    <vaadin-text-field label="Área " value="{{_rfperfil}}" type="text" id="txtAreaDesti" disabled></vaadin-text-field>
                </div>
                <div class="col-sm-3" style="padding-top: 10px;">
                    <vaadin-combo-box items="[[ Users ]]" id="cmbDestinatarios" item-value-path="id" item-label-path="id" label="Destinatarios">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.id]]</div>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </div>
                <div class="col-sm-3" style="padding-top: 35px;">
                    <paper-button class="btnSave" raised on-tap="_dlgUpdateDesti">Alterar</paper-button>
                </div>
            </div>

            <vaadin-grid id="grdBillingView" aria-label="grdBillingView" items="[[getViewResponse]]" class="grid" selected-items={{selectedItems}} active-item="{{selectedItem}}" multi-sort="true">
                <vaadin-grid-selection-column auto-select>
                </vaadin-grid-selection-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="id">Nº</vaadin-grid-sorter>
                        <vaadin-grid-filter path="id" />
                    </template>
                    <template>
                        {{item.id}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="tipoDocumentoDescricao">Tipo de Documento</vaadin-grid-sorter>
                        <vaadin-grid-filter path="tipoDocumentoDescricao" />
                    </template>
                    <template>
                        @*[[ _clFormatTypeDoc(item.tipoDocumento) ]]*@
                        [[item.tipoDocumentoDescricao]]
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="areaPendente">Àrea Pendente</vaadin-grid-sorter>
                        <vaadin-grid-filter path="areaPendente" />
                    </template>
                    <template>
                        {{ item.areaPendente }}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="estadoDescricao">Estado</vaadin-grid-sorter>
                        <vaadin-grid-filter path="estadoDescricao" />
                    </template>
                    <template>
                        {{ item.estadoDescricao }}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="dataRececao">Data de Receção</vaadin-grid-sorter>
                        <vaadin-grid-filter path="dataRececao" />
                    </template>
                    <template>
                        {{item.dataRececao}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="codFornecedor">Fornecedor</vaadin-grid-sorter>
                        <vaadin-grid-filter path="codFornecedor" />
                    </template>
                    <template>
                        {{item.codFornecedor}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="numDocFornecedor">Núm. Doc. Fornecedor</vaadin-grid-sorter>
                        <vaadin-grid-filter path="numDocFornecedor" />
                    </template>
                    <template>
                        {{item.numDocFornecedor}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="dataDocFornecedor">Data Doc. Fornecedor</vaadin-grid-sorter>
                        <vaadin-grid-filter path="dataDocFornecedor" />
                    </template>
                    <template>
                        {{item.dataDocFornecedor}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="numEncomenda">Núm. Encomenda</vaadin-grid-sorter>
                        <vaadin-grid-filter path="numEncomenda" />
                    </template>
                    <template>
                        {{item.numEncomenda}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="numEncomendaManual">Núm. Encomenda Manual</vaadin-grid-sorter>
                        <vaadin-grid-filter path="numEncomendaManual" />
                    </template>
                    <template>
                        {{item.numEncomendaManual}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="valorEncomendaOriginal">Valor Encomenda Original</vaadin-grid-sorter>
                        <vaadin-grid-filter path="valorEncomendaOriginal" />
                    </template>
                    <template>
                        {{item.valorEncomendaOriginal}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="quantidadeEncomenda">Quantidade Encomenda</vaadin-grid-sorter>
                        <vaadin-grid-filter path="quantidadeEncomenda" />
                    </template>
                    <template>
                        {{item.quantidadeEncomenda}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="quantidadeRecebida">Quantidade Recebida</vaadin-grid-sorter>
                        <vaadin-grid-filter path="quantidadeRecebida" />
                    </template>
                    <template>
                        {{item.quantidadeRecebida}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="valorRecebidoNaoContabilizado">Valor Recebido não Contabilizado</vaadin-grid-sorter>
                        <vaadin-grid-filter path="valorRecebidoNaoContabilizado" />
                    </template>
                    <template>
                        {{item.valorRecebidoNaoContabilizado}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="valor">Valor</vaadin-grid-sorter>
                        <vaadin-grid-filter path="valor" />
                    </template>
                    <template>
                        {{item.valor}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="codRegiao">Cód. Região</vaadin-grid-sorter>
                        <vaadin-grid-filter path="codRegiao" />
                    </template>
                    <template>
                        {{item.codRegiao}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="codAreaFuncional">Cód. Área Funcional</vaadin-grid-sorter>
                        <vaadin-grid-filter path="codAreaFuncional" />
                    </template>
                    <template>
                        {{item.codAreaFuncional}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="codCentroResponsabilidade">Cód. Centro Responsabilidade</vaadin-grid-sorter>
                        <vaadin-grid-filter path="codCentroResponsabilidade" />
                    </template>
                    <template>
                        {{item.codCentroResponsabilidade}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="codLocalizacao">Cód. Localização</vaadin-grid-sorter>
                        <vaadin-grid-filter path="codLocalizacao" />
                    </template>
                    <template>
                        {{item.codLocalizacao}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="local">Local</vaadin-grid-sorter>
                        <vaadin-grid-filter path="local" />
                    </template>
                    <template>
                        {{ item.local }}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="numAcordoFornecedor">Núm. Acordo Fornecedor</vaadin-grid-sorter>
                        <vaadin-grid-filter path="numAcordoFornecedor" />
                    </template>
                    <template>
                        {{ item.numAcordoFornecedor }}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="destinatario">Destinatario</vaadin-grid-sorter>
                        <vaadin-grid-filter path="destinatario" />
                    </template>
                    <template>
                        {{ item.destinatario }}
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="dataUltimaInteracao">Data Última Interação</vaadin-grid-sorter>
                        <vaadin-grid-filter path="dataUltimaInteracao" />
                    </template>
                    <template>
                        {{ item.dataUltimaInteracao }}
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>
            <paper-button class="btnRemove" dialog-dismiss>&nbsp; Fechar</paper-button>

        </paper-dialog>
        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>
    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-rececaofaturas',
                properties: {
                    activeItem: {
                        observer: '_rowSelected'
                    },
                    _permissions: {
                        type: Array,
                        value: @Html.Raw(Json.Serialize(ViewBag.UserPermissions)),
                    },
                    _columns: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },
                    _provisioningMenuItems: {
                        type: Array,
                        value: [{ value: 1, description: "Alterar Destinatários" }],
                    },
                    _showChangeDestitationForm: {
                        type: Boolean,
                        value: false,
                    },
                    _rfperfil: {
                        type: String,
                        value: "",
                    },
                    _RFPerfilVisualizacao: {
                        type: String,
                        value: "",
                    },
                },
                ready: function () {
                    /*ColumnToggle*/
                    this._startColumnToggle();

                    var _this = this;
                    $(window).resize(function () {
                        _this.fixGridToBottom();
                    });
                    $(window).trigger('resize');
                },

                fixGridToBottom: function () {
                    var grid_el = $(this.$.grdgrdBillingReceptions);
                    var parentHeight = $(this).offsetParent().height();
                    var offsetTop = $(this).offset().top;
                    var height = parentHeight - offsetTop;
                    grid_el.height(height);
                },

                _rowSelected: function (item) {
                    if (item != null) {
                        window.location.href = "/Faturacao/DetalhesRecFatura/" + item.id;
                    }
                },
                _create: function () {
                    window.location.href = "/Faturacao/DetalhesRecFatura";
                },
                _showPending: function (e) {
                    this.$.getPending_ajax.body = JSON.stringify();
                    this.$.getPending_ajax.generateRequest();
                },
                _showHistory: function (e) {
                    this.$.getHistory_ajax.body = JSON.stringify();
                    this.$.getHistory_ajax.generateRequest();
                },
                _showPendingAreas: function (e) {
                    this.$.getPendingTotal_ajax.body = JSON.stringify();
                    this.$.getPendingTotal_ajax.generateRequest();
                },
                _provisioningOptionSelected: function (e) {
                    if (e.detail.value == 0)
                        return;
                    var item = e.detail.value;

                    if (item == null)
                        return;
                    switch (item.value) {
                        case 1:
                            this.$.getPendingTotal1_ajax.body = JSON.stringify();
                            this.$.getPendingTotal1_ajax.generateRequest();
                            this.$.dialogViewHist_Pending.open();
                            break;
                    }
                },
                _exportEXCEL: function () {
                    //debugger;
                    this.BillingReceptions[0].ColunasEXCEL = this._columns;

                    this.$.ajax_Export.body = JSON.stringify(this.BillingReceptions);
                    this.$.ajax_Export.generateRequest();
                },
                _dlgUpdateDesti: function (selectedItem, selectedItems) {
                    if (this.$.cmbDestinatarios.value != null && this.$.cmbDestinatarios.value != "") {
                        if (this.selectedItems != null && this.selectedItems != "") {
                            var selItms = this.selectedItems;
                            selItms[0].destinatario = this.$.cmbDestinatarios.value;
                            this.$.updateDestination.body = JSON.stringify(selItms);
                            this.$.updateDestination.generateRequest();
                            this.$.grdBillingView.clearCache();

                        } else {
                            this._openToastError("Não foi selecionada nenhuma linha.");
                        }
                    }
                    else {
                        this._openToastError("Não foi selecionada nenhum Destinatário.");
                    }
                },
                _updateDestinationResponse: function (e) {
                    if (e.detail.status === 200) {
                        if (this.updateDestinItem != undefined) {

                            this.$.getPendingTotal_ajax.body = JSON.stringify(this.data);
                            this.$.getPendingTotal_ajax.generateRequest();
                            this._openToast("Destinatário Actualizado");
                        } else {
                            this._openToastError(this.updateDestinItem.eMessage);
                        }
                    }
                    else {
                        this._openToastError("O servidor não conseguiu processar o pedido.");
                    }
                },
                _openToast: function (message) {
                    this.$.ToastMessageSuccess.text = message;
                    this.$.ToastMessageSuccess.open();
                },
                _openToastError: function (message) {
                    this.$.ToastMessageError.text = message;
                    this.$.ToastMessageError.open();
                },
                _exportEXCELResponse: function (e) {
                    //debugger
                    var FileName = this.export;
                    location.href = '../Faturacao/ExportToExcelDownload_RececaoFaturas?sFileName=' + FileName;
                },

                /*start - ColumnToggle*/
                _startColumnToggle: function () {
                    var columns = {
                        "id": { hidden: false, label: "Nº" },
                        "tipoDocumento": { hidden: false, label: "Tipo de Documento" },
                        "estado": { hidden: false, label: "Estado" },
                        "dataRececao": { hidden: false, label: "Data de Receção" },
                        "codFornecedor": { hidden: false, label: "Fornecedor" },
                        "numDocFornecedor": { hidden: false, label: "Núm. Doc. Fornecedor" },
                        "dataDocFornecedor": { hidden: false, label: "Data Doc. Fornecedor" },
                        "numEncomenda": { hidden: false, label: "Núm. Encomenda" },
                        "numEncomendaManual": { hidden: false, label: "Núm. Encomenda Manual" },
                        "valorEncomendaOriginal": { hidden: false, label: "Valor Encomenda Original" },
                        "quantidadeEncomenda": { hidden: false, label: "Quantidade Encomenda" },
                        "quantidadeRecebida": { hidden: false, label: "Quantidade Recebida" },
                        "valorRecebidoNaoContabilizado": { hidden: false, label: "Valor Recebido não Contabilizado" },
                        "valor": { hidden: false, label: "Valor" },
                        "codRegiao": { hidden: false, label: "Cód. Região" },
                        "codAreaFuncional": { hidden: false, label: "Cód. Área Funcional" },
                        "codCentroResponsabilidade": { hidden: false, label: "Cód. Centro Responsabilidade" },
                        "codLocalizacao": { hidden: false, label: "Cód. Localização" },
                        "local": { hidden: false, label: "Local" },
                        "numAcordoFornecedor": { hidden: false, label: "Núm. Acordo Fornecedor" },
                        "destinatario": { hidden: false, label: "Destinatario" },
                        "areaPendente": { hidden: false, label: "Àrea Pendente" },
                        "dataUltimaInteracao": { hidden: false, label: "Data Última Interação" }
                    };

                    if (localStorage["rececaofaturas.ToggleColumn"]) {
                        var keys = Object.keys(columns);
                        var storedColumns = JSON.parse(localStorage["rececaofaturas.ToggleColumn"]);
                        for (var i = 0; i < keys.length; i++) {
                            columns[keys[i]] = storedColumns[keys[i]];
                        }
                    };
                    this._columns = columns;
                },
                _toggleColumn: function (event) {
                    var columnIndex = JSON.parse(event.target.dataset.item).key;
                    event.path[0].classList.toggle("selected");
                    this.set('_columns.' + columnIndex + '.hidden', (!this._columns[columnIndex].hidden));
                    if (typeof (Storage) !== "undefined") {
                        localStorage["rececaofaturas.ToggleColumn"] = JSON.stringify(this._columns);
                    }
                },
                _getColumnItemClass: function (columnIndex) {
                    return !this._columns[columnIndex].hidden ? "selected" : "";
                },
                _toArray: function (obj) {
                    return Object.keys(obj).map(function (key) {
                        return {
                            key: key,
                            value: obj[key]
                        };
                    });
                },
                _clFormatStatus: function (param) {
                    if (param != undefined) {
                        var sel = this.States.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return param;
                },
                /* end - ColumnToggle */

            });
        });
    </script>
</dom-module>
