@{
    ViewData["Title"] = "Receção de Faturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html" />
<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/paper-input/paper-input.html" />
<link rel="import" href="/lib/paper-checkbox-master/paper-checkbox.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/datetime-picker-master/date-picker.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />

<!--start ColumnToggle-->
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/iron-icons/iron-icons.html" />
<link rel="import" href="/lib/iron-behaviors/iron-button-state.html" />
<link rel="import" href="/lib/paper-menu-button/paper-menu-button.html" />
<!--end ColumnToggle-->

<x-rececaofaturas></x-rececaofaturas>

<dom-module id="x-rececaofaturas">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <custom-style>
            <style is="custom-style">
                input[readonly] {
                    border: 2px solid transparent;
                }

                input {
                    font: inherit;
                }

                .grid {
                    font-size: 13px;
                }

                    .grid input {
                        border: none;
                        padding-left: 5px;
                    }

                paper-input {
                    max-width: 200px !important;
                }
            </style>
        </custom-style>
        <iron-ajax auto url="/PopulateDropdowns/GetBillingReceptionStates" last-response="{{ States }}" method="get" handle-as="json" content-type="application/json"></iron-ajax>

        <iron-ajax url="/Faturacao/GetBillingReceptions"
                   auto
                   last-response="{{BillingReceptions}}"
                   method="post"
                   handle-as="json"
                   id="grid_databound_ajax"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Faturacao/ExportToExcel_RececaoFaturas"
                   last-response="{{export}}"
                   id="ajax_Export"
                   method="post"
                   handle-as="json"
                   on-response="_exportEXCELResponse"
                   content-type="application/json">
        </iron-ajax>

        <div class="subMenu">
            <template is="dom-if" if="{{ _permissions.create }}">
                <paper-button class="tablinks" on-tap="_create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Criar Nova</paper-button>
            </template>
            <paper-button id="btnExport" class="tablinks" on-tap="_exportEXCEL" title="Exportar para Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Exportar</paper-button>

            <!--start ColumnToggle-->
            <paper-menu-button class="column-toggle" no-animations id="gridOpcaoGeral">
                <paper-icon-button icon="view-column" slot="dropdown-trigger" alt="Colunas"></paper-icon-button>
                <div class="list-group" slot="dropdown-content">
                    <template is="dom-repeat" items="[[ _toArray(_columns)]]" id="columnsList">
                        <a href="javascript:void(0);" on-tap="_toggleColumn" data-item$="[[item]]" class$="list-group-item [[ _getColumnItemClass( item.key ) ]]">
                            {{ item.value.label }}
                        </a>
                        <hr />
                    </template>
                </div>
            </paper-menu-button>
            <!--end ColumnToggle-->
        </div>

        <vaadin-grid id="grdgrdBillingReceptions" aria-label="grdBillingReceptions" items="[[BillingReceptions]]" class="grid" active-item="{{activeItem}}" multi-sort="true">
            <vaadin-grid-column resizable hidden$="{{ _columns.id.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="id">Nº</vaadin-grid-sorter>
                    <vaadin-grid-filter path="id" />
                </template>
                <template>
                    {{item.id}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.tipoDocumento.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="tipoDocumento">Tipo de Documento</vaadin-grid-sorter>
                    <vaadin-grid-filter path="tipoDocumento" />
                </template>
                <template>
                    {{item.tipoDocumento}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.estado.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="descricaoStatus">Estado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="descricaoStatus" />
                </template>
                <template>
                    [[ _clFormatStatus(item.estado) ]]
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.dataRececao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="dataRececao">Data de Receção</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataRececao" />
                </template>
                <template>
                    {{item.dataRececao}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codFornecedor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codFornecedor">Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codFornecedor" />
                </template>
                <template>
                    {{item.codFornecedor}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.numDocFornecedor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="numDocFornecedor">Núm. Doc. Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numDocFornecedor" />
                </template>
                <template>
                    {{item.numDocFornecedor}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.dataDocFornecedor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="dataDocFornecedor">Data Doc. Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataDocFornecedor" />
                </template>
                <template>
                    {{item.dataDocFornecedor}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.numEncomenda.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="numEncomenda">Núm. Encomenda</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numEncomenda" />
                </template>
                <template>
                    {{item.numEncomenda}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.numEncomendaManual.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="numEncomendaManual">Núm. Encomenda Manual</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numEncomendaManual" />
                </template>
                <template>
                    {{item.numEncomendaManual}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.valorEncomendaOriginal.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="valorEncomendaOriginal">Valor Encomenda Original</vaadin-grid-sorter>
                    <vaadin-grid-filter path="valorEncomendaOriginal" />
                </template>
                <template>
                    {{item.valorEncomendaOriginal}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.quantidadeEncomenda.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="quantidadeEncomenda">Quantidade Encomenda</vaadin-grid-sorter>
                    <vaadin-grid-filter path="quantidadeEncomenda" />
                </template>
                <template>
                    {{item.quantidadeEncomenda}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.quantidadeRecebida.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="quantidadeRecebida">Quantidade Recebida</vaadin-grid-sorter>
                    <vaadin-grid-filter path="quantidadeRecebida" />
                </template>
                <template>
                    {{item.quantidadeRecebida}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.valorRecebidoNaoContabilizado.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="valorRecebidoNaoContabilizado">Valor Recebido não Contabilizado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="valorRecebidoNaoContabilizado" />
                </template>
                <template>
                    {{item.valorRecebidoNaoContabilizado}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.valor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="valor">Valor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="valor" />
                </template>
                <template>
                    {{item.valor}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codRegiao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codRegiao">Cód. Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codRegiao" />
                </template>
                <template>
                    {{item.codRegiao}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codAreaFuncional.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codAreaFuncional">Cód. Área Funcional</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codAreaFuncional" />
                </template>
                <template>
                    {{item.codAreaFuncional}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codCentroResponsabilidade.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codCentroResponsabilidade">Cód. Centro Responsabilidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codCentroResponsabilidade" />
                </template>
                <template>
                    {{item.codCentroResponsabilidade}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.codLocalizacao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="codLocalizacao">Cód. Localização</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codLocalizacao" />
                </template>
                <template>
                    {{item.codLocalizacao}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.local.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="local">Local</vaadin-grid-sorter>
                    <vaadin-grid-filter path="local" />
                </template>
                <template>
                    {{ item.local }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.numAcordoFornecedor.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="numAcordoFornecedor">Núm. Acordo Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="numAcordoFornecedor" />
                </template>
                <template>
                    {{ item.numAcordoFornecedor }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.destinatario.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="destinatario">Destinatario</vaadin-grid-sorter>
                    <vaadin-grid-filter path="destinatario" />
                </template>
                <template>
                    {{ item.destinatario }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.areaPendente.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="areaPendente">Àrea Pendente</vaadin-grid-sorter>
                    <vaadin-grid-filter path="areaPendente" />
                </template>
                <template>
                    {{ item.areaPendente }}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable hidden$="{{ _columns.dataUltimaInteracao.hidden }}">
                <template class="header">
                    <vaadin-grid-sorter path="dataUltimaInteracao">Data Última Interação</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataUltimaInteracao" />
                </template>
                <template>
                    {{ item.dataUltimaInteracao }}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>
    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-rececaofaturas',
                properties: {
                    activeItem: {
                        observer: '_rowSelected'
                    },
                    _permissions: {
                        type: Array,
                        value: @Html.Raw(Json.Serialize(ViewBag.UserPermissions)),
                    },
                    _columns: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },
                },
                ready: function () {
                    /*ColumnToggle*/
                    this._startColumnToggle();

                    var _this = this;
                    $(window).resize(function () {
                        _this.fixGridToBottom();
                    });
                    $(window).trigger('resize');
                },

                fixGridToBottom: function () {
                    var grid_el = $(this.$.grdgrdBillingReceptions);
                    var parentHeight = $(this).offsetParent().height();
                    var offsetTop = $(this).offset().top;
                    var height = parentHeight - offsetTop;
                    grid_el.height(height);
                },

                _rowSelected: function (item) {
                    if (item != null) {
                        window.location.href = "/Faturacao/DetalhesRecFatura/" + item.id;
                    }
                },
                _create: function () {
                    window.location.href = "/Faturacao/DetalhesRecFatura";
                },

                _exportEXCEL: function () {
                    //debugger;
                    this.BillingReceptions[0].ColunasEXCEL = this._columns;

                    this.$.ajax_Export.body = JSON.stringify(this.BillingReceptions);
                    this.$.ajax_Export.generateRequest();
                },

                _exportEXCELResponse: function (e) {
                    //debugger
                    var FileName = this.export;
                    location.href = '../Faturacao/ExportToExcelDownload_RececaoFaturas?sFileName=' + FileName;
                },

                /*start - ColumnToggle*/
                _startColumnToggle: function () {
                    var columns = {
                        "id": { hidden: false, label: "Nº" },
                        "tipoDocumento": { hidden: false, label: "Tipo de Documento" },
                        "estado": { hidden: false, label: "Estado" },
                        "dataRececao": { hidden: false, label: "Data de Receção" },
                        "codFornecedor": { hidden: false, label: "Fornecedor" },
                        "numDocFornecedor": { hidden: false, label: "Núm. Doc. Fornecedor" },
                        "dataDocFornecedor": { hidden: false, label: "Data Doc. Fornecedor" },
                        "numEncomenda": { hidden: false, label: "Núm. Encomenda" },
                        "numEncomendaManual": { hidden: false, label: "Núm. Encomenda Manual" },
                        "valorEncomendaOriginal": { hidden: false, label: "Valor Encomenda Original" },
                        "quantidadeEncomenda": { hidden: false, label: "Quantidade Encomenda" },
                        "quantidadeRecebida": { hidden: false, label: "Quantidade Recebida" },
                        "valorRecebidoNaoContabilizado": { hidden: false, label: "Valor Recebido não Contabilizado" },
                        "valor": { hidden: false, label: "Valor" },
                        "codRegiao": { hidden: false, label: "Cód. Região" },
                        "codAreaFuncional": { hidden: false, label: "Cód. Área Funcional" },
                        "codCentroResponsabilidade": { hidden: false, label: "Cód. Centro Responsabilidade" },
                        "codLocalizacao": { hidden: false, label: "Cód. Localização" },
                        "local": { hidden: false, label: "Local" },
                        "numAcordoFornecedor": { hidden: false, label: "Núm. Acordo Fornecedor" },
                        "destinatario": { hidden: false, label: "Destinatario" },
                        "areaPendente": { hidden: false, label: "Àrea Pendente" },
                        "dataUltimaInteracao": { hidden: false, label: "Data Última Interação" }
                    };

                    if (sessionStorage["rececaofaturas.ToggleColumn"]) {
                        var keys = Object.keys(columns);
                        var storedColumns = JSON.parse(sessionStorage["rececaofaturas.ToggleColumn"]);
                        for (var i = 0; i < keys.length; i++) {
                            columns[keys[i]] = storedColumns[keys[i]];
                        }
                    };
                    this._columns = columns;
                },
                _toggleColumn: function (event) {
                    var columnIndex = JSON.parse(event.target.dataset.item).key;
                    event.path[0].classList.toggle("selected");
                    this.set('_columns.' + columnIndex + '.hidden', (!this._columns[columnIndex].hidden));
                    if (typeof (Storage) !== "undefined") {
                        sessionStorage["rececaofaturas.ToggleColumn"] = JSON.stringify(this._columns);
                    }
                },
                _getColumnItemClass: function (columnIndex) {
                    return !this._columns[columnIndex].hidden ? "selected" : "";
                },
                _toArray: function (obj) {
                    return Object.keys(obj).map(function (key) {
                        return {
                            key: key,
                            value: obj[key]
                        };
                    });
                },
                _clFormatStatus: function (param) {
                    if (param != undefined) {
                        var sel = this.States.find(x => x.id == param);
                        if (sel != undefined) {
                            return sel.value;
                        }
                    }
                    return param;
                },
                /* end - ColumnToggle */

            });
        });
    </script>
</dom-module>
