$colors: (primary: (default: #323F4B,
		dark: #52606D,
		medium: #7B8794,
		light: #CBD2D9,
		keylines: #E4E7EB),
	secondary: (default: #F9703E,
		light: #FFE8D9),
	bg: (default: #FFFFFF,
		white: #FFFFFF,
		grey: #F5F7FA),
	alert: (bad: #D64545,
		good: #57AE5B),
	search: (default: #FCEE21));