@{
    ViewData["Title"] = "e-SUCH";
}

<link rel="import" href="/elements/submenu/subMenuItemView.html">

@ViewBag.Error
<div id="bg">
    <img src="~/images/2018_06_14_esuch_fundo_inicial.jpg" alt="" />
</div>
    
<style>
    #bg {
        position: fixed;
        top: 0;
        left: 0;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
    }
</style>
