@import "../../themes/default";
@import "../../functions";

.before-to-scroll {
  &:before {
    content: "";
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    display: none;
  }
}

.scroll-wrapper {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
}

.h100 {
  height: 100%;
}

.natural-scroll {
  -webkit-overflow-scrolling: touch;
}

.form {
  &__row {
    > div > div {
      vertical-align: middle;
    }
  }

  &__item {
    position: relative;

    &--commented {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -3px;
        background: palette(secondary, default);
        width: 5px;
        height: 5px;
        margin: auto;
        border-radius: 50%;
      }
    }
  }
}

li {
  &.disabled {
    pointer-events: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      background: white;
      opacity: .4;
      cursor: not-allowed;
      pointer-events: all;
    }

  }
}