
@{
    ViewData["Title"] = "Contratos - Vendas - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contratos Internacionalizações</h2>
<link rel="import" href="~/elements/contracts/contract_list.html">

<x-contractlist _areaid="5" _archived="@ViewBag.Archived" _contractno="@ViewBag.ContractNo"></x-contractlist>


