
@{
    ViewData["Title"] = "Contratos - D - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contratos Vendas</h2>
<link rel="import" href="~/elements/contracts/contract_list.html">

<x-contractlist _areaid="4" _archived="@ViewBag.Archived"  _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))' _contractno="@ViewBag.ContractNo"></x-contractlist>


