
@{
    ViewData["Title"] = "Projetos - Vendas - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projetos Vendas</h2>
<link rel="import" href="~/elements/projects/project_list.html">

<x-projectlist _areaid="4"></x-projectlist>


