@{
    Layout = "_Layout";
}

@*<link rel="stylesheet" href="~/dist/allstyles.css" />*@

<br /><br />

<div id="basicreactcomponent"></div>

<br /><br /><br />

@*<div id="reactcomponentwithapidata"></div>*@


<script src="~/dist/bundle.js"></script>