
@{
    ViewData["Title"] = "Ordens de Manutenção";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script charset="utf-8" src="http://localhost:3000/static/js/0.chunk.js"></script>
<script charset="utf-8" src="http://localhost:3000/static/js/3.chunk.js"></script>


<div id="ordemManutencao" class="react-root"></div>

<script src="http://localhost:3000/static/js/bundle.js"></script>
<script src="http://localhost:3000/static/js/1.chunk.js"></script>
<script src="http://localhost:3000/static/js/main.chunk.js"></script>

@using React.AspNet

<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>