
@{
    ViewData["Title"] = "Unidades Produtivas - Nutrição - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />

<h1 class="title">Unidades Produtivas</h1>

<x-coffeeshops></x-coffeeshops>
<dom-module id="x-coffeeshops">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        @*POPULATE GRID*@
        <iron-ajax url="/Nutricao/CafetariasRefeitorios/GetCoffeeShops"
                   last-response="{{result}}"
                   auto
                   method="post"
                   handle-as="json"
                   id="grid_databound"
                   content-type="application/json"></iron-ajax>


        <div class="marginSpace">
            <paper-button class="btnSave" raised on-tap="_create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Criar</paper-button>
        </div>
        <vaadin-grid aria-label="CoffeeShopsTable" items="[[result]]" class="grid" active-item="{{activeItem}}" multi-sort="true">
            <vaadin-grid-column width="10%">
                <template class="header">
                    <vaadin-grid-sorter path="productivityUnitNo">Nº Unidade Produtiva</vaadin-grid-sorter>
                    <vaadin-grid-filter path="productivityUnitNo" />
                </template>
                <template>
                    {{item.productivityUnitNo}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="30%">
                <template class="header">
                    <vaadin-grid-sorter path="type">Tipo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="type" />
                </template>
                <template>
                    {{item.type}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="30%">
                <template class="header">
                    <vaadin-grid-sorter path="code">Código</vaadin-grid-sorter>
                    <vaadin-grid-filter path="code" />
                </template>
                <template>
                    {{item.code}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="30%">
                <template class="header">
                    <vaadin-grid-sorter path="description">Descrição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="description" />
                </template>
                <template>
                    {{item.description}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="30%">
                <template class="header">
                    <vaadin-grid-sorter path="startDateExploration">Data Início Exploração</vaadin-grid-sorter>
                    <vaadin-grid-filter path="startDateExploration" />
                </template>
                <template>
                    {{item.startDateExploration}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="30%">
                <template class="header">
                    <vaadin-grid-sorter path="endDateExploration">Data Fim Exploração</vaadin-grid-sorter>
                    <vaadin-grid-filter path="endDateExploration" />
                </template>
                <template>
                    {{item.endDateExploration}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="30%">
                <template class="header">
                    <vaadin-grid-sorter path="codeResponsabilityCenter">Armazém Local</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codeResponsabilityCenter" />
                </template>
                <template>
                    
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="30%">
                <template class="header">
                    <vaadin-grid-sorter path="warehouse">Armazém</vaadin-grid-sorter>
                    <vaadin-grid-filter path="warehouse" />
                </template>
                <template>
                    {{item.warehouse}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="30%">
                <template class="header">
                    <vaadin-grid-sorter path="codeRegion">Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codeRegion" />
                </template>
                <template>
                    {{item.codeRegion}}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
        <vaadin-grid-column width="30%">
            <template class="header">
                <vaadin-grid-sorter path="codeFunctionalArea">Àrea</vaadin-grid-sorter>
                <vaadin-grid-filter path="codeFunctionalArea" />
            </template>
            <template>
                {{item.codeFunctionalArea}}
            </template>
        </vaadin-grid-column>
        <vaadin-grid-column width="30%">
            <template class="header">
                <vaadin-grid-sorter path="">Àrea</vaadin-grid-sorter>
                <vaadin-grid-filter path="" />
            </template>
            <template>
                
            </template>
        </vaadin-grid-column>
        <vaadin-grid-column width="30%">
            <template class="header">
                <vaadin-grid-sorter path="">Nº Projeto</vaadin-grid-sorter>
                <vaadin-grid-filter path="" />
            </template>
            <template>
                
            </template>
        </vaadin-grid-column>
        <vaadin-grid-column width="30%">
            <template class="header">
                <vaadin-grid-sorter path="">Total Receitas</vaadin-grid-sorter>
                <vaadin-grid-filter path="" />
            </template>
            <template>

            </template>
        </vaadin-grid-column>
        <vaadin-grid-column width="30%">
            <template class="header">
                <vaadin-grid-sorter path="">Total Consumos</vaadin-grid-sorter>
                <vaadin-grid-filter path="" />
            </template>
            <template>

            </template>
        </vaadin-grid-column>
        <vaadin-grid-column width="30%">
            <template class="header">
                <vaadin-grid-sorter path="">Nº Refeições</vaadin-grid-sorter>
                <vaadin-grid-filter path="" />
            </template>
            <template>

            </template>
        </vaadin-grid-column>
    </template>
    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-coffeeshops',
                properties: {
                    activeItem: {
                        observer: '_rowSelected'
                    },
                    _filterActive: {
                        type: Boolean,
                        value:true
                    }
                },
                _rowSelected: function (item) {
                    if (item != null) {
                        var urlParams = "?productivityUnitNo=" + item.productivityUnitNo + "&type=" + item.type + "&code=" + item.code + "&explorationStartDate=" + item.startDateExploration;
                        window.location.href = "/Nutricao/CafetariasRefeitorios/Detalhes/" + urlParams;
                    }
                },
                _create: function (item) {
                    if (item != null) {
                        window.location.href = "/Nutricao/CafetariasRefeitorios/Detalhes/";
                    }
                }
            });
        });
    </script>

</dom-module>
