
@{
    ViewData["Title"] = "PreRequisicoesLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/elements/prerequesitions/pre_requesitionlist.html">
<h1 class="title">Pré-Requisições Engenharia</h1>

<x-prereqlist _areaid="1" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-prereqlist>
