@import './themes/default';
@import './functions';

// toolbox
@each $section-key,
$section-value in $colors {

  @each $color-key,
  $color-value in $section-value {

    .bg-#{$section-key}-#{$color-key} {
      background-color: $color-value !important;
    }

    .color-#{$section-key}-#{$color-key} {
      color: $color-value !important;
    }
  }
}

@each $dim in (0, 1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50) {
  .m-b-#{$dim} {
    &span {
      display: inline-block;
    }

    margin-bottom: $dim+px !important;
  }

  .m-t-#{$dim} {
    &span {
      display: inline-block;
    }

    margin-top: $dim+px !important;
  }

  .m-l-#{$dim} {
    &span {
      display: inline-block;
    }

    margin-left: $dim+px !important;
  }

  .m-r-#{$dim} {
    &span {
      display: inline-block;
    }

    margin-right: $dim+px !important;
  }

  .p-b-#{$dim} {
    padding-bottom: $dim+px;
  }

  .p-t-#{$dim} {
    padding-top: $dim+px;
  }

  .p-l-#{$dim} {
    padding-left: $dim+px !important;
  }

  .p-r-#{$dim} {
    padding-right: $dim+px !important;
  }

}

@each $dim in (10, 20, 30, 40, 50, 60, 64, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, auto) {
  .w-#{$dim} {
    display: inline-block;
    width: $dim+px;
  }
}


@each $dim in (0, 9, 10, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52) {
  .f-s-#{$dim} {
    font-size: $dim+px !important;
  }
}

.v-a-m {
  vertical-align: middle;
}

.l-h-1 {
  line-height: 1;
}


.l-h-0 {
  line-height: 0;
}

.content-disabled {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    z-index: 1000;
    background: white;
    cursor: not-allowed;
  }
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.4;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    z-index: 1000;
    cursor: not-allowed;
  }
}

.ws-nowrap {
  white-space: nowrap;
}

.to-ellipsis {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}

.text-normal {
  text-transform: none;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  background-color: palette(bg, white);
}

#app-main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60px;
  //height: 100%;
  overflow: auto;
}

#basicreactcomponent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.overflow {
  &--hidden {
    overflow: hidden !important;
  }
}

.navbar-container,
.navbar-header {
  background-color: palette(secondary, default)
}

.app-main {
  .row {
    margin: 0;
  }

  .wrap {
    padding: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1.0;
  }
}

.blink {
  animation: fade 1000ms infinite;
  -webkit-animation: fade 1000ms infinite;
}

mark,
.mark {
  background-color: palette(search, default);
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.text-decoration-none {
  text-decoration: none;
}

.flex-grow-1 {
  flex-grow: 1;
}

.box-shadow-none {
  box-shadow: none !important;
}