
@{
    ViewData["Title"] = "Configuração Empregado Recursos Folha de Horas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-checkbox-master/paper-checkbox.html" />
<link rel="import" href="/lib/paper-input/paper-input.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tab.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="/lib/paper-tooltip-master/paper-tooltip.html">

<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/iron-pages-master/iron-pages.html" />

<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-context-menu/vaadin-context-menu.html" />
<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="/lib/vaadin-item/vaadin-item.html" />
<link rel="import" href="/lib/vaadin-list-box/vaadin-list-box.html" />
<link rel="import" href="/lib/vaadin-radio-button/vaadin-radio-button.html">
<link rel="import" href="/lib/vaadin-radio-button/vaadin-radio-button-group.html">
<link rel="import" href="/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html">

<link rel="import" href="/lib/neon-animation/web-animations.html">

<!--ACORDEÃO-->
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-item.html">

<h1 class="title">Configuração Empregado Recursos Folha de Horas</h1>

<x-group-cont-product></x-group-cont-product>

<dom-module id="x-group-cont-product">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <style>
            input[readonly] {
                border: 2px solid transparent;
            }

            input {
                font: inherit;
            }

            paper-input {
                max-width: 450px !important;
            }

            /*ACORDEÃO*/
            paper-collapse-item {
                --paper-item: {
                    padding: 0 0;
                };
                --paper-collapse-item-header: {
                    padding: 0 15px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-bottom: solid #ddd 1px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                };
            }
        </style>

        <iron-ajax url="/Administracao/GetRHRecursosFH"
                   last-response="{{result}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="ajax_GetAll"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/UpdateRHRecursosFH"
                   last-response="{{result}}"
                   method="post"
                   on-response="_updateResponse"
                   handle-as="json"
                   id="ajax_update"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/CreateRHRecursosFH"
                   last-response="{{createResult}}"
                   method="post"
                   on-response="_createResponse"
                   handle-as="json"
                   id="ajax_create"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/DeleteRHRecursosFH"
                   last-response="{{deleteResult}}"
                   method="post"
                   on-response="_deleteResponse"
                   handle-as="json"
                   id="ajax_delete"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetEmployees_FH"
                   last-response="{{LEmployeeNo}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetResourcesCodeFH"
                   last-response="{{LResourceCode}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>


        <paper-collapse-group>
            <paper-collapse-item class="panel-heading" header="Novo Registo" closed>
                <div class="panel-body">

                    <div class="row" id="configuracaoRHRecursos">
                        <div class="col-sm-4">
                            @*<vaadin-text-field id="noEmpregado" value="{{noEmpregado}}" label="Nº Empregado" disabled="{{ _permissionsCreate }}" maxlength="10"></vaadin-text-field>*@

                            <vaadin-combo-box items="[[LEmployeeNo]]" id="noEmpregado" item-value-path="id" item-label-path="value" label="Empregado " value="{{noEmpregado}}" disabled="{{ _permissionsCreate }}" required error-message="Este campo é obrigatório">
                                <template>
                                    <paper-icon-item>
                                        <paper-item-body two-line>
                                            <div>[[item.value]]</div>
                                        </paper-item-body>
                                    </paper-icon-item>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-sm-4">
                            @*<vaadin-text-field id="recurso" value="{{recurso}}" label="Recurso" disabled="{{ _permissionsCreate }}" maxlength="10"></vaadin-text-field>*@

                            <vaadin-combo-box items="[[LResourceCode]]" id="recurso" item-value-path="id" item-label-path="value" label="Recurso" value="{{recurso}}" disabled="{{ _permissionsCreate }}" required error-message="Este campo é obrigatório">
                                <template>
                                    <paper-icon-item>
                                        <paper-item-body two-line>
                                            <div>[[item.value]]</div>
                                        </paper-item-body>
                                    </paper-icon-item>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        @*<div class="col-sm-2">
                                <vaadin-text-field id="nomeRecurso" value="{{nomeRecurso}}" label="Recurso Nome" disabled="{{ _permissionsCreate }}" maxlength="10"></vaadin-text-field>
                            </div>*@

                        @*<div class="col-sm-2">
                                <vaadin-text-field id="familiaRecurso" value="{{familiaRecurso}}" label="recurso Família" disabled="{{ _permissionsCreate }}" maxlength="10"></vaadin-text-field>
                            </div>*@

                        @*<div class="col-sm-3">
                                <vaadin-text-field id="nomeEmpregado" value="{{nomeEmpregado}}" label="Empregado Nome" disabled="{{ _permissionsCreate }}" maxlength="10"></vaadin-text-field>
                            </div>*@

                        <div class="col-sm-1 alignPoga">
                            <paper-button id="btnAddNew" class="btnSave" on-tap="_create" disabled="{{ _permissionsCreate }}">Criar</paper-button>
                        </div>
                    </div>

                </div>
            </paper-collapse-item>
        </paper-collapse-group>

        <br />

        <vaadin-grid id="gridPrecoVendaRecursoFH" aria-label="ProfileModelsTabel" items="[[result]]" class="grid" multi-sort="true">
            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="noEmpregado">Nº Empregado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="noEmpregado" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.noEmpregado}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="nomeEmpregado">Emp. Nome</vaadin-grid-sorter>
                    <vaadin-grid-filter path="nomeEmpregado" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.nomeEmpregado}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="recurso">Recurso</vaadin-grid-sorter>
                    <vaadin-grid-filter path="recurso" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.recurso}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="nomeRecurso">Recurso Nome</vaadin-grid-sorter>
                    <vaadin-grid-filter path="nomeRecurso" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.nomeRecurso}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="familiaRecurso">Recurso Família</vaadin-grid-sorter>
                    <vaadin-grid-filter path="familiaRecurso" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.familiaRecurso}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            @*<vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="criadoPor">Criado Por</vaadin-grid-sorter>
                        <vaadin-grid-filter path="criadoPor" />
                    </template>
                    <template>
                        <vaadin-text-field value="{{item.utilizadorCriacao}}" disabled="true"></vaadin-text-field>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="dataHoraCriacao">Data/Hora Criação</vaadin-grid-sorter>
                        <vaadin-grid-filter path="dataHoraCriacao" />
                    </template>
                    <template>
                        <vaadin-text-field value="{{item.dataHoraCriacao}}" disabled="true"></vaadin-text-field>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="alteradoPor">Alterado Por</vaadin-grid-sorter>
                        <vaadin-grid-filter path="alteradoPor" />
                    </template>
                    <template>
                        <vaadin-text-field value="{{item.utilizadorModificacao}}" disabled="true"></vaadin-text-field>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="dataHoraUltimaAlteracao">Data/Hora Última Alteração</vaadin-grid-sorter>
                        <vaadin-grid-filter path="dataHoraUltimaAlteracao" />
                    </template>
                    <template>
                        <vaadin-text-field value="{{item.dataHoraModificacao}}" disabled="true"></vaadin-text-field>
                    </template>
                </vaadin-grid-column>*@

            <vaadin-grid-column>
                <template class="header">
                </template>
                <template>
                    <center>
                        <paper-button class="btnRemove" raised on-tap="_delete" disabled="{{ _permissionsDelete }}">Eliminar</paper-button>
                    </center>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

        <div class="marginSpace">
            <paper-button raised id="btnGoBack" class="btnDefault" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
            @*<paper-button raised id="btnAddNew" class="btnEdit" on-tap="_update" disabled="{{ _permissionsUpdate }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
            <paper-button raised id="btnCancel" class="btnRemove" on-tap="_cancel" disabled="{{ _permissionsUpdate }}"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancelar</paper-button>*@
        </div>

        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right"></paper-toast>
        <paper-toast id="ToastError" style="background-color:red" duration="4000" horizontalAlign="right"></paper-toast>

    </template>
    <script>
        var CreateValue = true, UpdateValue = true, DeleteValue = true;

        if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' == "false") {
            CreateValue = false;
        }

        if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' == "false") {
            UpdateValue = false;
        }

        if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' == "false") {
            DeleteValue = false;
        }

        document.addEventListener('WebComponentsReady',
        function () {
            Polymer({
                is: 'x-group-cont-product',
                properties: {
                    _permissionsUpdate: {
                        type: Boolean,
                        value: UpdateValue
                    },

                    _permissionsCreate: {
                        type: Boolean,
                        value: CreateValue
                    },

                    _permissionsDelete: {
                        type: Boolean,
                        value: DeleteValue
                    },

                    ddgroupcontprod: {
                        type: String,
                        notify: true,
                        value: ""
                    }
                },

                ready: function () {
                    this.$.ajax_GetAll.generateRequest();
                },

                openToast: function (message) {
                    this.$.ToastMessage.text = message;
                    this.$.ToastMessage.open();
                },

                _openToastError: function (message) {
                    this.$.ToastError.text = message;
                    this.$.ToastError.open();
                },

                _validateData: function (container) {

                    var polymerDom = Polymer.dom(this.$[container]);
                    var errors = 0;
                    var formSelector = "vaadin-text-field, vaadin-date-picker, vaadin-combo-box";
                    var formFields = polymerDom.querySelectorAll(formSelector);

                    formFields.forEach(function (element) {
                        if (!element.validate()) errors++;
                    });

                    if (errors > 0) {
                        this._openToastError("Verifique os dados inseridos.");
                        return false;
                    }

                    return true;
                },

                _create: function () {
                    if (this._validateData("configuracaoRHRecursos")) {

                        this.$.ajax_create.body = JSON.stringify(
                            {
                                noEmpregado: this.$.noEmpregado.value,
                                recurso: this.$.recurso.value
                            }
                        );
                        this.$.ajax_create.generateRequest();
                        this.$.gridPrecoVendaRecursoFH.clearCache();
                    }
                },

                _update: function () {
                    this.$.ajax_update.body = JSON.stringify(this.result);
                    this.$.ajax_update.generateRequest();
                    this.$.gridPrecoVendaRecursoFH.clearCache();
                },

                _delete: function (e) {

                    this.$.ajax_delete.body = JSON.stringify(e.model.item);
                    this.$.ajax_delete.generateRequest();
                    this.result = this.result.filter(function (item) {
                        return item != e.model.item;
                    });
                    this.$.gridPrecoVendaRecursoFH.clearCache();
                },

                _cancel: function () {
                    this.$.ajax_GetAll.generateRequest();
                    this.$.gridPrecoVendaRecursoFH.clearCache();
                },

                _updateResponse: function (e) {
                    var self = this;
                    if (e.detail.status === 200) {
                        this.$.ajax_GetAll.generateRequest();
                        this.openToast("Tabela atualizada.");
                    }
                    else {
                        this.openToast("Occorreu um erro ao atualizar a Tabela.");
                    }
                },

                _createResponse: function (e) {
                    var self = this;

                    if (this.createResult == 0) {
                        this.openToast("Já existe este tipo de Registo na Tabela.");
                    }
                    else {
                        if (e.detail.status === 200) {

                            this.$.noEmpregado.value = "";
                            this.$.recurso.value = "";

                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToast("Occorreu um erro ao atualizar a Tabela.");
                        }
                    }
                },

                _deleteResponse: function (e) {
                    var self = this;
                    if (e.detail.status === 200) {
                        this.$.ajax_GetAll.generateRequest();
                        this.openToast("Tabela atualizada.");
                    }
                    else {
                        this.openToast("Occorreu um erro ao atualizar a Tabela.");
                    }
                },

                _goBack: function (e) {
                    //window.location = "../";
                    window.history.back();
                }
            });
        });
    </script>
</dom-module>
