
@{
    ViewData["Title"] = "Detalhes Configuração Destinatário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html" />
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-checkbox.html" />
<link rel="import" href="~/lib/vaadin-checkbox/vaadin-checkbox.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-date-picker.html" />
<link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="/lib/such-selectbox/such-selectbox.html">

<x-problemdetails-config></x-problemdetails-config>
<dom-module id="x-problemdetails-config">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        <iron-ajax url="/PopulateDropdowns/GetResponsabilityCenterCode" last-response="{{ResponsabilityCenters}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetAreas" last-response="{{Areas}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetUtilizadores"
                   last-response="{{Users}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/GetConfAddressee"
                   last-response="{{data}}"
                   method="post"
                   handle-as="json"
                   id="page_databound_ajax"
                   content-type="application/json"></iron-ajax>

        <template is="dom-if" if="{{ _permissions.create }}">
            <div class="subMenu">
                <paper-button class="tablinks" on-tap="_createNew"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Novo</paper-button>
            </div>
        </template>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row break_clear">
                    <div class="col-sm-3">
                        <vaadin-text-field type="text" value="{{ data.codigo }}" id="txtCodigo" name="txtCodigo" label="Código" disabled="{{ !_permissions.update }}"></vaadin-text-field>
                    </div>
                    <div class="col-sm-3">
                        <vaadin-combo-box items="[[Areas]]" id="cmbAreas" item-value-path="value" item-label-path="value" value="{{ data.codArea }}" label="Área" disabled="{{ !_permissions.update }}">
                            <template>
                                <paper-icon-item>
                                    <paper-item-body two-line>
                                        <div>[[item.value]]</div>
                                    </paper-item-body>
                                </paper-icon-item>
                            </template>
                        </vaadin-combo-box>
                    </div>
                    <div class="col-sm-3">
                        <vaadin-combo-box items="[[ResponsabilityCenters]]" id="cmbResponsabilityCenters" item-value-path="id" item-label-path="value" value="{{data.codCentroResponsabilidade}}" label="Cód. Centro Respon." disabled="{{ !_permissions.update }}">
                            <template>
                                <table width="200px">
                                    <tr>
                                        <td width="60%"> <b>[[item.value]]</b></td>
                                        <td width="40%">[[item.id]]</td>
                                    </tr>
                                </table>
                            </template>
                        </vaadin-combo-box>
                    </div>
                    <div class="col-sm-3">
                        <vaadin-combo-box items="[[Users]]" id="cmbUsers" item-value-path="id" item-label-path="value" value="{{data.destinatario}}" label="Destinatário" disabled="{{ !_permissions.update }}">
                            <template>
                                <table width="200px">
                                    <tr>
                                        <td width="60%"> <b>[[item.value]]</b></td>
                                        <td width="40%">[[item.id]]</td>
                                    </tr>
                                </table>
                            </template>
                        </vaadin-combo-box>
                    </div>
                </div>
                <div class="row break_clear">
                    <div class="col-sm-12">
                        <vaadin-text-field rows="1" id="txtNotas" maxlength="250" name="txtNotas" label="Notas" value="{{data.notas}}" disabled="{{ !_permissions.update }}"></vaadin-text-field>
                    </div>
                </div>
                <div class="row break_clear">
                    <div class="col-sm-3 alignPoga">
                        <vaadin-checkbox id="chkDevolvido" checked="{{ data.mostra }}" disabled="{{ !_permissions.update }}">Mostra</vaadin-checkbox>
                        <vaadin-checkbox id="chkBloqueado" checked="{{ data.enviaEmail }}" disabled="{{ !_permissions.update }}">Envia Email</vaadin-checkbox>
                    </div>
                </div>
            </div>
        </div>

        @*CRUD NEW PROFILEMODEL*@
        <iron-ajax url="/Administracao/CreateConfAddressee"
                   id="ajax_create"
                   last-response="{{actionResponse}}"
                   method="post"
                   handle-as="json"
                   on-response="_responseProcessor"
                   content-type="application/json; charset=utf-8"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetAreas"
                   last-response="{{Areas}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <div class="marginSpace">
            @if (string.IsNullOrEmpty(ViewBag.ProblemId))
            {
            <template is="dom-if" if="{{ _permissions.create }}">
                <paper-button class="btnSave" raised on-tap="_create"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Criar</paper-button>
            </template>
            }
            else
            {
            <template is="dom-if" if="{{ _permissions.update }}">
                <paper-button class="btnEdit" raised on-tap="_update"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Atualizar</paper-button>
            </template>
            <template is="dom-if" if="{{ _permissions.delete }}">
                <paper-button class="btnRemove" raised on-tap="_delete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Eliminar</paper-button>
            </template>
            }
        </div>
        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>


    </template>
    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-problemdetails-config',
                properties: {
                    _permissions: {
	                    type: Array,
	                    value: @Html.Raw(Json.Serialize(ViewBag.UPermissions))
                    },
                },
                ready: function () {
                    this.$.page_databound_ajax.body = JSON.stringify("@ViewBag.ProblemId");
                    this.$.page_databound_ajax.generateRequest();
                },
                openToast: function (message) {
                    this.$.ToastMessageSuccess.text = message;
                    this.$.ToastMessageSuccess.open();
                },
                openToastError: function (message) {
                    this.$.ToastMessageError.text = message;
                    this.$.ToastMessageError.open();
                },
                _create: function () {
                    if (this.data.codigo !== '' && this.data.codigo != null) {
                        this.$.ajax_create.url = "/Administracao/CreateConfAddressee";
                        this.$.ajax_create.body = JSON.stringify(this.data);
                        this.$.ajax_create.generateRequest();
                        this.openToast("Configuração criada com sucesso!");
                    } else {
                        this.openToastError('É obrigatório preencher o campo Código.');
                    }
                },
                _update: function () {

                    if (this.data.codigo !== '' && this.data.codigo != null) {
                        this.$.ajax_create.url = "/Administracao/UpdateConfAddressee";
                        this.$.ajax_create.body = JSON.stringify(this.data);
                        this.$.ajax_create.generateRequest();
                        this.openToast("Registo atualizado com sucesso!");
                    } else {
                        this.openToastError('É obrigatório preencher o campo Descrição.');
                    }
                },
                _delete: function () {
                    this.$.ajax_create.url = "/Administracao/DeleteConfAddressee";
                    this.$.ajax_create.body = JSON.stringify(this.data);
                    this.$.ajax_create.generateRequest();
                },
                _responseProcessor: function (e) {
                    var self = this;
                    if (e.detail.status === 200) {
                        if (e.detail.url.indexOf("Create") !== -1) {
                            if(this.actionResponse.eReasonCode == 1)
                                window.location.href = "/Administracao/ConfigDestinatariosDetalhes/?id=" + this.data.codigo;
                            else
                                this.openToastError('Ocorreu um erro ao criar o registo.');
                        }
                        else if (e.detail.url.indexOf("Delete") !== -1) {
                            if (this.actionResponse.eReasonCode == 1) {
                                window.location.href = "/Administracao/ConfigDestinatarios/";
                            } else {
                                this.openToastError('Ocorreu um erro ao remover o registo.');
                            }
                        }
                        else
                        {
                            this.openToast('O perfil foi atualizado com sucesso!');
                        }
                    } else {
                        if (e.detail.url.indexOf("Create") !== -1) {
                            this.openToastError('Ocorreu um erro ao criar o registo.');
                        }
                        else if (e.detail.url.indexOf("Delete") !== -1) {
                            this.openToastError('Ocorreu um erro ao remover o registo.');
                        }
                        else {
                            this.$.grid_databound.generateRequest();
                            this.openToastError('Ocorreu um erro ao atualizar o registo.');
                        }
                    }
                },
                _createNew: function (item) {
                    if (item != null) {
                        window.location.href = "/Administracao/ConfigDestinatariosDetalhes/";
                    }
                }

            });
        });
    </script>

</dom-module>



