
@{
    ViewData["Title"] = "Configuração Problemas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-input/paper-input.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/paper-checkbox-master/paper-checkbox.html" />

<x-problems-config></x-problems-config>
<dom-module id="x-problems-config">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        @*POPULATE GRID*@
        <iron-ajax url="/Administracao/GetConfAddressees"
                   last-response="{{result}}"
                   auto
                   method="post"
                   handle-as="json"
                   id="grid_databound"
                   content-type="application/json"></iron-ajax>

        <template is="dom-if" if="{{ _permissions.create }}">
            <div class="subMenu">
                <paper-button id="btnGoBack" class="tablinks" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
                <paper-button class="tablinks" on-tap="_create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Criar Novo</paper-button>
            </div>
        </template>

        <br />

        <vaadin-grid column-reordering-allowed id="grid" aria-label="ProfileModelsTabel" items="[[result]]" class="grid" active-item="{{activeItem}}" multi-sort="true">
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="codigo">Código</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codigo" />
                </template>
                <template>
                    {{item.codigo}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="codArea">Área</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codArea" />
                </template>
                <template>
                    {{item.codArea}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="codCentroResponsabilidade">Centro Responsabilidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codCentroResponsabilidade" />
                </template>
                <template>
                    {{item.codCentroResponsabilidade}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="destinatario">Destinatário</vaadin-grid-sorter>
                    <vaadin-grid-filter path="destinatario" />
                </template>
                <template>
                    {{item.destinatario}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="mostra">Mostra</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.mostra}}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="enviaEmail">Envia Email</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.enviaEmail}}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="notas">Notas</vaadin-grid-sorter>
                    <vaadin-grid-filter path="notas" />
                </template>
                <template>
                    {{item.notas}}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>

    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-problems-config',
                properties: {
                    activeItem: {
                        observer: '_rowSelected'
                    },
                    _permissions: {
	                    type: Array,
	                    value: @Html.Raw(Json.Serialize(ViewBag.UPermissions))
                    },
                },

                ready: function () {
                    var _this = this;
                    $(window).resize(function () {
                        _this.fixGridToBottom();
                    });
                    $(window).trigger('resize');
                },

                fixGridToBottom: function () {
                    var grid_el = $(this.$.grid);
                    var parentHeight = $(this).offsetParent().height();
                    var offsetTop = $(this).offset().top;
                    var height = parentHeight - offsetTop;
                    $(this.$.grid).height(height);
                },

                _rowSelected: function (item) {
                    if (item != null) {
                        window.location.href = "/Administracao/ConfigDestinatariosDetalhes/?id=" + item.codigo;
                    }
                },
                _create: function (item) {
                    if (item != null) {
                        window.location.href = "/Administracao/ConfigDestinatariosDetalhes/";
                    }
                },
                _goBack: function (e) {
                    window.history.back();
                }

            });
        });
    </script>

</dom-module>




