@{
    ViewData["Title"] = "Config. Email Fornecedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-grid.html">
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-input/paper-input.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html" />
<link rel="import" href="~/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="~/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="~/lib/paper-collapse-item/paper-collapse-item.html">
<link rel="import" href="/lib/such-selectbox/such-selectbox.html">


<x-requesition-type></x-requesition-type>

<dom-module id="x-requesition-type">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <style>
            /*ACORDEÃO*/
            paper-collapse-item {
                --paper-item: {
                    padding: 0 0;
                };
                --paper-collapse-item-header: {
                    padding: 0 15px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-bottom: solid #ddd 1px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                };
            }
        </style>

        <iron-ajax url="/PopulateDropdowns/GetNAVVendorComboGrid" last-response="{{CBVendor}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        @*<iron-ajax url="/PopulateDropdowns/GetResponsabilityCenterCode" last-response="{{CBCresp}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>*@
        <iron-ajax url="/PopulateDropdowns/GetAllResponsabilityCenterCode" last-response="{{CBCresp}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>

        <iron-ajax url="/Administracao/GetEmailFornecedor"
                   last-response="{{result}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="page_databound_ajax"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/CreateEmailFornecedor"
                   last-response="{{createResult}}"
                   method="post"
                   on-response="_createResponse"
                   handle-as="json"
                   id="ajax_create"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/UpdateEmailFornecedor"
                   last-response="{{updateResult}}"
                   method="post"
                   on-response="_updateResponse"
                   handle-as="json"
                   id="ajax_update"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/DeleteEmailFornecedor"
                   last-response="{{deleteResult}}"
                   method="post"
                   on-response="_deleteResponse"
                   handle-as="json"
                   id="ajax_delete"
                   content-type="application/json">
        </iron-ajax>

        <template is="dom-if" if="{{ !_permissionsUpdate }}">
            <div class="subMenu">
                <paper-button id="btnGoBack" class="tablinks" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
                <paper-button id="btnAddNew" class="tablinks" on-tap="_update" disabled="{{ _permissionsUpdate }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
                <paper-button id="btnCancel" class="tablinks" on-tap="_cancel" disabled="{{ _permissionsUpdate }}"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancelar</paper-button>
            </div>
        </template>

        <paper-collapse-group>
            <paper-collapse-item class="panel-heading" header="Novo Registo" closed>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <such-selectbox id="ddCodFornecedor" value="{{_CBVendor}}" label="Código do Fornecedor" required error-message="Este campo é obrigatório"
                                            items="[[CBVendor]]"
                                            text-path="name"
                                            value-path="no_"
                                            fields='[{"field":"no_", "name":"Nº Fornecedor"}, {"field":"name", "name":"Nome"}, {"field":"vatRegistrationNo", "name":"Nº VAT"}, {"field":"address", "name":"Morada"}, {"field":"postCode", "name":"Código Postal"}]'
                                            disabled="{{ _permissionsCreate }}">
                            </such-selectbox>
                        </div>

                        <div class="col-lg-3">
                            <such-selectbox id="ddCodCresp" name="ddCodCresp" value="{{_CBCresp}}" label="Cód. Centro Responsabilidade" disabled="{{ _permissionsCreate }}" required error-message="Este campo é obrigatório"
                                            items="[[CBCresp]]"
                                            text-path="value"
                                            value-path="id"
                                            fields='[{"field":"id", "name":"Código"}, {"field":"value", "name":"Descrição"}]'>
                            </such-selectbox>
                        </div>

                        <div class="col-lg-3">
                            <vaadin-text-field id="ddEmail" label="Email" disabled="{{ _permissionsCreate }}" required error-message="Este campo é obrigatório"></vaadin-text-field>
                        </div>

                        <div class="col-lg-2 alignPoga">
                            <paper-button id="btnAddNew" class="btnSave" on-tap="_createEmailFornecedor" disabled="{{ _permissionsCreate }}">Criar</paper-button>
                        </div>
                    </div>
                </div>
            </paper-collapse-item>
        </paper-collapse-group>

        <vaadin-grid id="gridEmailFornecedor" aria-label="gridEmailFornecedor" items="[[result]]" class="grid" multi-sort="true">
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="codFornecedor">Código Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codFornecedor" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.codFornecedor}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="nome">Nome Fornecedor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="nome" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.nome}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="cresp">Código do Cresp</vaadin-grid-sorter>
                    <vaadin-grid-filter path="cresp" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.cresp}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="email">Email</vaadin-grid-sorter>
                    <vaadin-grid-filter path="email" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.email}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <template is="dom-if" if="{{ !_permissionsDelete }}">
                <vaadin-grid-column resizable width="150px">
                    <template class="header">
                    </template>
                    <template>
                        <center>
                            <paper-button class="btnRemove tableBtn" raised on-tap="_deleteComprador" disabled="{{_permissionsDelete}}" title="Eliminar"><i class="fa fa-trash" aria-hidden="true"></i></paper-button>
                        </center>
                    </template>
                </vaadin-grid-column>
            </template>
        </vaadin-grid>

        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>

    <script>
         var CreateValue = true, UpdateValue = true, DeleteValue = true;
         if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' =="false") {
            CreateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' =="false") {
            UpdateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' =="false") {
            DeleteValue = false;
        }

        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-requesition-type',
                properties: {
                    _permissionsUpdate: {
                        type: Boolean,
                        value: UpdateValue
                    },
                    _permissionsCreate: {
                        type: Boolean,
                        value: CreateValue
                    },
                    _permissionsDelete: {
                        type: Boolean,
                        value: DeleteValue
                    },
                },

                ready: function () {
                    var _this = this;
                    $(window).resize(function () {
                        _this.fixGridToBottom();
                    });
                    $(window).trigger('resize');
                },

                fixGridToBottom: function () {
                    var grid_el = $(this.$.gridEmailFornecedor);
                    var parentHeight = $(this).offsetParent().height();
                    var offsetTop = $(this).offset().top;
                    var height = parentHeight - offsetTop;
                    $(this.$.gridEmailFornecedor).height(height);
                },

                openToast: function (message) {
                    this.$.ToastMessageSuccess.text = message;
                    this.$.ToastMessageSuccess.open();
                },
                openToastError: function (message) {
                    this.$.ToastMessageError.text = message;
                    this.$.ToastMessageError.open();
                },

                _cancel: function () {
                    this.$.page_databound_ajax.generateRequest();
                    this.$.gridEmailFornecedor.clearCache();
                },

                _createEmailFornecedor: function () {
                    debugger;
                    if (this.$.ddCodFornecedor.value == "" || this.$.ddCodFornecedor.value == null) {
                        this.openToastError('É obrigatório preencher o campo Código do Fornecedor.');
                    }
                    else {
                        if (this.$.ddCodCresp.value == "" || this.$.ddCodCresp.value == null) {
                            this.openToastError('É obrigatório preencher o campo Código do Cresp.');
                        } else {
                            if (this.$.ddEmail.value == "" || this.$.ddEmail.value == null) {
                                this.openToastError('É obrigatório preencher o campo Email.');
                            } else {
                                this.$.ajax_create.body = JSON.stringify({
                                    codFornecedor: this.$.ddCodFornecedor.value,
                                    cresp: this.$.ddCodCresp.value,
                                    email: this.$.ddEmail.value
                                });
                                this.$.ajax_create.generateRequest();
                                this.$.gridEmailFornecedor.clearCache();
                            }
                        }
                    }
                },

                _createResponse: function (e) {
                    debugger;
                    var self = this;
                    if (this.createResult.eReasonCode == 1) {

                        this.openToast(this.createResult.eMessage);

                        this.$.page_databound_ajax.generateRequest();
                        this.$.gridEmailFornecedor.clearCache();

                        this.$.ddCodFornecedor.value = "";
                        this.$.ddCodFornecedor.text = "";
                        this.$.ddCodCresp.value = "";
                        this.$.ddCodCresp.text = "";
                        this.$.ddEmail.value = "";
                    }
                    else {
                        this.openToastError(this.createResult.eMessage);
                    }
                },

                _update: function () {
                    debugger;
                    this.$.ajax_update.body = JSON.stringify(this.result);
                    this.$.ajax_update.generateRequest();
                    this.$.gridEmailFornecedor.clearCache();
                },

                _updateResponse: function (e) {
                    debugger;
                    var self = this;
                    if (this.updateResult.eReasonCode == 1) {

                        this.openToast(this.updateResult.eMessage);

                        this.$.page_databound_ajax.generateRequest();
                        this.$.gridEmailFornecedor.clearCache();
                    }
                    else {
                        this.openToastError(this.updateResult.eMessage);
                    }
                },

                _deleteComprador: function (result) {
                    debugger;
                    var index = this.result.indexOf(result.model.item);

                    this.$.ajax_delete.body = JSON.stringify({
                        codFornecedor: result.model.item.codFornecedor,
                        cresp: result.model.item.cresp,
                        email: result.model.item.email
                    });
                    this.$.ajax_delete.generateRequest();
                    this.$.gridEmailFornecedor.clearCache();
                },

                _deleteResponse: function (e) {
                    debugger;
                    var self = this;
                    if (this.deleteResult.eReasonCode == 1) {

                        this.openToast(this.deleteResult.eMessage);

                        this.$.page_databound_ajax.generateRequest();
                        this.$.gridEmailFornecedor.clearCache();
                    }
                    else {
                        this.openToastError(this.deleteResult.eMessage);
                    }
                },

                _goBack: function (e) {
                    window.history.back();
                }

            });
        });
    </script>
</dom-module>