
@{
    ViewData["Title"] = "FH Ajudas de Custo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*grid*@
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-grid.html">
@*textfield*@
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html">

<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">


@*combobox*@
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="~/lib/vaadin-combo-box/vaadin-combo-box.html" />
@*toast*@
<link rel="import" href="~/lib/paper-toast-master/paper-toast.html" />
@*layout*@
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
@*mixin*@
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
@*button*@
<link rel="import" href="~/lib/paper-button/paper-button.html" />
@*ironform*@
<link rel="import" href="~/lib/iron-form/iron-form.html" />
@*paperinput*@
<link rel="import" href="~/lib/paper-input/paper-input.html" />

<!--ACORDEÃO-->
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-item.html">
<link rel="import" href="~/lib/paper-tabs-master/paper-tabs.html" />

<x-group-cont-product></x-group-cont-product>
<dom-module id="x-group-cont-product">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <style>
            input[readonly] {
                border: 2px solid transparent;
            }

            #configuracaoAjudaCusto vaadin-date-picker {
                margin-top: 16px !important;
                width: 100% !important;
            }

            input {
                font: inherit;
            }

            paper-input {
                max-width: 450px !important;
            }

            /*ACORDEÃO*/
            paper-collapse-item {
                --paper-item: {
                        padding: 0 0;
                    };
                --paper-collapse-item-header: {
                        padding: 0 15px;
                        color: #333;
                        background-color: #f5f5f5;
                        border-bottom: solid #ddd 1px;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                    };
            }
        </style>
        @*POPULATE GRID*@
        <iron-ajax url="/Administracao/GetConfiguracaoAjudaCusto"
                   last-response="{{result}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="ajax_GetAll"
                   content-type="application/json"></iron-ajax>
        @*POPULATE GRID Update*@
        <iron-ajax url="/Administracao/UpdateConfiguracaoAjudaCusto"
                   last-response="{{result}}"
                   method="post"
                   on-response="_updateResponse"
                   handle-as="json"
                   id="ajax_update"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/Administracao/CreateConfiguracaoAjudaCusto"
                   last-response="{{createResult}}"
                   method="post"
                   on-response="_createResponse"
                   handle-as="json"
                   id="ajax_create"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/Administracao/DeleteConfiguracaoAjudaCusto"
                   last-response="{{deleteResult}}"
                   method="post"
                   on-response="_deleteResponse"
                   handle-as="json"
                   id="ajax_delete"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetResourcesCode/1"
                   last-response="{{LCodigoRecurso}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetAjudaCustoTipoCusto"
                   last-response="{{LtipoCusto}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetAjudaCustoRefCusto"
                   last-response="{{LRefCusto}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetAjudaCustoPartidaChegada"
                   last-response="{{LSinalPartidaChegada}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <div class="subMenu">
            <paper-button id="btnGoBack" class="tablinks" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
            <paper-button id="btnAddNew" class="tablinks" on-tap="_update" disabled="{{ _permissionsUpdate }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
            <paper-button id="btnCancel" class="tablinks" on-tap="_cancel" disabled="{{ _permissionsUpdate }}"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancelar</paper-button>
        </div>

        <paper-collapse-group>
            <paper-collapse-item class="panel-heading" header="Novo Registo" closed>
                <div class="panel-body">
                    <div class="row break_clear">
                        <div class="col-lg-3">
                            <vaadin-combo-box id="codigoTipoCusto" items="[[LCodigoRecurso]]" item-value-path="id" item-label-path="value" value="{{codigoTipoCusto}}" label="Código Tipo Custo" disabled="{{ _permissionsCreate }}">
                                <template>
                                    <table width="220px"><tr><td width="30%">[[item.id]] </td><td width="70%"> <b>[[item.value]]</b></td></tr></table>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-lg-3"><vaadin-text-field id="distanciaMinima" value="{{distanciaMinima}}" label="Distância Minima" type="number" disabled="{{ _permissionsCreate }}"></vaadin-text-field></div>

                        <div class="col-lg-3 alignPoga"><vaadin-checkbox id="dataChegadaDataPartida" checked="{{dataChegadaDataPartida}}" disabled="{{ _permissionsCreate }}">Data Chegada > Data Partida</vaadin-checkbox></div>

                        <div class="col-lg-3"><vaadin-text-field id="limiteHoraPartida" value="{{limiteHoraPartida}}" label="Limite Hora Partida" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" disabled="{{ _permissionsCreate }}"></vaadin-text-field></div>

                        <div class="col-lg-3"><vaadin-text-field id="limiteHoraChegada" value="{{limiteHoraChegada}}" label="Limite Hora Chegada" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" disabled="{{ _permissionsCreate }}"></vaadin-text-field></div>

                        <div class="col-lg-3 alignPoga"><vaadin-checkbox id="prioritario" checked="{{pripritario}}" disabled="{{ _permissionsCreate }}">Prioritário</vaadin-checkbox></div>

                        <div class="col-lg-3">
                            <vaadin-combo-box id="tipoCusto" items="[[LtipoCusto]]" item-value-path="id" item-label-path="value" value="{{tipoCusto}}" label="Tipo Custo" disabled="{{ _permissionsCreate }}">
                                <template>
                                    <table width="220px"><tr><td width="100%"> <b>[[item.value]]</b></td></tr></table>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-lg-3">
                            <vaadin-combo-box id="codigoRefCusto" items="[[LRefCusto]]" item-value-path="id" item-label-path="value" required value="{{codigoRefCusto}}" label="Código Ref. Custo" disabled="{{ _permissionsCreate }}">
                                <template>
                                    <table width="220px"><tr><td width="100%"> <b>[[item.value]]</b></td></tr></table>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-lg-3">
                            <vaadin-combo-box id="sinalHoraPartida" items="[[LSinalPartidaChegada]]" item-value-path="id" item-label-path="value" value="{{sinalHoraPartida}}" label="Sinal Hora Partida" disabled="{{ _permissionsCreate }}">
                                <template>
                                    <table width="220px"><tr><td width="100%"><b>[[item.value]]</b></td></tr></table>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-lg-3"><vaadin-text-field value="{{horaPartida}}" id="horaPartida" name="horaPartida" label="Hora Partida" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"></vaadin-text-field></div>

                        <div class="col-lg-3">
                            <vaadin-combo-box id="sinalHoraChegada" items="[[LSinalPartidaChegada]]" item-value-path="id" item-label-path="value" value="{{sinalHoraChegada}}" label="Sinal Hora Chegada" disabled="{{ _permissionsCreate }}">
                                <template>
                                    <table width="220px"><tr><td width="100%"><b>[[item.value]]</b></td></tr></table>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-lg-3"><vaadin-text-field value="{{horaChegada}}" id="horaChegada" name="horaChegada" label="Hora Chegada" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" disabled="{{ _permissionsCreate }}"></vaadin-text-field></div>

                        <div class="col-lg-3 alignPoga"><vaadin-checkbox id="tipoEstadia" checked="{{tipoEstadia}}" disabled="{{ _permissionsCreate }}">Tipo Estadia</vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><paper-button id="btnAddNew" class="btnSave" on-tap="_create" disabled="{{ _permissionsCreate }}">Criar</paper-button></div>
                    </div>
                </div>
            </paper-collapse-item>
        </paper-collapse-group>

        <br />

        <vaadin-grid id="gridConfiguracaoAjudaCusto" aria-label="ProfileModelsTabel" items="[[result]]" class="grid" multi-sort="true">
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="CodigoTipoCustoTexto" disabled>Código Tipo Custo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="CodigoTipoCustoTexto" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.codigoTipoCustoTexto}}" disabled></vaadin-text-field>
                    @*<vaadin-text-field value="{{item.codigoTipoCusto}}" disabled></vaadin-text-field>*@
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="distanciaMinima">Distância Minima</vaadin-grid-sorter>
                    <vaadin-grid-filter path="distanciaMinima" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.distanciaMinima}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="dataChegadaDataPartida">Data Chegada > Data Partida</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataChegadaDataPartida" />
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.dataChegadaDataPartida}}" disabled></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="limiteHoraPartida">Limite Hora Partida</vaadin-grid-sorter>
                    <vaadin-grid-filter path="limiteHoraPartida" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.limiteHoraPartida}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="limiteHoraChegada">Limite Hora Chegada</vaadin-grid-sorter>
                    <vaadin-grid-filter path="limiteHoraChegada" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.limiteHoraChegada}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="prioritario">Prioritario</vaadin-grid-sorter>
                    <vaadin-grid-filter path="prioritario" />
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.prioritario}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="tipoCusto">Tipo Custo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="tipoCusto" />
                </template>
                <template>
                    <vaadin-combo-box id="tipoCusto" items="[[LtipoCusto]]" item-value-path="id" item-label-path="value" value="{{item.tipoCusto}}" disabled="{{ _permissionsUpdate }}">
                        <template>
                            <table width="220px"><tr><td width="100%"> <b>[[item.value]]</b></td></tr></table>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="codigoRefCusto">Código Ref. Custo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codigoRefCusto" />
                </template>
                <template>
                    <vaadin-combo-box id="codigoRefCusto" items="[[LRefCusto]]" item-value-path="id" item-label-path="value" value="{{item.codigoRefCusto}}" disabled="{{ _permissionsUpdate }}">
                        <template>
                            <table width="220px"><tr><td width="100%"> <b>[[item.value]]</b></td></tr></table>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="sinalHoraPartida">Sinal Hora Partida</vaadin-grid-sorter>
                    <vaadin-grid-filter path="sinalHoraPartida" />
                </template>
                <template>
                    <vaadin-combo-box id="sinalHoraPartida" items="[[LSinalPartidaChegada]]" item-value-path="id" item-label-path="value" value="{{item.sinalHoraPartida}}" disabled="{{ _permissionsUpdate }}">
                        <template>
                            <table width="220px"><tr><td width="100%"> <b>[[item.value]]</b></td></tr></table>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="horaPartida">Hora Partida</vaadin-grid-sorter>
                    <vaadin-grid-filter path="horaPartida" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.horaPartida}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="sinalHoraChegada">Sinal Hora Chegada</vaadin-grid-sorter>
                    <vaadin-grid-filter path="sinalHoraChegada" />
                </template>
                <template>
                    <vaadin-combo-box id="sinalHoraChegada" items="[[LSinalPartidaChegada]]" item-value-path="id" item-label-path="value" value="{{item.sinalHoraPartida}}" disabled="{{ _permissionsUpdate }}">
                        <template>
                            <table width="220px"><tr><td width="100%"> <b>[[item.value]]</b></td></tr></table>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="horaChegada">Hora Chegada</vaadin-grid-sorter>
                    <vaadin-grid-filter path="horaChegada" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.horaChegada}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                </template>
                <template>
                    <center>
                        <paper-button class="btnRemove" raised on-tap="_delete" disabled="{{ _permissionsDelete }}">Eliminar</paper-button>
                    </center>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right"></paper-toast>
        <paper-toast id="ToastError" style="background-color:red" duration="4000" horizontalAlign="right"></paper-toast>
    </template>
    <script>
        var CreateValue = true, UpdateValue = true, DeleteValue = true;
        if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' =="false") {
            CreateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' =="false") {
            UpdateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' =="false") {
            DeleteValue = false;
        }
        document.addEventListener('WebComponentsReady',
            function () {
                Polymer({
                    is: 'x-group-cont-product',
                    properties: {
                        _permissionsUpdate: {
                            type: Boolean,
                            value: UpdateValue
                        },
                        _permissionsCreate: {
                            type: Boolean,
                            value: CreateValue
                        },
                        _permissionsDelete: {
                            type: Boolean,
                            value: DeleteValue
                        },
                        ddgroupcontprod: {
                            type: String,
                            notify: true,
                            value: ""
                        }
                    },
                    ready: function () {
                        this.$.ajax_GetAll.generateRequest();

                        var _this = this;
                        $(window).resize(function () {
                            _this.fixGridToBottom();
                        });
                        $(window).trigger('resize');
                    },

                    fixGridToBottom: function () {
                        var grid_el = $(this.$.gridConfiguracaoAjudaCusto);
                        var parentHeight = $(this).offsetParent().height();
                        var offsetTop = $(this).offset().top;
                        var height = parentHeight - offsetTop;
                        $(this.$.gridConfiguracaoAjudaCusto).height(height);
                    },

                    openToast: function (message) {
                        this.$.ToastMessage.text = message;
                        this.$.ToastMessage.open();
                    },
                    _openToastError: function (message) {
                        this.$.ToastError.text = message;
                        this.$.ToastError.open();
                    },
                    _validateData: function (container) {

                        var polymerDom = Polymer.dom(this.$[container]);
                        var errors = 0;
                        var formSelector = "vaadin-text-field, vaadin-date-picker, vaadin-combo-box";
                        var formFields = polymerDom.querySelectorAll(formSelector);

                        formFields.forEach(function (element) {
                            if (!element.validate()) errors++;
                        });

                        if (errors > 0) {
                            this._openToastError("Verifique os dados inseridos.");
                            return false;
                        }

                        return true;
                    },
                    _create: function () {

                        if (this._validateData("configuracaoAjudaCusto")) {

                            this.$.ajax_create.body = JSON.stringify(
                                {
                                    codigoTipoCusto: this.$.codigoTipoCusto.value,
                                    codigoRefCusto: this.$.codigoRefCusto.value,
                                    dataChegadaDataPartida: this.$.dataChegadaDataPartida.checked,
                                    distanciaMinima: this.$.distanciaMinima.value,
                                    limiteHoraPartida: this.$.limiteHoraPartida.value,
                                    limiteHoraChegada: this.$.limiteHoraChegada.value,
                                    prioritario: this.$.prioritario.checked,
                                    tipoCusto: this.$.tipoCusto.value,
                                    sinalHoraPartida: this.$.sinalHoraPartida.value,
                                    horaPartida: this.$.horaPartida.value,
                                    sinalHoraChegada: this.$.sinalHoraChegada.value,
                                    horaChegada: this.$.horaChegada.value,
                                    tipoEstadia: this.$.tipoEstadia.checked
                                }
                            );
                            this.$.ajax_create.generateRequest();
                            this.$.gridConfiguracaoAjudaCusto.clearCache();
                        }
                    },
                    _update: function () {
                        this.$.ajax_update.body = JSON.stringify(this.result);
                        this.$.ajax_update.generateRequest();
                        this.$.gridConfiguracaoAjudaCusto.clearCache();
                    },
                    _delete: function (e) {

                        this.$.ajax_delete.body = JSON.stringify(e.model.item);
                        this.$.ajax_delete.generateRequest();
                        this.result = this.result.filter(function (item) {
                            return item != e.model.item;
                        });
                        this.$.gridConfiguracaoAjudaCusto.clearCache();
                    },
                    _cancel: function () {
                        this.$.ajax_GetAll.generateRequest();
                        this.$.gridConfiguracaoAjudaCusto.clearCache();
                    },
                    _updateResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {
                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToast("Occorreu um erro ao atualizar a Tabela.");
                        }
                    },
                    _createResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {

                            this.$.codigoTipoCusto.value = "";
                            this.$.codigoRefCusto.value = "";
                            this.$.dataChegadaDataPartida.checked = false;
                            this.$.distanciaMinima.value = "";
                            this.$.limiteHoraPartida.value = "";
                            this.$.limiteHoraChegada.value = "";
                            this.$.prioritario.checked = false;
                            this.$.tipoCusto.value = "";
                            this.$.sinalHoraPartida.value = "";
                            this.$.horaPartida.value = "";
                            this.$.sinalHoraChegada.value = "";
                            this.$.horaChegada.value = "";
                            this.$.tipoEstadia.checked = false;

                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToast("Occorreu um erro ao atualizar a Tabela.");
                        }
                    },
                    _deleteResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {
                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToast("Occorreu um erro ao atualizar a Tabela.");
                        }
                    },
                    _goBack: function (e) {
                        window.history.back();
                    }
                });
            });
    </script>
</dom-module>


