
@{
    ViewData["Title"] = "Configuração Empregado Recursos Folha de Horas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-checkbox-master/paper-checkbox.html" />
<link rel="import" href="/lib/paper-input/paper-input.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tab.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="/lib/paper-tooltip-master/paper-tooltip.html">

<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/iron-pages-master/iron-pages.html" />

<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-context-menu/vaadin-context-menu.html" />
<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="/lib/vaadin-item/vaadin-item.html" />
<link rel="import" href="/lib/vaadin-list-box/vaadin-list-box.html" />
<link rel="import" href="/lib/vaadin-radio-button/vaadin-radio-button.html">
<link rel="import" href="/lib/vaadin-radio-button/vaadin-radio-button-group.html">
<link rel="import" href="/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html">

<link rel="import" href="/lib/vaadin-upload/vaadin-upload-file.html">
<link rel="import" href="/lib/vaadin-upload/vaadin-upload.html">
<link rel="import" href="/lib/vaadin-upload/vaadin-upload-file.html">
<link rel="import" href="/lib/vaadin-upload/vaadin-upload.html">

<link rel="import" href="/lib/neon-animation/web-animations.html">

<!--ACORDEÃO-->
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-item.html">

<h1 class="title">Configuração Empregado Recursos Folha de Horas</h1>

<x-group-cont-product></x-group-cont-product>

<dom-module id="x-group-cont-product">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <style>
            input[readonly] {
                border: 2px solid transparent;
            }

            input {
                font: inherit;
            }

            paper-input {
                max-width: 450px !important;
            }

            /*ACORDEÃO*/
            paper-collapse-item {
                --paper-item: {
                    padding: 0 0;
                };
                --paper-collapse-item-header: {
                    padding: 0 15px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-bottom: solid #ddd 1px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                };
            }
        </style>

        <iron-ajax url="/Administracao/GetRHRecursosFH"
                   last-response="{{result}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="ajax_GetAll"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/GetRHRecursosFH_AnexosErros"
                   last-response="{{anexosErros}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="ajax_GetAll_AnexosErros"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/UpdateRHRecursosFH"
                   last-response="{{result}}"
                   method="post"
                   on-response="_updateResponse"
                   handle-as="json"
                   id="ajax_update"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/CreateRHRecursosFH"
                   last-response="{{createResult}}"
                   method="post"
                   on-response="_createResponse"
                   handle-as="json"
                   id="ajax_create"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/DeleteRHRecursosFH"
                   last-response="{{deleteResult}}"
                   method="post"
                   on-response="_deleteResponse"
                   handle-as="json"
                   id="ajax_delete"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetEmployees_FH"
                   last-response="{{LEmployeeNo}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetResourcesCodeFH"
                   last-response="{{LResourceCode}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/Administracao/DeleteAnexosErros"
                   last-response="{{AnexosErrosDeleted}}"
                   method="post"
                   handle-as="json"
                   id="page_deleteAnexosErros_ajax"
                   on-response="_deleteFileAnexosErrosResponse"
                   content-type="application/json">
        </iron-ajax>

        <paper-collapse-group>
            <paper-collapse-item class="panel-heading" header="Novo Registo" closed>
                <div class="panel-body">

                    <div class="row" id="configuracaoRHRecursos">
                        <div class="col-sm-4">
                            <vaadin-combo-box items="[[LEmployeeNo]]" id="noEmpregado" item-value-path="id" item-label-path="value" label="Empregado " value="{{noEmpregado}}" disabled="{{ _permissionsCreate }}" required error-message="Este campo é obrigatório">
                                <template>
                                    <paper-icon-item>
                                        <paper-item-body two-line>
                                            <div>[[item.value]]</div>
                                        </paper-item-body>
                                    </paper-icon-item>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-sm-4">
                            <vaadin-combo-box items="[[LResourceCode]]" id="recurso" item-value-path="id" item-label-path="value" label="Recurso" value="{{recurso}}" disabled="{{ _permissionsCreate }}" required error-message="Este campo é obrigatório">
                                <template>
                                    <paper-icon-item>
                                        <paper-item-body two-line>
                                            <div>[[item.value]]</div>
                                        </paper-item-body>
                                    </paper-icon-item>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-sm-1 alignPoga">
                            <paper-button id="btnAddNew" class="btnSave" on-tap="_create" disabled="{{ _permissionsCreate }}">Criar</paper-button>
                        </div>

                        <div class="row">
                            <div class="col-sm-11">
                                <vaadin-upload id="UploadRequest"
                                               target="/Administracao/FileUpload_FHEmpregadoRecursos"
                                               method="POST"
                                               headers="{'Accept': 'application/json'}"
                                               max-files="1"
                                               accept=".xlsx"
                                               timeout=30000>
                                    <span slot="drop-label">Coloque aqui o seu ficheiro Excel...</span>
                                </vaadin-upload>
                            </div>
                            <div class="col-sm-1">
                                <a href="/Administracao/DownloadRHRecursosFHTemplate/FH_EmpregadoRecursos_Template.xlsx" target="_blank">Descarregar Modelo</a>
                                <paper-button id="btnAddNew" class="btnSave" on-tap="_refreshgridFHEmpregadoRecursos" disabled="{{ _permissionsCreate }}">Atualizar</paper-button>
                            </div>
                        </div>

                        <div class="row break_clear">
                            <div class="col-sm-12">
                                <vaadin-grid id="tabAnexosErros" aria-label="TabelaAnexosErros" items="{{ anexosErros }}" class="editGrid" multi-sort="true">
                                    <vaadin-grid-column hidden>
                                        <template class="header">
                                            <vaadin-grid-sorter path="codeTexto" style="text-align:center;">Identificador</vaadin-grid-sorter>
                                            <vaadin-grid-filter path="codeTexto" />
                                        </template>
                                        <template>
                                            <vaadin-text-field id="tabAnexosErroscodeTexto" value="{{item.codeTexto}}"></vaadin-text-field>
                                        </template>
                                    </vaadin-grid-column>

                                    <vaadin-grid-column resizable>
                                        <template class="header">
                                            <vaadin-grid-sorter path="tipoTexto" style="text-align:center;">Resultado</vaadin-grid-sorter>
                                            <vaadin-grid-filter path="tipoTexto" />
                                        </template>
                                        <template>
                                            <vaadin-text-field id="tabAnexosErroscriadoPorNome" value="{{item.tipoTexto}}" disabled></vaadin-text-field>
                                        </template>
                                    </vaadin-grid-column>

                                    <vaadin-grid-column resizable>
                                        <template class="header">
                                            <vaadin-grid-sorter path="nomeAnexo" style="text-align:center;">Anexo</vaadin-grid-sorter>
                                            <vaadin-grid-filter path="nomeAnexo" />
                                        </template>
                                        <template>
                                            <a href="/Administracao/DownloadFileAnexosErros/{{item.codeTexto}}" target="_blank">{{item.nomeAnexo}}</a>
                                        </template>
                                    </vaadin-grid-column>

                                    <vaadin-grid-column resizable>
                                        <template class="header">
                                            <vaadin-grid-sorter path="criadoPorNome" style="text-align:center;">Criador</vaadin-grid-sorter>
                                            <vaadin-grid-filter path="criadoPorNome" />
                                        </template>
                                        <template>
                                            <vaadin-text-field id="tabAnexosErroscriadoPorNome" value="{{item.criadoPorNome}}" disabled></vaadin-text-field>
                                        </template>
                                    </vaadin-grid-column>

                                    <vaadin-grid-column resizable>
                                        <template class="header">
                                            <vaadin-grid-sorter path="dataHora_CriacaoTexto" style="text-align:center;">Data Criação</vaadin-grid-sorter>
                                            <vaadin-grid-filter path="dataHora_CriacaoTexto" />
                                        </template>
                                        <template>
                                            <vaadin-text-field id="tabAnexosErrosdataHora_CriacaoTexto" value="{{item.dataHora_CriacaoTexto}}" disabled></vaadin-text-field>
                                        </template>
                                    </vaadin-grid-column>

                                    <vaadin-grid-column resizable>
                                        <template class="header">
                                        </template>
                                        <template>
                                            <paper-button class="btnRemove" raised on-tap="_deleteFileAnexosErros" disabled="{{ _permissionsDelete }}">Eliminar</paper-button>
                                        </template>
                                    </vaadin-grid-column>
                                </vaadin-grid>
                            </div>
                        </div>

                    </div>

                </div>
            </paper-collapse-item>
        </paper-collapse-group>

        <br />

        <vaadin-grid id="gridFHEmpregadoRecursos" aria-label="ProfileModelsTabel" items="[[result]]" class="grid" multi-sort="true">
            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="noEmpregado">Nº Empregado</vaadin-grid-sorter>
                    <vaadin-grid-filter path="noEmpregado" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.noEmpregado}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="nomeEmpregado">Emp. Nome</vaadin-grid-sorter>
                    <vaadin-grid-filter path="nomeEmpregado" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.nomeEmpregado}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="recurso">Recurso</vaadin-grid-sorter>
                    <vaadin-grid-filter path="recurso" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.recurso}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="nomeRecurso">Recurso Nome</vaadin-grid-sorter>
                    <vaadin-grid-filter path="nomeRecurso" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.nomeRecurso}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="familiaRecurso">Recurso Família</vaadin-grid-sorter>
                    <vaadin-grid-filter path="familiaRecurso" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.familiaRecurso}}" disabled="true"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                </template>
                <template>
                    <center>
                        <paper-button class="btnRemove" raised on-tap="_delete" disabled="{{ _permissionsDelete }}">Eliminar</paper-button>
                    </center>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

        <div class="marginSpace">
            <paper-button raised id="btnGoBack" class="btnDefault" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
        </div>

        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right"></paper-toast>
        <paper-toast id="ToastError" style="background-color:red" duration="4000" horizontalAlign="right"></paper-toast>

    </template>
    <script>
        var CreateValue = true, UpdateValue = true, DeleteValue = true;

        if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' == "false") {
            CreateValue = false;
        }

        if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' == "false") {
            UpdateValue = false;
        }

        if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' == "false") {
            DeleteValue = false;
        }

        window.addEventListener('WebComponentsReady', function () {
            var upload = document.querySelector('vaadin-upload#UploadRequest');

            upload.addEventListener('file-reject', function (event) {
                this._showErrorMessage(event.detail.file.name + ' erro: ' + event.detail.error);
                //window.alert(event.detail.file.name + ' erro: ' + event.detail.error);
            });
        });

        document.addEventListener('WebComponentsReady',
        function () {
            Polymer({
                is: 'x-group-cont-product',
                properties: {
                    _permissionsUpdate: {
                        type: Boolean,
                        value: UpdateValue
                    },

                    _permissionsCreate: {
                        type: Boolean,
                        value: CreateValue
                    },

                    _permissionsDelete: {
                        type: Boolean,
                        value: DeleteValue
                    },

                    ddgroupcontprod: {
                        type: String,
                        notify: true,
                        value: ""
                    }
                },

                ready: function () {
                    this.$.ajax_GetAll.generateRequest();
                    this.$.ajax_GetAll_AnexosErros.generateRequest();
                },

                openToast: function (message) {
                    this.$.ToastMessage.text = message;
                    this.$.ToastMessage.open();
                },

                _openToastError: function (message) {
                    this.$.ToastError.text = message;
                    this.$.ToastError.open();
                },

                _validateData: function (container) {

                    var polymerDom = Polymer.dom(this.$[container]);
                    var errors = 0;
                    var formSelector = "vaadin-text-field, vaadin-date-picker, vaadin-combo-box";
                    var formFields = polymerDom.querySelectorAll(formSelector);

                    formFields.forEach(function (element) {
                        if (!element.validate()) errors++;
                    });

                    if (errors > 0) {
                        this._openToastError("Verifique os dados inseridos.");
                        return false;
                    }

                    return true;
                },

                _create: function () {
                    if (this._validateData("configuracaoRHRecursos")) {

                        this.$.ajax_create.body = JSON.stringify(
                            {
                                noEmpregado: this.$.noEmpregado.value,
                                recurso: this.$.recurso.value
                            }
                        );
                        this.$.ajax_create.generateRequest();
                        this.$.gridFHEmpregadoRecursos.clearCache();
                    }
                },

                _update: function () {
                    this.$.ajax_update.body = JSON.stringify(this.result);
                    this.$.ajax_update.generateRequest();
                    this.$.gridFHEmpregadoRecursos.clearCache();
                },

                _delete: function (e) {

                    this.$.ajax_delete.body = JSON.stringify(e.model.item);
                    this.$.ajax_delete.generateRequest();
                    this.result = this.result.filter(function (item) {
                        return item != e.model.item;
                    });
                    this.$.gridFHEmpregadoRecursos.clearCache();
                },

                _cancel: function () {
                    this.$.ajax_GetAll.generateRequest();
                    this.$.ajax_GetAll_AnexosErros.generateRequest();

                    this.$.gridFHEmpregadoRecursos.clearCache();
                },

                _refreshgridFHEmpregadoRecursos: function (e) {
                    //debugger;
                    this.$.ajax_GetAll.generateRequest();
                    this.$.ajax_GetAll_AnexosErros.generateRequest();

                    this.$.gridFHEmpregadoRecursos.clearCache();
                },

                _createResponse: function (e) {
                    var self = this;

                    if (this.createResult == 0) {
                        this.openToast("Já existe este tipo de Registo na Tabela.");
                    }
                    else {
                        if (e.detail.status === 200) {

                            this.$.noEmpregado.value = "";
                            this.$.recurso.value = "";

                            this.$.ajax_GetAll.generateRequest();
                            this.$.ajax_GetAll_AnexosErros.generateRequest();

                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToast("Occorreu um erro ao atualizar a Tabela.");
                        }
                    }
                },

                _deleteResponse: function (e) {
                    var self = this;
                    if (e.detail.status === 200) {
                        this.$.ajax_GetAll.generateRequest();
                        this.$.ajax_GetAll_AnexosErros.generateRequest();

                        this.openToast("Tabela atualizada.");
                    }
                    else {
                        this.openToast("Occorreu um erro ao atualizar a Tabela.");
                    }
                },

                _deleteFileAnexosErros: function (e) {
                    //debugger;
                    var code = e.model.item.codeTexto;

                    var ajax_request = this.$.page_deleteAnexosErros_ajax;

                    bootbox.confirm({
                        message: "Tem a certeza que pretende remover o Anexo?",
                        buttons: {
                            confirm: {
                                label: 'Sim',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'Não',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (deleteAnexosErros) {
                            if (deleteAnexosErros) {
                                ajax_request.body = JSON.stringify({
                                    codeTexto: code
                                });
                                ajax_request.generateRequest();
                                this.$.tabAnexosErros.clearCache();
                            }
                        }
                    });
                },

                _deleteFileAnexosErrosResponse: function (e) {
                    //debugger;
                    var self = this;

                    setTimeout(function () {
                        bootbox.hideAll();
                    }, 0);

                    if (this.AnexosErrosDeleted == 0) {
                        this.$.ajax_GetAll.generateRequest();
                        this.$.ajax_GetAll_AnexosErros.generateRequest();

                        this._showMessage('O Anexo foi removido com sucesso.');
                    } else {
                        if (this.AnexosErrosDeleted == 1) {
                            this._showErrorMessage('Ocorreu um erro ao eliminar o Anexo.');
                        } else {
                            if (this.AnexosErrosDeleted == 99) {
                                this._showErrorMessage('Ocorreu um erro!!!');
                            }
                        }
                    };
                },

                _goBack: function (e) {
                    //window.location = "../";
                    window.history.back();
                }
            });
        });
    </script>
</dom-module>
