
@{
    ViewData["Title"] = "Configuração de Utilizadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />

<x-users></x-users>
<dom-module id="x-users">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        @*POPULATE GRID*@
        <iron-ajax url="/Administracao/GetListUsers"
                   last-response="{{result}}"
                   auto
                   method="post"
                   handle-as="json"
                   id="grid_databound"
                   content-type="application/json"></iron-ajax>

        <template is="dom-if" if="{{ _permissions.create }}">
            <div class="subMenu">
                <paper-button id="btnGoBack" class="tablinks" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
                <paper-button class="tablinks" on-tap="_create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Novo</paper-button>
            </div>
        </template>

        <br />

        <vaadin-grid id="grid" aria-label="UsersTable" items="[[result]]" class="grid" active-item="{{activeItem}}" multi-sort="true">
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="idUser">ID</vaadin-grid-sorter>
                    <vaadin-grid-filter path="idUser" />
                </template>
                <template>
                    {{item.idUser}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="name">Nome</vaadin-grid-sorter>
                    <vaadin-grid-filter path="name" />
                </template>
                <template>
                    {{item.name}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="employeeNo">Nº Mecanográfico</vaadin-grid-sorter>
                    <vaadin-grid-filter path="employeeNo" />
                </template>
                <template>
                    {{item.employeeNo}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="regiao">Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="regiao" />
                </template>
                <template>
                    {{item.regiao}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="area">Área</vaadin-grid-sorter>
                    <vaadin-grid-filter path="area" />
                </template>
                <template>
                    {{item.area}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="cresp">CRESP</vaadin-grid-sorter>
                    <vaadin-grid-filter path="cresp" />
                </template>
                <template>
                    {{item.cresp}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="active">Ativo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="active" value="[[_filterActive]]">
                        <vaadin-checkbox checked="{{_filterActive}}"></vaadin-checkbox>
                    </vaadin-grid-filter>
                </template>
                <template>
                    <center>
                        <vaadin-checkbox checked="{{item.active}}" disabled></vaadin-checkbox>
                    </center>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="administrator">Administrador</vaadin-grid-sorter>
                </template>
                <template>
                    <center>
                        <vaadin-checkbox checked="{{item.administrator}}" disabled></vaadin-checkbox>
                    </center>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>

    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-users',
                properties: {
                    activeItem: {
                        observer: '_rowSelected'
                    },
                    _filterActive: {
                        type: Boolean,
                        value:true
                    },
                    _permissions: {
	                    type: Array,
	                    value: @Html.Raw(Json.Serialize(ViewBag.UPermissions))
                    },
                },

                ready: function () {
                    //this.$.grid_databound.generateRequest();
                    //this.$.grid.clearCache();

                    var _this = this;
                    $(window).resize(function () {
                        _this.fixGridToBottom();
                    });
                    $(window).trigger('resize');
                },

                fixGridToBottom: function () {
                    var grid_el = $(this.$.grid);
                    var parentHeight = $(this).offsetParent().height();
                    var offsetTop = $(this).offset().top;
                    var height = parentHeight - offsetTop;
                    $(this.$.grid).height(height);
                },

                _rowSelected: function (item) {
                    if (item != null) {
                        window.location.href = "/Administracao/ConfiguracaoUtilizadoresDetalhes/" + item.idUser;
                    }
                },
                _create: function (item) {
                    if (item != null) {
                        window.location.href = "/Administracao/ConfiguracaoUtilizadoresDetalhes/0";
                    }
                },
                _goBack: function (e) {
                    window.history.back();
                }
            });
        });
    </script>

</dom-module>



