
@{
    ViewData["Title"] = "Configuração Recursos Folha de Horas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*grid*@
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-grid.html">
@*textfield*@
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html">

<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">


@*combobox*@
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="~/lib/vaadin-combo-box/vaadin-combo-box.html" />
@*toast*@
<link rel="import" href="~/lib/paper-toast-master/paper-toast.html" />
@*layout*@
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
@*mixin*@
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
@*button*@
<link rel="import" href="~/lib/paper-button/paper-button.html" />
@*ironform*@
<link rel="import" href="~/lib/iron-form/iron-form.html" />
@*paperinput*@
<link rel="import" href="~/lib/paper-input/paper-input.html" />

<h1 class="title">Configuração Recursos Folha de Horas</h1>
<x-group-cont-product></x-group-cont-product>
<dom-module id="x-group-cont-product">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <style>
            input[readonly] {
                border: 2px solid transparent;
            }

            #configuracaoAjudaCusto vaadin-date-picker {
                margin-top: 16px !important;
                width: 100% !important;
            }

            input {
                font: inherit;
            }

            paper-input {
                max-width: 450px !important;
            }
        </style>
        @*POPULATE GRID*@
        <iron-ajax url="/Administracao/GetConfiguracaoRecursosFolhaHoras"
                   last-response="{{result}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="ajax_GetAll"
                   content-type="application/json"></iron-ajax>
        @*POPULATE GRID Update*@
        <iron-ajax url="/Administracao/UpdateConfiguracaoRecursosFolhaHoras"
                   last-response="{{result}}"
                   method="post"
                   on-response="_updateResponse"
                   handle-as="json"
                   id="ajax_update"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/Administracao/CreateConfiguracaoRecursosFolhaHoras"
                   last-response="{{createResult}}"
                   method="post"
                   on-response="_createResponse"
                   handle-as="json"
                   id="ajax_create"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/Administracao/DeleteConfiguracaoRecursosFolhaHoras"
                   last-response="{{deleteResult}}"
                   method="post"
                   on-response="_deleteResponse"
                   handle-as="json"
                   id="ajax_delete"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetResourcesCode"
                   last-response="{{LCodigoRecurso}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetAjudaCustoTipoCusto"
                   last-response="{{LtipoCusto}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <div class="row">
            <div class="col-lg-2">
                <h2 class="separator">Novo Registo</h2>
            </div>
        </div>

        <div class="row" id="configuracaoRecursosFolhaHoras">

            <div class="col-lg-3">
                <vaadin-combo-box id="tipo" items="[[LtipoCusto]]" item-value-path="id" item-label-path="value" value="{{tipo}}" labe label="Tipo" disabled="{{ _permissionsCreate }}">
                    <template>
                        <table width="220px"><tr><td width="100%"> <b>[[item.value]]</b></td></tr></table>
                    </template>
                </vaadin-combo-box>
            </div>

            <div class="col-lg-3">
                <vaadin-combo-box id="codigoRecurso" items="[[LCodigoRecurso]]" item-value-path="id" item-label-path="value" value="{{codigoRecurso}}" label="Código Recurso" disabled="{{ _permissionsCreate }}">
                    <template>
                        <table width="220px"><tr><td width="30%">[[item.id]] </td><td width="70%"> <b>[[item.value]]</b></td></tr></table>
                    </template>
                </vaadin-combo-box>
            </div>

            <div class="col-lg-3"><vaadin-text-field id="descricao" value="{{descricao}}" label="Descrição" maxlength="200" disabled></vaadin-text-field></div>
            <div class="col-lg-3"><vaadin-text-field id="unidMedida" value="{{unidMedida}}" label="Unidade de Medida" maxlength="20" disabled></vaadin-text-field></div>

            <div class="col-lg-3"><vaadin-text-field id="precoUnitarioCusto" value="{{precoUnitarioCusto}}" label="Preço Unitário Custo" type="number" disabled="{{ _permissionsCreate }}"></vaadin-text-field></div>
            <div class="col-lg-3"><vaadin-text-field id="precoUnitarioVenda" value="{{precoUnitarioVenda}}" label="Preço Unitário Venda" type="number" disabled="{{ _permissionsCreate }}"></vaadin-text-field></div>

            <div class="col-lg-2 alignPoga"><paper-button id="btnAddNew" class="btnSave" on-tap="_create" disabled="{{ _permissionsCreate }}">Criar</paper-button></div>
        </div>

        <br />

        <vaadin-grid id="gridConfiguracaoRecursosFolhaHoras" aria-label="ProfileModelsTabel" items="[[result]]" class="grid" multi-sort="true">

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="Tipo" disabled>Tipo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="Tipo" />
                </template>
                <template>
                    <vaadin-combo-box items="[[LtipoCusto]]" item-value-path="id" item-label-path="value" value="{{item.tipo }}" disabled>
                        <template>
                            <table width="220px"><tr><td width="100%"> <b>[[item.value]]</b></td></tr></table>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="codigoRecurso">Código Recurso</vaadin-grid-sorter>
                    <vaadin-grid-filter path="codigoRecurso" />
                </template>
                <template>

                    <vaadin-combo-box items="[[LCodigoRecurso]]" item-value-path="id" item-label-path="value" value="{{item.codigoRecurso}}" disabled>
                        <template>
                            <table width="220px"><tr><td width="30%">[[item.id]] </td><td width="70%"> <b>[[item.value]]</b></td></tr></table>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="descricao">Descrição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="descricao" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.descricao}}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="unidMedida">Unidade de Medida</vaadin-grid-sorter>
                    <vaadin-grid-filter path="unidMedida" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.unidMedida}}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="precoUnitarioCusto">Preço Unitário Custo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="precoUnitarioCusto" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.precoUnitarioCusto}}" type="number"></vaadin-text-field>
                </template>
            </vaadin-grid-column>


            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="precoUnitarioVenda">Preço Unitário Venda</vaadin-grid-sorter>
                    <vaadin-grid-filter path="precoUnitarioVenda" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.precoUnitarioVenda}}" type="number"></vaadin-text-field>
                </template>
            </vaadin-grid-column>


            <vaadin-grid-column>
                <template class="header">
                </template>
                <template>
                    <center>
                        <paper-button class="btnRemove" raised on-tap="_delete" disabled="{{ _permissionsDelete }}">Eliminar</paper-button>
                    </center>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>


        <div class="marginSpace">
            <paper-button raised id="btnGoBack" class="btnDefault" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
            <paper-button raised id="btnAddNew" class="btnEdit" on-tap="_update" disabled="{{ _permissionsUpdate }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
            <paper-button raised id="btnCancel" class="btnRemove" on-tap="_cancel" disabled="{{ _permissionsUpdate }}"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancelar</paper-button>
        </div>
        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right"></paper-toast>
        <paper-toast id="ToastError" style="background-color:red" duration="4000" horizontalAlign="right"></paper-toast>
    </template>
    <script>
        var CreateValue = true, UpdateValue = true, DeleteValue = true;
        if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' =="false") {
            CreateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' =="false") {
            UpdateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' =="false") {
            DeleteValue = false;
        }
        document.addEventListener('WebComponentsReady',
            function () {
                Polymer({
                    is: 'x-group-cont-product',
                    properties: {
                        _permissionsUpdate: {
                            type: Boolean,
                            value: UpdateValue
                        },
                        _permissionsCreate: {
                            type: Boolean,
                            value: CreateValue
                        },
                        _permissionsDelete: {
                            type: Boolean,
                            value: DeleteValue
                        },
                        ddgroupcontprod: {
                            type: String,
                            notify: true,
                            value: ""
                        }
                    },
                    ready: function () {
                        var _self = this;
                        this.$.ajax_GetAll.generateRequest();

                        this.$.codigoRecurso.addEventListener('value-changed', function () {
                            _self.$.descricao.value = _self.$.codigoRecurso.__data.selectedItem.value;
                            _self.$.unidMedida.value = _self.$.codigoRecurso.__data.selectedItem.extra;
                        });;
                    },
                    openToast: function (message) {
                        this.$.ToastMessage.text = message;
                        this.$.ToastMessage.open();
                    },
                    _openToastError: function (message) {
                        this.$.ToastError.text = message;
                        this.$.ToastError.open();
                    },
                    _validateData: function (container) {

                        var polymerDom = Polymer.dom(this.$[container]);
                        var errors = 0;
                        var formSelector = "vaadin-text-field, vaadin-date-picker, vaadin-combo-box";
                        var formFields = polymerDom.querySelectorAll(formSelector);

                        formFields.forEach(function (element) {
                            if (!element.validate()) errors++;
                        });

                        if (errors > 0) {
                            this._openToastError("Verifique os dados inseridos.");
                            return false;
                        }

                        return true;
                    },
                    _create: function () {

                        if (this._validateData("configuracaoRecursosFolhaHoras")) {
                            this.$.ajax_create.body = JSON.stringify(
                                {
                                    tipo: this.$.tipo.value,
                                    codigoRecurso: this.$.codigoRecurso.value,
                                    descricao: this.$.descricao.value,
                                    precoUnitarioCusto: this.$.precoUnitarioCusto.value,
                                    precoUnitarioVenda: this.$.precoUnitarioVenda.value,
                                    unidMedida: this.$.unidMedida.value
                                }
                            );
                            this.$.ajax_create.generateRequest();
                            this.$.gridConfiguracaoRecursosFolhaHoras.clearCache();
                        }
                    },
                    _update: function () {
                        this.$.ajax_update.body = JSON.stringify(this.result);
                        this.$.ajax_update.generateRequest();
                        this.$.gridConfiguracaoRecursosFolhaHoras.clearCache();
                    },
                    _delete: function (e) {

                        this.$.ajax_delete.body = JSON.stringify(e.model.item);
                        this.$.ajax_delete.generateRequest();
                        this.result = this.result.filter(function (item) {
                            return item != e.model.item;
                        });
                        this.$.gridConfiguracaoRecursosFolhaHoras.clearCache();
                    },
                    _cancel: function () {
                        this.$.ajax_GetAll.generateRequest();
                        this.$.gridConfiguracaoRecursosFolhaHoras.clearCache();
                    },
                    _updateResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {
                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToast("Occorreu um erro ao atualizar a Tabela.");
                        }
                    },
                    _createResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {
                            this.$.tipo.value = 0;
                            this.$.codigoRecurso.value = 0;
                            this.$.descricao.value = "";
                            this.$.precoUnitarioCusto.value = "";
                            this.$.precoUnitarioVenda.value = "";
                            this.$.unidMedida.value = "";
                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToast("Occorreu um erro ao atualizar a Tabela.");
                        }
                    },
                    _deleteResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {
                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToast("Occorreu um erro ao atualizar a Tabela.");
                        }
                    },
                    _goBack: function (e) {
                        window.location = "../";
                    }
                });
            });
    </script>
</dom-module>


