@{
    ViewData["Title"] = "Marcas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-grid.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="~/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="~/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-input/paper-input.html" />
<link rel="import" href="~/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="~/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="~/lib/paper-collapse-item/paper-collapse-item.html">

<x-group-cont-product></x-group-cont-product>

<dom-module id="x-group-cont-product">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <style>
            input[readonly] {
                border: 2px solid transparent;
            }

            input {
                font: inherit;
            }

            paper-input {
                max-width: 450px !important;
            }

            /*ACORDEÃO*/
            paper-collapse-item {
                --paper-item: {
                    padding: 0 0;
                };
                --paper-collapse-item-header: {
                    padding: 0 15px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-bottom: solid #ddd 1px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                };
            }
        </style>
        @*POPULATE GRID*@
        <iron-ajax url="/Administracao/GetMarcas"
                   last-response="{{result}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="ajax_GetAll"
                   content-type="application/json"></iron-ajax>
        @*POPULATE GRID Update*@
        <iron-ajax url="/Administracao/UpdateMarcas"
                   last-response="{{result}}"
                   method="post"
                   on-response="_updateResponse"
                   handle-as="json"
                   id="ajax_update"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/Administracao/CreateMarca"
                   last-response="{{createResult}}"
                   method="post"
                   on-response="_createResponse"
                   handle-as="json"
                   id="ajax_create"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/Administracao/DeleteMarca"
                   last-response="{{deleteResult}}"
                   method="post"
                   on-response="_deleteResponse"
                   handle-as="json"
                   id="ajax_delete"
                   content-type="application/json"></iron-ajax>

        <template is="dom-if" if="{{ !_permissionsUpdate }}">
            <div class="subMenu">
                <paper-button id="btnGoBack" class="tablinks" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
                <paper-button id="btnAddNew" class="tablinks" on-tap="_update" disabled="{{ _permissionsUpdate }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
                <paper-button id="btnCancel" class="tablinks" on-tap="_cancel" disabled="{{ _permissionsUpdate }}"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancelar</paper-button>
            </div>
        </template>

        <paper-collapse-group>
            <paper-collapse-item class="panel-heading" header="Novo Registo" closed>
                <div class="panel-body">
                    <div class="row" id="marcasCreate">
                        <div class="col-lg-2">
                            <vaadin-text-field id="descricao" value="{{description}}" label="Marca" disabled="{{ _permissionsCreate }}"></vaadin-text-field>
                        </div>

                        <div class="col-lg-2 alignPoga">
                            <paper-button id="btnAddNew" class="btnSave" on-tap="_create" disabled="{{ _permissionsCreate }}">Criar</paper-button>
                        </div>
                    </div>
                </div>
            </paper-collapse-item>
        </paper-collapse-group>
        <br />

        <vaadin-grid id="gridMarcas" aria-label="ProfileModelsTabel" items="[[result]]" class="grid" multi-sort="true">
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="id">Código</vaadin-grid-sorter>
                    <vaadin-grid-filter path="id" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.id}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="marca">Marca</vaadin-grid-sorter>
                    <vaadin-grid-filter path="marca" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.marca}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="dataCriacaoTexto">Data/Hora Criação</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataCriacaoTexto" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.dataCriacaoTexto}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="utilizadorCriacao">Utilizador Criação</vaadin-grid-sorter>
                    <vaadin-grid-filter path="utilizadorCriacao" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.utilizadorCriacao}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="dataModificacaoTexto">Data/Hora Modificação</vaadin-grid-sorter>
                    <vaadin-grid-filter path="dataModificacaoTexto" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.dataModificacaoTexto}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="utilizadorModificacao">Utilizador Modificação</vaadin-grid-sorter>
                    <vaadin-grid-filter path="utilizadorModificacao" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.utilizadorModificacao}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <template is="dom-if" if="{{ !_permissionsDelete }}">
                <vaadin-grid-column resizable width="150px">
                    <template class="header">
                    </template>
                    <template>
                        <center>
                            @*<paper-button class="btnRemove" raised on-tap="_delete" disabled="{{ _permissionsDelete }}">Eliminar</paper-button>*@
                            <paper-button class="btnRemove tableBtn" raised on-tap="_delete" disabled="{{ _permissionsDelete }}" title="Eliminar"><i class="fa fa-trash" aria-hidden="true"></i></paper-button>
                        </center>
                    </template>
                </vaadin-grid-column>
            </template>
        </vaadin-grid>

        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>
    <script>
        var CreateValue = true, UpdateValue = true, DeleteValue = true;
        if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' =="false") {
            CreateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' =="false") {
            UpdateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' =="false") {
            DeleteValue = false;
        }
        document.addEventListener('WebComponentsReady',
            function () {
                Polymer({
                    is: 'x-group-cont-product',
                    properties: {
                        _permissionsUpdate: {
                            type: Boolean,
                            value: UpdateValue
                        },
                        _permissionsCreate: {
                            type: Boolean,
                            value: CreateValue
                        },
                        _permissionsDelete: {
                            type: Boolean,
                            value: DeleteValue
                        },
                        ddgroupcontprod: {
                            type: String,
                            notify: true,
                            value: ""
                        }
                    },
                    ready: function () {
                        this.$.ajax_GetAll.generateRequest();

                        var _this = this;
                        $(window).resize(function () {
                            _this.fixGridToBottom();
                        });
                        $(window).trigger('resize');
                    },

                    fixGridToBottom: function () {
                        var grid_el = $(this.$.gridMarcas);
                        var parentHeight = $(this).offsetParent().height();
                        var offsetTop = $(this).offset().top;
                        var height = parentHeight - offsetTop;
                        $(this.$.gridMarcas).height(height);
                    },

                    openToast: function (message) {
                        this.$.ToastMessageSuccess.text = message;
                        this.$.ToastMessageSuccess.open();
                    },
                    openToastError: function (message) {
                        this.$.ToastMessageError.text = message;
                        this.$.ToastMessageError.open();
                    },
                    _validateData: function (container) {

                        var polymerDom = Polymer.dom(this.$[container]);
                        var errors = 0;
                        var formSelector = "vaadin-text-field, vaadin-date-picker, vaadin-combo-box";
                        var formFields = polymerDom.querySelectorAll(formSelector);

                        formFields.forEach(function (element) {
                            if (!element.validate()) errors++;
                        });

                        if (errors > 0) {
                            this._openToastError("Verifique os dados inseridos.");
                            return false;
                        }
                        return true;
                    },
                    _create: function () {
                        if (this._validateData("marcasCreate")) {
                            this.$.ajax_create.body = JSON.stringify({ marca: this.$.descricao.value });
                            this.$.ajax_create.generateRequest();
                            this.$.gridMarcas.clearCache();
                        }
                    },
                    _update: function () {
                        this.$.ajax_update.body = JSON.stringify(this.result);
                        this.$.ajax_update.generateRequest();
                        this.$.gridMarcas.clearCache();
                    },
                    _delete: function (e) {
                        this.$.ajax_delete.body = JSON.stringify(e.model.item);
                        this.$.ajax_delete.generateRequest();
                        this.result = this.result.filter(function (item) {
                            return item != e.model.item;
                        });
                        this.$.gridMarcas.clearCache();
                    },
                    _cancel: function () {
                        this.$.ajax_GetAll.generateRequest();
                        this.$.gridMarcas.clearCache();
                    },
                    _updateResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {
                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToastError("Occorreu um erro ao atualizar.");
                        }
                    },
                    _createResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {
                            this.description = "";
                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToastError("Occorreu um erro ao atualizar.");
                        }
                    },
                    _deleteResponse: function (e) {
                        var self = this;
                        if (e.detail.status === 200) {
                            this.$.ajax_GetAll.generateRequest();
                            this.openToast("Tabela atualizada.");
                        }
                        else {
                            this.openToastError("Occorreu um erro ao atualizar.");
                        }
                    },
                    _goBack: function (e) {
                        window.history.back();
                    }
                });
            });
    </script>
</dom-module>


