@{
    ViewData["Title"] = "Tipos Grupo Contab OM Projeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-grid.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="~/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="~/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-input/paper-input.html" />
<link rel="import" href="~/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="~/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="~/lib/paper-collapse-item/paper-collapse-item.html">

<x-contab-group-types-om></x-contab-group-types-om>

<dom-module id="x-contab-group-types-om">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />


        <custom-style>
            <style is="custom-style">
                input[readonly] {
                    border: 2px solid transparent;
                }

                input {
                    font: inherit;
                }

                paper-input {
                    max-width: 450px !important;
                }
                /*ACORDEÃO*/
                paper-collapse-item {
                    --paper-item: {
                    padding: 0 0;
                };
                    --paper-collapse-item-header: {
                    padding: 0 15px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-bottom: solid #ddd 1px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                };
                }
            </style>
        </custom-style>

        @*POPULATE GRID*@
        <iron-ajax url="/Administracao/GetTiposGrupoContabOMProjeto"
                   last-response="{{result}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="page_databound_ajax"
                   content-type="application/json">
        </iron-ajax>
        @*POPULATE Update*@
        <iron-ajax url="/Administracao/UpdateTiposGrupoContabProjetoOM"
                   last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   id="update_ajax"
                   on-response="_updateResponse"
                   content-type="application/json">
        </iron-ajax>

        @*CRUD - Populate Combos*@
        <iron-ajax url="/PopulateDropdowns/GetContabGroupTypesOM_Type"
                   last-response="{{CGTOM_Type}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetContabGroupTypesOM_FailType"
                   last-response="{{CGTOM_FailType}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <template is="dom-if" if="{{ !_permissionsUpdate }}">
            <div class="subMenu">
                <paper-button id="btnGoBack" class="tablinks" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Voltar</paper-button>
                <paper-button id="btnAddNew" class="tablinks" on-tap="_update" disabled="{{ _permissionsUpdate }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
                <paper-button id="btnCancel" class="tablinks" on-tap="_cancel" disabled="{{ _permissionsUpdate }}"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancelar</paper-button>
            </div>
        </template>

        <paper-collapse-group>
            <paper-collapse-item class="panel-heading" header="Novo Registo" closed>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2"><vaadin-text-field id="ddDescription" label="Descrição" disabled="{{ _permissionsCreate }}"></vaadin-text-field></div>

                        <div class="col-lg-2">
                            <vaadin-combo-box items="[[CGTOM_Type]]" item-value-path="id" item-label-path="value" value="{{ddCGTOM_Type}}" label="Tipo" disabled="{{ _permissionsCreate }}">
                                <template>
                                    <table width="200px">
                                        <tr>
                                            <td width="20%" text-align="left">[[item.id]]</td>
                                            <td width="80%" text-align="left"> <b>[[item.value]]</b></td>
                                        </tr>
                                    </table>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkCorrectiveMaintenance" disabled="{{ _permissionsCreate }}"> Manut. Correctiva </vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkPreventiveMaintenance" disabled="{{ _permissionsCreate }}"> Manut. Preventiva </vaadin-checkbox></div>

                        <div class="col-lg-2 ">
                            <vaadin-combo-box items="[[CGTOM_FailType]]" item-value-path="id" item-label-path="value" value="{{ddCGTOM_FailType}}" label="Tipo Razão Falha" disabled="{{ _permissionsCreate }}">
                                <template>
                                    <table width="160px">
                                        <tr>
                                            <td width="30%" text-align="left">[[item.id]]</td>
                                            <td width="70%" text-align="left"> <b>[[item.value]]</b></td>
                                        </tr>
                                    </table>
                                </template>
                            </vaadin-combo-box>
                        </div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkResponseTimeIndicator" disabled="{{ _permissionsCreate }}">Ind. Tempo Resposta</vaadin-checkbox></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkStopTimeIndicator" disabled="{{ _permissionsCreate }}"> Ind. Tempo Imobilização </vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkRepairEffectiveTimeIndicator" disabled="{{ _permissionsCreate }}"> Ind. Tempo Efetivo Reparação </vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkClosingWorksTimeIndicator" disabled="{{ _permissionsCreate }}"> Ind. Tempo Fecho Obras </vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkBillingTimeIndicator" disabled="{{ _permissionsCreate }}"> Ind. Tempo Faturação </vaadin-checkbox> </div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkEmployeesOccupationTimeIndicator" disabled="{{ _permissionsCreate }}">Ind. Tempo Ocup. Colaboradores</vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkCostSaleValueIndicator" disabled="{{ _permissionsCreate }}">Ind. Valor Custo/Venda</vaadin-checkbox></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkCATCoverageRateIndicator" disabled="{{ _permissionsCreate }}">Ind. Taxa Cobertura CAT</vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkCATComplianceRateIndicator" disabled="{{ _permissionsCreate }}">Ind. Taxa Cumprimento CAT</vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkMPRoutineFulfillmentRateIndicator" disabled="{{ _permissionsCreate }}">Ind. Taxa Cumpr. Rotinas MP</vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkBreakoutIncidentsIndicator" disabled="{{ _permissionsCreate }}">Ind. Incidências Avarias</vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><vaadin-checkbox id="chkOrdernInProgressIndicator" disabled="{{ _permissionsCreate }}">Ind. Ordens em Curso</vaadin-checkbox></div>

                        <div class="col-lg-2 alignPoga"><paper-button class="btnSave" on-tap="_createContabGroupTypeOM" disabled="{{ _permissionsCreate }}">Criar</paper-button></div>
                    </div>
                </div>
            </paper-collapse-item>
        </paper-collapse-group>

        <br />

        <vaadin-grid id="gridContabGroupTypesOM" aria-label="gridContabGroupTypesTableOM" items="[[result]]" class="grid" multi-sort="true">
            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="code">Código</vaadin-grid-sorter>
                    <vaadin-grid-filter path="code" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.code}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="type">Tipo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="type" />
                </template>
                <template>
                    <vaadin-combo-box items="[[CGTOM_Type]]" item-value-path="id" item-label-path="value" value="{{item.type}}" disabled="{{ _permissionsUpdate }}">
                        <template>
                            <table width="200px">
                                <tr>
                                    <td width="20%" text-align="left">[[item.id]]</td>
                                    <td width="80%" text-align="left"> <b>[[item.value]]</b></td>
                                </tr>
                            </table>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="description">Descrição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="description" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.description}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="correctiveMaintenance">Manut. Corretiva</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.correctiveMaintenance}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="preventiveMaintenance">Manut. Preventiva</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.preventiveMaintenance}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="failType">Tipo Razão Falha</vaadin-grid-sorter>
                    <vaadin-grid-filter path="failType" />
                </template>
                <template>
                    <vaadin-combo-box items="[[CGTOM_FailType]]" item-value-path="id" item-label-path="value" value="{{item.failType}}" disabled="{{ _permissionsUpdate }}">
                        <template>
                            <table width="160px">
                                <tr>
                                    <td width="30%" text-align="left">[[item.id]]</td>
                                    <td width="70%" text-align="left"> <b>[[item.value]]</b></td>
                                </tr>
                            </table>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="responseTimeIndicator">Ind. Tempo Resposta</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.responseTimeIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="stopTimeIndicator">Ind. Tempo Imobilização</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.stopTimeIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="repairEffectiveTimeIndicator">Ind. Tempo Efetivo Reparação</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.repairEffectiveTimeIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="closingWorksTimeIndicator">Ind. Tempo Fecho Obras</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.closingWorksTimeIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="billingTimeIndicator">Ind. Tempo Faturação</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.billingTimeIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="employeesOccupationTimeIndicator">Ind. Tempo Ocup. Colaboradores</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.employeesOccupationTimeIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="costSaleValueIndicator">Ind. Valor Custo/Venda</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.costSaleValueIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="catComplianceRateIndicator">Ind. Taxa Cumprimento CAT</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.catComplianceRateIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="catCoverageRateIndicator">Ind. Taxa Cobertura CAT</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.catCoverageRateIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="mpRoutineFulfillmentRateIndicator">Ind. Taxa Cumpr. Rotinas</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.mpRoutineFulfillmentRateIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="breakoutIncidentsIndicator">Ind. Incidencias Avarias</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.breakoutIncidentsIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="ordernInProgressIndicator">Ind. Ordens em Curso</vaadin-grid-sorter>
                </template>
                <template>
                    <vaadin-checkbox checked="{{item.ordernInProgressIndicator}}" disabled="{{ _permissionsUpdate }}"></vaadin-checkbox>
                </template>
            </vaadin-grid-column>

            <template is="dom-if" if="{{ !_permissionsDelete }}">
                <vaadin-grid-column resizable width="150px">
                    <template class="header">
                    </template>
                    <template>
                        <center>
                            @*<paper-button class="btnRemove" raised on-tap="_deleteAccessProfile" disabled="{{ _permissionsDelete }}">Eliminar</paper-button>*@
                            <paper-button class="btnRemove tableBtn" raised on-tap="_deleteAccessProfile" disabled="{{ _permissionsDelete }}" title="Eliminar"><i class="fa fa-trash" aria-hidden="true"></i></paper-button>
                        </center>
                    </template>
                </vaadin-grid-column>
            </template>
        </vaadin-grid>

        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>

    <script>
    var CreateValue = true, UpdateValue = true, DeleteValue = true;
    if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' =="false") {
        CreateValue = false;
    }
    if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' =="false") {
        UpdateValue = false;
    }
    if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' =="false") {
        DeleteValue = false;
    }
    document.addEventListener('WebComponentsReady', function () {
        Polymer({
            is: 'x-contab-group-types-om',
            properties: {
                _permissionsUpdate: {
                    type: Boolean,
                    value: UpdateValue
                },
                _permissionsCreate: {
                    type: Boolean,
                    value: CreateValue
                },
                _permissionsDelete: {
                    type: Boolean,
                    value: DeleteValue
                },
                ddCGTOM_Type: {
                    type: Number,
                    notify: true,
                    value: ""
                },

                ddCGTOM_FailType: {
                    type: Number,
                    notify: true,
                    value: ""
                },
            },
            ready: function () {
                this.$.page_databound_ajax.generateRequest();

                var _this = this;
                $(window).resize(function () {
                    _this.fixGridToBottom();
                });
                $(window).trigger('resize');
            },

            fixGridToBottom: function () {
                var grid_el = $(this.$.gridContabGroupTypesOM);
                var parentHeight = $(this).offsetParent().height();
                var offsetTop = $(this).offset().top;
                var height = parentHeight - offsetTop;
                $(this.$.gridContabGroupTypesOM).height(height);
            },

            openToast: function (message) {
                this.$.ToastMessageSuccess.text = message;
                this.$.ToastMessageSuccess.open();
            },
            openToastError: function (message) {
                this.$.ToastMessageError.text = message;
                this.$.ToastMessageError.open();
            },

            _update: function () {
                this.$.update_ajax.body = JSON.stringify(this.result);
                this.$.update_ajax.generateRequest();
                this.$.gridContabGroupTypesOM.clearCache();
            },

            _updateResponse: function (e) {
                var self = this;
                if (e.detail.status === 200) {
                    debugger;;
                    this.openToast('Atualizado com sucesso!');
                    this.$.page_databound_ajax.generateRequest();
                    this.$.gridContabGroupTypesOM.clearCache();

                    this.$.ddDescription.value = "";
                    this.$.ddCGTOM_Types.value = "";
                    this.$.chkCorrectiveMaintenance.value = false;
                    this.$.chkPreventiveMaintenance.value = false;
                    this.$.ddCGTOM_FailTypes.value = "";
                    this.$.chkResponseTimeIndicator.value = false;
                    this.$.chkStopTimeIndicator.value = false;
                    this.$.chkRepairEffectiveTimeIndicator.value = false;
                    this.$.chkClosingWorksTimeIndicator.value = false;
                    this.$.chkBillingTimeIndicator.value = false;
                    this.$.chkEmployeesOccupationTimeIndicator.value = false;
                    this.$.chkCostSaleValueIndicator.value = false;
                    this.$.chkCATCoverageRateIndicator.value = false;
                    this.$.chkCATComplianceRateIndicator.value = false;
                    this.$.chkMPRoutineFulfillmentRateIndicator.value = false;
                    this.$.chkBreakoutIncidentsIndicator.value = false;
                    this.$.chkOrdernInProgressIndicator.value = false;
                }
                else {
                    this.openToastError('Ocorreu um erro ao atualizar o perfil modelo.');
                }
            },
            _cancel: function () {
                this.$.page_databound_ajax.generateRequest();
                this.$.gridContabGroupTypesOM.clearCache();
            },

            _createContabGroupTypeOM: function () {
                this.result.unshift({
                    description: this.$.ddDescription.value,
                    type: this.ddCGTOM_Type,
                    CorrectiveMaintenance: this.$.chkCorrectiveMaintenance.checked,
                    PreventiveMaintenance: this.$.chkPreventiveMaintenance.checked,
                    FailType: this.ddCGTOM_FailType,
                    ResponseTimeIndicator: this.$.chkResponseTimeIndicator.checked,
                    StopTimeIndicator: this.$.chkStopTimeIndicator.checked,
                    RepairEffectiveTimeIndicator: this.$.chkRepairEffectiveTimeIndicator.checked,
                    ClosingWorksTimeIndicator: this.$.chkClosingWorksTimeIndicator.checked,
                    BillingTimeIndicator: this.$.chkBillingTimeIndicator.checked,
                    EmployeesOccupationTimeIndicator: this.$.chkEmployeesOccupationTimeIndicator.checked,
                    CostSaleValueIndicator: this.$.chkCostSaleValueIndicator.checked,
                    catComplianceRateIndicator: this.$.chkCATComplianceRateIndicator.checked,
                    catCoverageRateIndicator: this.$.chkCATCoverageRateIndicator.checked,
                    mpRoutineFulfillmentRateIndicator: this.$.chkMPRoutineFulfillmentRateIndicator.checked,
                    BreakoutIncidentsIndicator: this.$.chkBreakoutIncidentsIndicator.checked,
                    OrdernInProgressIndicator: this.$.chkOrdernInProgressIndicator.checked
                });
                this.$.update_ajax.body = JSON.stringify(this.result);
                this.$.update_ajax.generateRequest();
                this.$.gridContabGroupTypesOM.clearCache();
            },

            _deleteAccessProfile: function (data) {
                var index = this.result.indexOf(data.model.item);
                this.result.splice(index, 1);
                this.$.update_ajax.body = JSON.stringify(this.result);
                this.$.update_ajax.generateRequest();
                this.$.gridContabGroupTypesOM.clearCache();
            },
            _goBack: function (e) {
                window.history.back();
            }

        });
    });
    </script>
</dom-module>
