
@{
    ViewData["Title"] = "TiposProjetoDetalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*grid*@
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-grid.html">
@*textfield*@
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">
@*toast*@
<link rel="import" href="~/lib/paper-toast-master/paper-toast.html" />
@*layout*@
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html" />
@*mixin*@
<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
@*button*@
<link rel="import" href="~/lib/paper-button/paper-button.html" />
@*ironform*@
<link rel="import" href="~/lib/iron-form/iron-form.html" />
@*paperinput*@
<link rel="import" href="~/lib/paper-input/paper-input.html" />
<h1 class="title">Tipos de Projeto</h1>

<x-project-type></x-project-type>

<dom-module id="x-project-type">
    <template>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        
        <style>
            input[readonly] {
                border: 2px solid transparent;
            }

            input {
                font: inherit;
            }
            paper-input {
                max-width: 200px !important;
            }

        </style>

        @*POPULATE GRID*@
        <iron-ajax url="/Administracao/GetProjectTypeData"
                   last-response="{{result}}"
                   method="post"
                   auto
                   handle-as="json"
                   id="ajax_create"
                   content-type="application/json"></iron-ajax>

        @*POPULATE GRID Update*@
        <iron-ajax url="/Administracao/UpdateProjectType"
                   last-response="{{result}}"
                   method="post"
                   on-response="_updateResponse"
                   handle-as="json"
                   id="ajax_update"
                   content-type="application/json"></iron-ajax>
        <div class="row">
            <div class="col-lg-2">
                <h2 class="separator">Novo Registo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"><vaadin-text-field id="piDescription" label="Descrição" disabled="{{ _permissionsCreate }}"></vaadin-text-field></div>
            <div class="col-lg-1 alignPoga"><paper-button id="btnAddNew" class="btnSave" on-tap="_createAccessProfile" disabled="{{ _permissionsCreate }}">Criar</paper-button> </div>
        </div><br />

        <vaadin-grid id="gridprojecttype" aria-label="ProfileModelsTabel" items="[[result]]" class="grid">
            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="code">Código</vaadin-grid-sorter>
                    <vaadin-grid-filter path="code" />
                </template>
                <template>
                    <vaadin-text-field id="piDescription" value="{{item.code}}" disabled></vaadin-text-field>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable>
                <template class="header">
                    <vaadin-grid-sorter path="description">Descrição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="description" />
                </template>
                <template>
                    <vaadin-text-field value="{{item.description}}" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column with="10%">
                <template class="header">
                </template>
                <template>
                    <center>
                        <paper-button class="btnRemove" raised on-tap="_delete" disabled="{{_permissionsDelete}}">Eliminar</paper-button> </center>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
        
        <div class="marginSpace">
            <paper-button raised id="btnAddNew" class="btnEdit" on-tap="_update" disabled="{{ _permissionsUpdate }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
            <paper-button raised id="btnCancel" class="btnRemove" on-tap="_cancel" disabled="{{ _permissionsUpdate }}"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancelar</paper-button>
        </div>

        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right"></paper-toast>
    </template>
    <script>
        var CreateValue = true, UpdateValue = true, DeleteValue = true;
        if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' =="false") {
            CreateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' =="false") {
            UpdateValue = false;
        }
        if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' =="false") {
            DeleteValue = false;
        }
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-project-type',
                properties: {
                    _permissionsUpdate: {
                        type: Boolean,
                        value: UpdateValue
                    },
                    _permissionsCreate: {
                        type: Boolean,
                        value: CreateValue
                    },
                    _permissionsDelete: {
                        type: Boolean,
                        value: DeleteValue
                    },
                },
                ready: function () {
                    this.$.ajax_create.generateRequest();
                },
                openToast: function (message) {
                    this.$.ToastMessage.text = message;
                    this.$.ToastMessage.open();
                },
                _createAccessProfile: function () {
                    if (this.$.piDescription.value == "" || this.$.piDescription.value == null) {
                        this.openToast('É obrigatório preencher a Descrição.');
                    } else {
                        var thisLine = {
                            description: this.$.piDescription.value
                        };
                        if (this.result == null) {
                            this.result = thisLine;
                        }
                        else {
                            this.result.push(thisLine);
                        }
                        this.$.ajax_update.body = JSON.stringify(this.result);
                        this.$.ajax_update.generateRequest();
                        this.$.gridprojecttype.clearCache();
                    }
                },
                _update: function () {
                    this.$.ajax_update.body = JSON.stringify(this.result);
                    this.$.ajax_update.generateRequest();
                    this.$.gridprojecttype.clearCache();
                },
                _delete: function (e) {
                    var index = this.result.indexOf(e.model.item);
                    this.result.splice(index, 1);
                    this.$.ajax_update.body = JSON.stringify(this.result);
                    this.$.ajax_update.generateRequest();
                    this.$.gridprojecttype.clearCache();
                },
                _cancel: function () {
                    this.$.ajax_create.generateRequest();
                    this.$.gridprojecttype.clearCache();
                },
                _updateResponse: function (e)
                {
                    var self = this;
                    if (e.detail.status === 200) {
                        this.$.ajax_create.generateRequest();
                        this.openToast("Tabela atualizada.");
                    }
                    else {
                        this.openToast("Occorreu um erro ao atualizar a Tabela.");
                    }
                }
            });
        });
    </script>
</dom-module>

