@model IEnumerable<Hydra.Such.Data.Database.ProcedimentosCcp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Procedimentos</h2>
<link rel="import" href="~/elements/ccp/procedimentos_list.html" />

<x-procedimentoslist _procedimentotypeid="1"></x-procedimentoslist>
