
@{
    ViewData["Title"] = "RequisiçõesModeloLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="title">Modelo Requisições</h1>

<link rel="import" href="/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />

<x-reqmodellist _areaid="10" _prereqno="@ViewBag.PreReqNo" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-reqmodellist>

<dom-module id="x-reqmodellist">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />

        <custom-style>
            <style is="custom-style">
                input[readonly] {
                    border: 2px solid transparent;
                }

                input {
                    font: inherit;
                }

                .grid {
                    font-size: 13px;
                }

                    .grid input {
                        border: none;
                        padding-left: 5px;
                    }

                paper-input {
                    max-width: 200px !important;
                }
            </style>
        </custom-style>

        <iron-ajax url="/PreRequisicoes/GetReqModelList"
                   last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   id="grid_databound_ajax"
                   content-type="application/json"></iron-ajax>

        <template is="dom-if" if="{{ _permissions.create }}">
            <template is="dom-if" if="{{ !_disabledCreate }}">
                <div class="marginSpace">
                    <paper-button class="btnSave" raised on-tap="_create">Voltar</paper-button>
                </div>
            </template>
        </template>


        <vaadin-grid aria-label="ReqModelGrid" items="[[result]]" class="grid" multi-sort="true">
            <vaadin-grid-column width="120px">
                <template class="header">
                    <vaadin-grid-sorter path="requisitionNo">Nº Requisição Modelo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="requisitionNo" />
                </template>
                <template>
                    {{item.requisitionNo}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px">
                <template class="header">
                    <vaadin-grid-sorter path="requisitionDate">Data Requisição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="requisitionDate" />
                </template>
                <template>
                    {{item.requisitionDate}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px">
                <template class="header">
                    <vaadin-grid-sorter path="comments">Comentários</vaadin-grid-sorter>
                    <vaadin-grid-filter path="comments" />
                </template>
                <template>
                    {{item.comments}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px">
                <template class="header">
                    <vaadin-grid-sorter path="regionCode">Cód. Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="regionCode" />
                </template>
                <template>
                    {{item.regionCode}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px">
                <template class="header">
                    <vaadin-grid-sorter path="functionalAreaCode">Cód. Área Funcional</vaadin-grid-sorter>
                    <vaadin-grid-filter path="functionalAreaCode" />
                </template>
                <template>
                    {{item.functionalAreaCode}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="responsabilityCenterCode">Cód. Centro Responsabilidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="responsabilityCenterCode" />
                </template>
                <template>
                    {{item.responsabilityCenterCode}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px">
                <template class="header">
                    <vaadin-grid-sorter path="createDate">Criado em</vaadin-grid-sorter>
                    <vaadin-grid-filter path="createDate" />
                </template>
                <template>
                    {{item.createDate}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="10%" resizable>
                <template class="header">
                </template>
                <template>
                    <center>
                        <paper-button class="btnSave" raised on-tap="_SaveLines" disabled="{{_permissionsCreate}}">Guardar Linhas</paper-button>
                    </center>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>

    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-reqmodellist',
                properties: {
                    _permissions: {
                        type: Array
                    },

                    _areaid: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    _prereqno: {
                        type: String,
                        value: false
                    },
                    _disabledCreate: {
                        type: Boolean,
                        value: false
                    }
                },
                ready: function () {
                    this.$.grid_databound_ajax.generateRequest();
                },

                _SaveLines: function (e) {
                    debugger;
                    var index = this.result.indexOf(e.model.item);
                    this.result.splice(index, 1);

                    this.$.grid_databound_ajax.url = "/PreRequisicoes/CopyReqModelLines";
                    this.$.grid_databound_ajax.body = JSON.stringify(e.model.item);
                    this.$.grid_databound_ajax.generateRequest();

                    //this.$.gridUserAccesses.clearCache();
                },
            });
        });
    </script>
</dom-module>