
@{
    ViewData["Title"] = "Contratos - Nutrição - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Contratos Nutrição</h1>

<link rel="import" href="~/elements/contracts/contract_list.html">

<x-contractlist _areaid="3" _archived="@ViewBag.Archived" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'  _contractno="@ViewBag.ContractNo"></x-contractlist>


