
@{
    ViewData["Title"] = "Tabelas Auxiliares - Nutrição - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administração</h2>

<div class="list-group marginSpace">
    <a class="list-group-item" href="@Url.Action("TiposGrupoContabProjeto", "TabelasAuxiliares")"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;Tipos Grupo Contab. Projeto</a>
    <a class="list-group-item" href="@Url.Action("TiposGrupoContabOMProjeto", "TabelasAuxiliares")"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;Tipos Grupo Contab. OM Projeto</a>

</div>