/* Custom General Tags */
html, body {
    font-family: "Open Sans", 'Roboto', 'Noto', sans-serif !important;
    font-size: 14px !important;
    color: black !important;
    background-color: whitesmoke !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

h1 {
    font-size: 18px !important;
}

h2 {
    font-size: 16px !important;
}

h3 {
    font-size: 14px !important;
}

    h3.titleLabel {
        color: #71BCC1;
        margin: 5px;
        padding: 0;
    }

.navbar {
    background-color: #71BCC1 !important;
    /*margin: 5px 0;*/
}

ul.nav li:hover {
    background-color: whitesmoke;
    border-radius: 20px;
}

.marginSpace {
    margin: 15px;
}

.paddingSpace {
    padding: 15px;
}

.alignCenter {
    text-align: center;
    margin: 0;
    padding: 0;
}
/* Custom General Tags */


/* Custom General Classes */
.title {
    text-align: center;
    /*font-size: 22px;*/
    color: #71BCC1;
    border-bottom: 1px solid rgb(1, 51, 86);
    margin: 0;
    padding: 10px 0;
}

.separator {
    text-align: left;
    /*font-size: 16px;*/
    color: #71BCC1;
    margin: 15px;
    padding: 0 0 0 15px;
}

.disabled {
    cursor: not-allowed !important;
    /*background-color: rgba(75, 75, 75, 0.5);*/
    opacity: 0.4;
}

.alignRight {
    text-align: right !important;
}

#inlineForm {
    margin: 20px;
}

    #inlineForm > * {
        padding: 5px;
    }

#addNew {
    width: auto;
    height: 30px !important;
}

.btnEdit {
    max-width: 125px !important;
    min-width: 50px !important;
    height: 30px !important;
    background-color: #5A9E49;
    color: white;
    cursor: pointer;
}

.btnRemove {
    max-width: 125px !important;
    min-width: 50px !important;
    height: 30px !important;
    background-color: #D5662F;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.btnSave {
    max-width: 125px !important;
    min-width: 50px !important;
    height: 30px !important;
    background-color: #71BCC1;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.editGrid {
    /*margin: 10px 20px;*/
    font-size: 13px;
    height: auto;
}

    .editGrid input {
        border: none;
        padding-left: 5px;
    }
/* Custom General Classes */

/* Main Menu */
.item {
    padding: 15px !important;
    border: 0 !important;
}

.menuBox {
    text-align: center;
}

.menuImage {
    width: 175px;
    height: 175px;
}

.linkItem {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.body-content {
    float: right;
}

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #FFF;
    position: fixed;
    top: 0px;
    /*width: 250px;*/
    height: 100%;
    color: #000;
}

    .nav-side-menu .brand {
        background-color: #FFF;
        line-height: 50px;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .nav-side-menu .toggle-btn {
        display: none;
    }

    .nav-side-menu ul,
    .nav-side-menu li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
        /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
    }

        .nav-side-menu ul :not(collapsed) .arrow:before,
        .nav-side-menu li :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }

        .nav-side-menu ul .sub-menu li,
        .nav-side-menu li .sub-menu li {
            background-color: #fff;
            border: none;
            line-height: 28px;
            margin-left: 0px;
        }

            .nav-side-menu ul .sub-menu li:hover,
            .nav-side-menu li .sub-menu li:hover {
                background-color: #71BCC1;
            }

            .nav-side-menu ul .sub-menu li:before,
            .nav-side-menu li .sub-menu li:before {
                font-family: FontAwesome;
                content: "\f105";
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
            }

    .nav-side-menu li {
        padding-left: 15px;
    }

        .nav-side-menu li a {
            text-decoration: none;
            color: #e1ffff;
        }

            .nav-side-menu li a i {
                padding-left: 10px;
                width: 20px;
                padding-right: 20px;
            }

        .nav-side-menu li:hover {
            background-color: #71BCC1;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }

@media (max-width: 1094px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 1095px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

/* Sub Menu */
.subMenu {
    background-color: #aadadd;
    padding: 5px;
    /*margin: 0 5px;*/
}

    .subMenu button {
        border: none;
        margin: 0 5px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        background-color: transparent;
        color: black;
    }

        .subMenu button:hover {
            color: white;
            cursor: pointer;
        }

.tablinks {
    text-transform: none;
    border: none;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    background-color: transparent;
    color: black;
}

    .tablinks:hover {
        color: white;
        cursor: pointer;
    }

    .tablinks:focus {
        text-transform: none;
        font-weight: normal;
    }

.subMenuImage1 {
    width: 150px;
    height: 150px;
}
/* Sub Menu */


/* DialogBoxes */
.dialogTitle {
    text-align: left;
    font-size: 20px;
    border-bottom: 1px solid rgb(1, 51, 86);
    color: #71BCC1;
    padding-left: 20px;
    margin: 10px;
}
/* DialogBoxes */


/* Forms */
.numberInput {
    width: 70px;
    text-align: right;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 1000px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

    .form-style-1 li {
        padding: 0;
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
    }

    .form-style-1 label {
        margin: 0 0 3px 0;
        padding: 0px;
        display: block;
        font-weight: bold;
    }

    .form-style-1 input[type=text],
    .form-style-1 input[type=date],
    .form-style-1 input[type=datetime],
    .form-style-1 input[type=number],
    .form-style-1 input[type=search],
    .form-style-1 input[type=time],
    .form-style-1 input[type=url],
    .form-style-1 input[type=email],
    .form-style-1 textarea,
    .form-style-1 select {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #BEBEBE;
        padding: 2px 2px 2px 6px;
        margin: 0px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        width: 100%;
    }

        .form-style-1 input[type=text]:focus,
        .form-style-1 input[type=date]:focus,
        .form-style-1 input[type=datetime]:focus,
        .form-style-1 input[type=number]:focus,
        .form-style-1 input[type=search]:focus,
        .form-style-1 input[type=time]:focus,
        .form-style-1 input[type=url]:focus,
        .form-style-1 input[type=email]:focus,
        .form-style-1 textarea:focus,
        .form-style-1 select:focus {
            -moz-box-shadow: 0 0 8px #88D5E9;
            -webkit-box-shadow: 0 0 8px #88D5E9;
            box-shadow: 0 0 8px #88D5E9;
            border: 1px solid #88D5E9;
        }

    .form-style-1 .field-divided {
        width: 49%;
    }

    .form-style-1 .field-long {
        width: 100%;
    }

    .form-style-1 .field-select {
        width: 100%;
    }

    .form-style-1 .field-textarea {
        height: 100px;
    }

    .form-style-1 input[type=submit], .form-style-1 input[type=button] {
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }

        .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover {
            background: #4691A4;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }

    .form-style-1 .required {
        color: red;
    }

.tabcontent, .tab {
    border: 1px solid rgb(1, 51, 86);
    /*margin: 10px;*/
}

.tableForm {
    width: 100%;
    margin: 5px;
}

    .tableForm td {
        padding: 10px 0;
    }

.inlineForm {
    display: inline-block;
}

    .inlineForm td {
        height: 30px;
        padding: 0px;
        vertical-align: bottom !important;
        border: none !important;
    }

        .inlineForm td > * {
            margin: 0 7px 3px 7px;
        }
/* Forms */

/* Polymer Elements Defautls */
paper-tabs {
    background-color: #DADADA;
    margin: 15px 0;
    border-radius: 8px;
}

paper-tab {
    /*border: 1px solid black;*/
    /*border-collapse: collapse;*/
}

paper-tab.iron-selected, paper-tab:hover {
    background-color: #71BCC1;
}
/* Polymer Elements Defautls */
