
@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projeto PROJ0001</h2>


<link rel="import" href="/elements/projects/project_details.html">

<x-projectdetails _projectid="PROJ0001" _areaid="1"></x-projectdetails>
