
@{
    ViewData["Title"] = "Faturacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/elements/projects/invoice.html">

<h1 class="title">Faturação</h1>

<x-invoice _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-invoice>
