
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projetos Area 1</h2>
<link rel="import" href="~/elements/projects/project_list.html">

<x-projectlist _areaid="2"></x-projectlist>

