
@{
    ViewData["Title"] = "MovimentosDeProjeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/lib/vaadin-themable-mixin/vaadin-themable-mixin.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="~/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box-behavior.html" />
<link rel="import" href="~/lib/iron-form/iron-form.html" />
<link rel="import" href="~/lib/paper-input/paper-input.html" />
<link rel="import" href="~/lib/paper-checkbox-master/paper-checkbox.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />

<h1 class="title">Movimentos do projeto @ViewBag.ProjectNo</h1>

<x-jobledgerentry></x-jobledgerentry>
<dom-module id="x-jobledgerentry">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        @*POPULATE GRID*@
        <iron-ajax url="/Projetos/GetProjectMovements"
                   last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   id="grid_databound_ajax"
                   on-response="_gridListResponse"
                   content-type="application/json"></iron-ajax>

        @*Populate Dropdown*@
        <iron-ajax url="/PopulateDropdowns/GetProjectDiaryMovements"
                   last-response="{{response2}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetProjectDiaryTypes"
                   last-response="{{response3}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetMeasureUnits"
                   last-response="{{MeasureUnit}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetLocations"
                   last-response="{{Locations}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetRegionCode"
                   last-response="{{RegionData}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetFunctionalAreaCode"
                   last-response="{{FunctionalAreaCodeData}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetResponsabilityCenterCode"
                   last-response="{{ResponsabilityCenterData}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json"></iron-ajax>
        
        <vaadin-grid aria-label="Movimentos de Projeto" id="projectMovementTable" items="[[result]]" class="editGrid">
            
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="projectNo">Nº Projeto</vaadin-grid-sorter>
                    <vaadin-grid-filter path="projectNo" />
                </template>
                <template>
                    {{item.projectNo}}
                </template>
            </vaadin-grid-column>
            
            <vaadin-grid-column width="110px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="date">Date</vaadin-grid-sorter>
                    <vaadin-grid-filter path="date" />
                </template>
                <template>
                    {{item.date}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="moveType">Tipo Movimento</vaadin-grid-sorter>
                    <vaadin-grid-filter path="moveType" />
                </template>
                <template>                   
                    <vaadin-combo-box items="[[response2]]" item-value-path="id" disabled item-label-path="value" value="{{item.movementType}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="type">Tipo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="type" />
                </template>
                <template>
                    <vaadin-combo-box items="[[response3]]" disabled item-value-path="id" item-label-path="value" value="{{item.type}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="code">Código</vaadin-grid-sorter>
                    <vaadin-grid-filter path="code" />
                </template>
                <template>
                    {{item.code}}
                    @*<vaadin-combo-box items="[[]]" item-value-path="id" disabled item-label-path="value" value="{{item.code}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>*@
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="description">Descrição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="description" />
                </template>
                <template>
                    {{item.description}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px" resizable>
                <template class="header" width="200px" resizable>
                    <vaadin-grid-sorter path="quantity">Quantidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="quantity" />
                </template>
                <template>
                  {{item.quantity}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="measurementUnitCode">Cód. Unidade Medida</vaadin-grid-sorter>
                    <vaadin-grid-filter path="measurementUnitCode" />
                </template>
                <template>
                    <vaadin-combo-box items="[[MeasureUnit]]" item-value-path="id" disabled item-label-path="value" value="{{item.measurementUnitCode}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="locationCode">Cód. Localização</vaadin-grid-sorter>
                    <vaadin-grid-filter path="locationCode" />
                </template>
                <template>
                    <vaadin-combo-box items="[[Locations]]" item-value-path="id" disabled item-label-path="value" value="{{item.locationCode}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column  width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="serviceObject">Objeto Serviço</vaadin-grid-sorter>
                    <vaadin-grid-filter path="serviceObject" />
                </template>
                <template>
                    {{item.serviceObject}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="regionCode">Cód. Região</vaadin-grid-sorter>
                    <vaadin-grid-filter path="regionCode" />
                </template>
                <template>
                    <vaadin-combo-box items="[[RegionData]]" item-value-path="id" disabled item-label-path="value" value="{{item.regionCode}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="functionalAreaCode">Cód Área Funcional</vaadin-grid-sorter>
                    <vaadin-grid-filter path="functionalAreaCode" />
                </template>
                <template>
                    <vaadin-combo-box items="[[FunctionalAreaCodeData]]" item-value-path="id" item-label-path="value" disabled value="{{item.functionalAreaCode}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="responsabilityCenterCode">Cód. Centro Responsabilidade</vaadin-grid-sorter>
                    <vaadin-grid-filter path="responsabilityCenterCode" />
                </template>
                <template>
                    <vaadin-combo-box items="[[ResponsabilityCenterData]]" disabled item-value-path="id" item-label-path="value" value="{{item.responsabilityCenterCode}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="160px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="user">Utilizador</vaadin-grid-sorter>
                    <vaadin-grid-filter path="user" />
                </template>
                <template>
                  {{item.user}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="unitCost">Custo Unitário</vaadin-grid-sorter>
                    <vaadin-grid-filter path="unitCost" />
                </template>
                <template>
                    {{item.unitCost}}€
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="totalCost">Custo Total</vaadin-grid-sorter>
                    <vaadin-grid-filter path="totalCost" />
                </template>
                <template>
                    {{item.totalCost}}€
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="unitPrice">Preço Unitário</vaadin-grid-sorter>
                    <vaadin-grid-filter path="unitPrice" />
                </template>
                <template>
                    {{item.unitPrice}}€
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="TotalPrice">Preço total</vaadin-grid-sorter>
                    <vaadin-grid-filter path="TotalPrice" />
                </template>
                <template>
                    {{item.totalPrice}}€
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="100px" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="billable">Faturável</vaadin-grid-sorter>
                    <vaadin-grid-filter path="billable" />
                </template>
                <template>
                    <paper-checkbox name="billable" disabled checked="{{item.billable}}"></paper-checkbox>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>


    </template>
    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-jobledgerentry',
                properties: {
                    _filterActive: {
                        type: Boolean,
                        value:true
                    }
                },
                ready: function () {
                    if ("@ViewBag.ProjectNo" != "")
                    {
                        this.$.grid_databound_ajax.body = JSON.stringify("@ViewBag.ProjectNo");
                        this.$.grid_databound_ajax.generateRequest();
                        this.$.projectMovementTable.clearCache();
                    }
                },

                openToastSuccess: function (message) {
                    this.$.ToastMessageSuccess.text = message;
                    this.$.ToastMessageSuccess.open();
                },
                openToastError: function (message) {
                    this.$.ToastMessageError.text = message;
                    this.$.ToastMessageError.open();
                },

                _gridListResponse: function ()
                {
                    if (this.result == null || this.result == undefined || this.result.length == 0)
                    {
                        this.openToastError("Não existem movimentos associados a este projeto.");                        
                    }

                }
            });
        });
    </script>

</dom-module>



