
@{
    ViewData["Title"] = "PreregistoProjetos";
}
<h1 class="title">Pré-Registo</h1>


<link rel="import" href="~/elements/projects/pre_registproject.html">

<x-pre_registproject paramprojno="@ViewBag.ProjectNo" _areaid="3" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-pre_registproject>