
@{
    ViewData["Title"] = "TabelasAuxiliares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="title">Administração Projectos</h1>

<div class="list-group marginSpace">
    <a class="list-group-item" href="@Url.Action("TiposProjetoDetalhes", "Projetos")"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;Tipos de Projeto</a>
    <a class="list-group-item" href="@Url.Action("Configuracoes", "Administracao")"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;TABELA XPTO2</a>
    <a class="list-group-item" href="@Url.Action("Configuracoes", "Administracao")"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;TABELA XPTO3</a>
    <a class="list-group-item" href="@Url.Action("Configuracoes", "Administracao")"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;TABELA XPTO4</a>
</div>


