
@{
    ViewData["Title"] = "Direcção | Pedidos de Participação em Formação Externa para Aprovar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AprovacaoDireccao</title>
    <h1>DIRECÇÃO | OS MEUS PEDIDOS PARA APROVAR ESTÃO AQUI</h1>
</head>
<body>
</body>
</html>
