
@{
    ViewData["Title"] = "Academia | Gestão de Pedidos de Participação em Formação Externa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GestaoPedidos</title>
</head>
<body>
</body>
</html>
