
@{
    ViewData["Title"] = "Administração Pedidos de Participação em Formação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<link rel="import" href="~/elements/academia/AcademiaAdministracao.html" />
<x-adminacademia></x-adminacademia>

@*<x-adminacademia _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-adminacademia>*@

