
@{
    ViewData["Title"] = "Os meus Pedidos de Participação em Formação Externa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MeusPedidos</title>
    <h1>OS MEUS PEDIDOS ESTÃO AQUI</h1>
</head>
<body>
</body>
</html>
